<!DOCTYPE html>
<html lang="es">
<head>
	<!--
		Charisma v1.0.0

		Copyright 2012 Muhammad Usman
		Licensed under the Apache License v2.0
		http://www.apache.org/licenses/LICENSE-2.0

		http://usman.it
		http://twitter.com/halalit_usman
	-->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} DiCars</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="DiCars">
	<meta name="author" content="CLM Developers">

	<!-- The styles -->
	<link id="bs-css" href="{{asset('css/bootstrap-spacelab.css')}}" rel="stylesheet">
	<style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>
	<link href="{{ asset('css/bootstrap-responsive.css')}}" rel="stylesheet">
	<link href="{{ asset('css/charisma-app.css') }}" rel="stylesheet">
	<link href="{{ asset('css/jquery-ui-1.8.21.custom.css')}}" rel="stylesheet">
	<link href="{{ asset('css/fullcalendar.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/fullcalendar.print.css')}}" rel='stylesheet'  media='print'>
	<link href="{{ asset('css/chosen.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/uniform.default.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/colorbox.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/jquery.cleditor.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/jquery.noty.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/noty_theme_default.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/elfinder.min.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/elfinder.theme.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/jquery.iphone.toggle.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/opa-icons.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/uploadify.css')}}" rel='stylesheet'>
	<link href="{{ asset('css/DicarsDataTable.css')}}" rel='stylesheet'>
	{% block estilos %}
	{% endblock %}
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- The fav icon -->
	<!-- link rel="shortcut icon" href="{{ asset('img/favicon.ico')}}"-->
		
</head>

<body>
		<!-- topbar starts -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"> <img alt="DiCars Logo" src="{{ asset('img/logo20.png')}}" /> <span>DiCars</span></a>
				
				<!-- user dropdown starts -->
				<div class="btn-group pull-right" >
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone"> admin</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
				</div>
				<!-- user dropdown ends -->
				
				<!-- div class="top-nav nav-collapse">
					<ul class="nav">
						<li><a href="#">Visit Site</a></li>
						<li>
							<form class="navbar-search pull-left">
								<input placeholder="Search" class="search-query span2" name="query" type="text">
							</form>
						</li>
					</ul>
				</div --><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<!-- topbar ends -->
		<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">Ventas</li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_clientes_dm') }}"><i class="icon-user"></i><span class="hidden-tablet"> Morosos y Deudores</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_control_salidas') }}"><i class="icon-eye-open"></i><span class="hidden-tablet"> Control de Salidas</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_cronograma') }}"><i class="icon-edit"></i><span class="hidden-tablet"> Cronograma de Pago</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_ofertas') }}"><i class="icon-list-alt"></i><span class="hidden-tablet"> Ofertas</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_regimp_tarjetacredito') }}"><i class="icon-font"></i><span class="hidden-tablet"> Tarjeta de Crédito</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_separar_productos') }}"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Separar Productos</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_venta_productos') }}"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Venta</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_ingregr_dia') }}"><i class="icon-list-alt"></i><span class="hidden-tablet"> Reporte de Ingresos/Egresos</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_reporte_zonas') }}"><i class="icon-list-alt"></i><span class="hidden-tablet"> Reporte de Zonas</span></a></li>
						<li class="nav-header hidden-tablet">Logística</li>
						<li><a class="ajax-link" href="{{ path('dicars_logistica_productos') }}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Administrar Productos</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_logistica_proveedores') }}"><i class="icon-user"></i><span class="hidden-tablet"> Administrar Proveedores</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_logistica_pedidos') }}"><i class="icon-th"></i><span class="hidden-tablet"> Pedidos</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_logistica_cons_ingresoproductos') }}"><i class="icon-folder-open"></i><span class="hidden-tablet"> Ingreso de Productos</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_logistica_cons_salidaproductos') }}"><i class="icon-star"></i><span class="hidden-tablet"> Salida de Productos</span></a></li>
						<li class="nav-header hidden-tablet">Administración</li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_clientes') }}"><i class="icon-user"></i><span class="hidden-tablet"> Clientes</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_ventas_trabajadores') }}"><i class="icon-user"></i><span class="hidden-tablet"> Trabajadores</span></a></li>
						<li><a href="{{ path('dicars_admin_usuarios') }}"><i class="icon-lock"></i><span class="hidden-tablet"> Usuarios</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_logistica_locales') }}"><i class="icon-th"></i><span class="hidden-tablet"> Locales</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_admin_cargos') }}"><i class="icon-folder-open"></i><span class="hidden-tablet"> Cargos</span></a></li>
						<li><a class="ajax-link" href="{{ path('dicars_admin_categorias') }}"><i class="icon-star"></i><span class="hidden-tablet"> Categorías</span></a></li>
						<li><a href="{{ path('dicars_admin_marcas') }}"><i class="icon-ban-circle"></i><span class="hidden-tablet"> Marcas</span></a></li>
						<li><a href="{{ path('dicars_admin_constantes') }}"><i class="icon-globe"></i><span class="hidden-tablet"> Constantes</span></a></li>
					</ul>
				</div>
				<!--/.well -->
			</div>
			<!--/span-->
			<!-- left menu ends -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- content starts -->
			

			<div>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					{% block breadcrumb %}
					{% endblock %}
				</ul>
			</div>  
{% block content %}
{% endblock %}		  
       
					<!-- content ends -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<hr>

		<footer>
			<p class="pull-left">&copy; <a href="http://clmdevelopers.com" target="_blank">CLM Developers</a> 2013</p>
			<p class="pull-right">Powered by: <a href="http://clmdevelopers.com" target="_blank">CLM Developers</a></p>
		</footer>
		
	</div><!--/.fluid-container-->

	<!-- external javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<!-- jQuery -->
	<script src="{{ asset('js/jquery-1.7.2.min.js')}}"></script>
	<!-- jQuery UI -->
	<script src="{{ asset('js/jquery-ui-1.8.21.custom.min.js')}}"></script>
	<!-- transition / effect library -->
	<script src="{{ asset('js/bootstrap-transition.js')}}"></script>
	<!-- alert enhancer library -->
	<script src="{{ asset('js/bootstrap-alert.js')}}"></script>
	<!-- modal / dialog library -->
	<script src="{{ asset('js/bootstrap-modal.js')}}"></script>
	<!-- custom dropdown library -->
	<script src="{{ asset('js/bootstrap-dropdown.js')}}"></script>
	<!-- scrolspy library -->
	<script src="{{ asset('js/bootstrap-scrollspy.js')}}"></script>
	<!-- library for creating tabs -->
	<script src="{{ asset('js/bootstrap-tab.js')}}"></script>
	<!-- library for advanced tooltip -->
	<script src="{{ asset('js/bootstrap-tooltip.js')}}"></script>
	<!-- popover effect library -->
	<script src="{{ asset('js/bootstrap-popover.js')}}"></script>
	<!-- button enhancer library -->
	<script src="{{ asset('js/bootstrap-button.js')}}"></script>
	<!-- accordion library (optional, not used in demo) -->
	<script src="{{ asset('js/bootstrap-collapse.js')}}"></script>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<script src="{{ asset('js/bootstrap-carousel.js')}}"></script>
	<!-- autocomplete library -->
	<script src="{{ asset('js/bootstrap-typeahead.js')}}"></script>
	<!-- tour library -->
	<script src="{{ asset('js/bootstrap-tour.js')}}"></script>
	<!-- library for cookie management -->
	<script src="{{ asset('js/jquery.cookie.js')}}"></script>
	<!-- calander plugin -->
	<script src="{{ asset('js/fullcalendar.min.js')}}"></script>
	<!-- data table plugin -->
	<script src="{{ asset('js/jquery.dataTables.min.js')}}"></script>

	<!-- chart libraries start -->
	<script src="{{ asset('js/excanvas.js')}}"></script>
	<script src="{{ asset('js/jquery.flot.min.js')}}"></script>
	<script src="{{ asset('js/jquery.flot.pie.min.js')}}"></script>
	<script src="{{ asset('js/jquery.flot.stack.js')}}"></script>
	<script src="{{ asset('js/jquery.flot.resize.min.js')}}"></script>
	<!-- chart libraries end -->

	<!-- select or dropdown enhancer -->
	<script src="{{ asset('js/jquery.chosen.min.js')}}"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="{{ asset('js/jquery.uniform.min.js')}}"></script>
	<!-- plugin for gallery image view -->
	<script src="{{ asset('js/jquery.colorbox.min.js')}}"></script>
	<!-- rich text editor library -->
	<script src="{{ asset('js/jquery.cleditor.min.js')}}"></script>
	<!-- notification plugin -->
	<script src="{{ asset('js/jquery.noty.js')}}"></script>
	<!-- file manager library -->
	<script src="{{ asset('js/jquery.elfinder.min.js')}}"></script>
	<!-- star rating plugin -->
	<script src="{{ asset('js/jquery.raty.min.js')}}"></script>
	<!-- for iOS style toggle switch -->
	<script src="{{ asset('js/jquery.iphone.toggle.js')}}"></script>
	<!-- autogrowing textarea plugin -->
	<script src="{{ asset('js/jquery.autogrow-textarea.js')}}"></script>
	<!-- multiple file upload plugin -->
	<script src="{{ asset('js/jquery.uploadify-3.1.min.js')}}"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script src="{{ asset('js/jquery.history.js')}}"></script>
	<!-- application script for Charisma demo -->
	<script src="{{ asset('js/charisma.js')}}"></script>
	{% block javascript %}
	{% endblock %}
		
</body>
</html>