{% extends "::baseCharisma.html.twig" %}
{% block title %}Clientes - Administración -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_clientes')}}">Clientes</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>CLIENTES</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Cliente"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="clientes_table">
				<thead>
					<tr>
						<th>Nombres</th>
					  	<th>Apellidos</th>
					  	<th>DNI</th>
					  	<th>Línea de Crédito</th>
					  	<th></th>
					  	<th></th>				  
				  	</tr>
			  	</thead>
		  	</table>  
  			{% include 'DicarsVentasBundle:Default:registrar_cliente.html.twig' %}
		     
			<div class="modal hide fade" id="modalEditarDatos">
				<div class="modal-header">
					<h3>Editar Cliente</h3>
				</div>
				<form id="EditarClienteForm" class="form-horizontal" method="post" action="{{ path('dicars_ventas_editar_cliente') }}">
				</form>
			</div>		
		
			<div class="modal hide fade" id="modalVerDatos">
				<div class="modal-header">
					<h3>Datos del Cliente</h3>
				</div>
				<div id="VerClienteForm" class="form-horizontal">
				</div>
			</div>
		</div>
				
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">


var oTable;

var ReloadTableEditar;
var ReloadTableRegistrar;

var CargarBotones;

function cargarEditar(cliente){
			
	ArrayDatos = [	{'type':'hidden','value':cliente.id,'name':'idE'},
	          		{'label':'Nombres','type':'input', 'typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto: solo letras', 'req':'', 'max':'50','value':cliente.nombre,'name':'nombresE'},
	              	{'label':'Apellidos','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto: solo letras', 'req':'', 'max':'50','value':cliente.apellido,'name':'apellidosE'},
	              	{'label':'Dni','type':'input','typeinput':'text','pattern':'[0-9]{8,}','title':'Debe tener el formato correcto', 'req':'', 'max':'8','value':cliente.dni,'name':'dniE'},
	              	{'label':'Dirección','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç0-9.]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'200','value':cliente.direccion,'name':'direccionE'},
	              	{'label':'Referencia','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç0-9.]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'200','value':cliente.referencia,'name':'referenciaE'},
	              	{'label':'Ocupación','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto: solo letras', 'req':'', 'max':'40','value':cliente.ocupacion,'name':'ocupacionE'},
	              	{'label':'Línea Op','type':'inputnumber', 'req':'', 'step':'0.10', 'min':'0', 'max':'1000','value':cliente.linea_credito,'name':'lineaopE'},
	              	{'label':'Arc Crédito','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto: solo letras', 'req':'', 'max':'1000','value':cliente.arccredito,'name':'arccreditoE'},
	              	{'label':'Zona','type':'select','name':'zonaE'},
					{'type':'actions'}];
		
	$("#EditarClienteForm").html(crearElementosForm(ArrayDatos));

	cargarSelect(zonas,'zonaE','id','desc');
	$('#zonaE').val(cliente.zonaId);
	
}

function cargarVer(cliente){

	ArrayDatos = [	{'label':'Nombres','type':'span','value':cliente.nombre},
	              	{'label':'Apellidos','type':'span','value':cliente.apellido},
	              	{'label':'Dni','type':'span','value':cliente.dni},
	              	{'label':'Dirección','type':'span','value':cliente.direccion},
	              	{'label':'Referencia','type':'span','value':cliente.referencia},
	              	{'label':'Ocupación','type':'span','value':cliente.ocupacion},
	              	{'label':'Línea Operativa','type':'span','value':cliente.linea_credito},
	              	{'label':'Documento','type':'span','value':cliente.arccredito},
	              	{'label':'Zona','type':'span','value':cliente.zonadesc},
					{'type':'close'}];
		
	$("#VerClienteForm").html(crearElementosForm(ArrayDatos));
}

$(document).ready(function(){

	ubigeos = getAjaxObject("{{ path('dicars_admin_servicio_getoptionubigeo') }}");
	cargarUbigeo('dist', 'prov', 'dep');

	zonas = getAjaxObject("{{ path('dicars_admin_servicio_getoptionzonas') }}");
	cargarSelect(zonas,'zona','id','desc');

	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-datos').click(function(e){
			e.preventDefault();
			cargarVer(aData);
			$('#modalVerDatos').modal('show');
		});
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarDatos').modal('show');
		});
	};
	
	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
	e.preventDefault();
	$('#modalRegistro').modal('show');
	});


	
	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaclientes") }}';
	FormatoDTable = [
	              { "sWidth": "15%","mDataProp": "nombre"},
	              { "sWidth": "15%","mDataProp": "apellido"},
	              { "sWidth": "15%","mDataProp": "dni"},
	              { "sWidth": "15%","mDataProp": "linea_credito"},	              
	              { "sWidth": "13%","mDataProp": "ver_btn"},
	              { "sWidth": "13%","mDataProp": "edit_btn"}
	              ];
	oTable = createDataTable('clientes_table',UrlaDTable,FormatoDTable,null,RowCallBackFunction);

ReloadTableEditar = reloadclosemodal('modalEditarDatos', 'clientes_table');
ReloadTableRegistrar = reloadclosemodal('modalRegistro', 'clientes_table');

enviar('RegistrarClienteForm', ReloadTableRegistrar);
enviar('EditarClienteForm', ReloadTableEditar);
});

</script>
{% endblock %}