{% extends "::baseCharisma.html.twig" %}
{% block title %}Clientes - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_clientes')}}">Clientes</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i>Clientes</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Cliente"><i class="icon-plus"></i></a>
				<!-- a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a -->
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="clientes_table">
			  <thead>
				  <tr>
					  <th>Nombres</th>
					  <th>Apellidos</th>
					  <th>DNI</th>
					  <th>Línea de Crédito</th>
					  <th>Acciones</th>
				  </tr>
			  </thead>
		  </table>  
		  
		<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Datos del Cliente</h3>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<fieldset>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Nombres</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Claudia María</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Apellidos</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Valdivieso Catillo</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Línea de Crédito</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">1000000</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">DNI</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">12345678</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Dirección</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Hola mundo 123</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Referencia</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Por mi casa</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="region">Región</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">La Libertad</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="provincia">Provincia</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Trujillo</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="distrito">Distrito</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Victor Larco</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="zona">Zona</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Zona 9</span>
						</div>
					  </div>
					  <div class="form-actions">
						<!-- button type="submit" class="btn btn-primary">Guardar</button -->
						<button class="btn" data-dismiss="modal">Cerrar</button>
					  </div>
					</fieldset>
				  </div>
			</div>
			<!-- div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
				<a href="#" class="btn btn-primary">Guardar</a>
			</div -->
			
		</div>  
		     {% include 'DicarsVentasBundle:Default:registrar_cliente.html.twig' %}
		</div>
				
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">
$(document).ready(init());

//init------------------------------------>
function init(){
	//Funcion para cargar las funciones de los botones
	var CargarBotones = function(){	

	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
	e.preventDefault();
	$('#modalRegistro').modal('show');
	});
	//mostrar Editar Cliente------------------------------------>
	$('.btn-editar').click(function(e){
	e.preventDefault();
	$('#modalRegistro').modal('show');
	});
	//mostrar Ver Datos Cliente------------------------------------>
	$('.btn-datos').click(function(e){
	e.preventDefault();
	$('#modalVerDatos').modal('show');
	});

	};
	
	enviar('RegistrarClienteForm', logdata);
	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaclientes") }}';
	FormatoDTable = [
	              { "sWidth": "15%","mDataProp": "nombre"},
	              { "sWidth": "15%","mDataProp": "apellido"},
	              { "sWidth": "15%","mDataProp": "dni"},
	              { "sWidth": "15%","mDataProp": "linea_credito"},	              
	              { "sWidth": "40%","mDataProp": "Acciones"}
	              ];
oTable = createDataTable('clientes_table',UrlaDTable,FormatoDTable,CargarBotones);
}

function cargarEditar(id){
	url = "{{ path('dicars_ventas_servicio_getclientebyid', {'id': ''}) }}/"+id;
	cliente = getAjaxObject(url);			

	ArrayDatos = [	{'type':'hidden','value':cliente.id,'name':'id'},
	          		{'label':'RUC','type':'input', 'typeinput':'text','value':proveedor.ruc,'name':'ruc'},
	              	{'label':'Razón Social','type':'input','typeinput':'text','value':proveedor.razonsocial,'name':'razonsocial'},
	              	{'label':'Cuenta Corriente','type':'input','typeinput':'text','value':proveedor.ccorriente,'name':'ccorriente'},
	              	{'label':'Dirección','type':'input','typeinput':'text','value':proveedor.direccion,'name':'direccion'},
	              	{'label':'Teléfono','type':'input','typeinput':'text','value':proveedor.telefono,'name':'telefono'},
	              	{'label':'Email','type':'input','typeinput':'text','value':proveedor.email,'name':'email'},
	              	{'label':'Página Web','type':'input','typeinput':'text','value':proveedor.sitioweb,'name':'paginaweb'},
					{'type':'actions'}];
		
	$("#EditarProveedorForm").html(crearElementosForm(ArrayDatos));
}
</script>
{% endblock %}