{% extends "::baseCharisma.html.twig" %}
{% block title %}Clientes - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_clientes')}}">Clientes</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i>Clientes</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Cliente"><i class="icon-plus"></i></a>
				<!-- a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a -->
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="clientes_table">
			  <thead>
				  <tr>
					  <th>Nombres</th>
					  <th>Apellidos</th>
					  <th>DNI</th>
					  <th>Línea de Crédito</th>
					  <th>Acciones</th>
				  </tr>
			  </thead>
		  </table>  
  
		     {% include 'DicarsVentasBundle:Default:registrar_cliente.html.twig' %}
		     
		<div class="modal hide fade" id="modalEditarDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Editar Proveedor</h3>
			</div>
			<div class="modal-body">
				<form id="EditarClienteForm" class="form-horizontal" method="post" action="{{ path('dicars_ventas_editar_cliente') }}">
				</form>
			</div>
		</div>		
		
		<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Datos del Proveedor</h3>
			</div>
			<div class="modal-body">
				<div id="VerClienteForm" class="form-horizontal">
				</div>
			</div>
		</div>
				     
		</div>
				
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">


var oTable;

var ReloadTableEditar = reloadclosemodal('modalEditarDatos');
var ReloadTableRegistrar = reloadclosemodal('modalRegistro');

var CargarBotones = function(){	
	//mostrar Editar Cliente------------------------------------>
	$('.btn-editar').click(function(e){
	e.preventDefault();
	$('#modalEditarDatos').modal('show');
	id=$(this).attr("id-data");		
	cargarEditar(id);	
	});
	//mostrar Ver Datos Cliente------------------------------------>
	$('.btn-datos').click(function(e){
	e.preventDefault();
	$('#modalVerDatos').modal('show');
	id=$(this).attr("id-data");		
	cargarVer(id);
	});
	};	


function cargarEditar(id){
	url = "{{ path('dicars_ventas_servicio_getclientebyid', {'id': ''}) }}/"+id;	
	cliente = getAjaxObject(url);
			
	ArrayDatos = [	{'type':'hidden','value':cliente.id,'name':'id'},
	          		{'label':'Nombres','type':'input', 'typeinput':'text','value':cliente.nombres,'name':'nombres'},
	              	{'label':'Apellidos','type':'input','typeinput':'text','value':cliente.apellidos,'name':'apellidos'},
	              	{'label':'Dni','type':'input','typeinput':'text','value':cliente.dni,'name':'dni'},
	              	{'label':'Referencia','type':'input','typeinput':'text','value':cliente.referencia,'name':'referencia'},
	              	{'label':'Dirección','type':'input','typeinput':'text','value':cliente.direccion,'name':'direccion'},
	              	{'label':'Zona','type':'input','typeinput':'text','value':cliente.zona,'name':'zona'},
	              	{'label':'Línea Op','type':'input','typeinput':'text','value':cliente.lineaop,'name':'lineaop'},
	              	{'label':'Arc Crédito','type':'input','typeinput':'text','value':cliente.arccredito,'name':'arccredito'},
	              	{'label':'Ocupación','type':'input','typeinput':'text','value':cliente.ocupacion,'name':'ocupacion'},
					{'type':'actions'}];
		
	$("#EditarClienteForm").html(crearElementosForm(ArrayDatos));
}

function cargarVer(id){
	url = "{{ path('dicars_ventas_servicio_getclientebyid', {'id': ''}) }}/"+id;
	console.log("HOLA");	
	cliente = getAjaxObject(url);
			

	ArrayDatos = [	{'label':'Nombres','type':'span', 'typeinput':'text','value':cliente.nombres,'name':'nombres'},
	              	{'label':'Apellidos','type':'span','typeinput':'text','value':cliente.apellidos,'name':'apellidos'},
	              	{'label':'Dni','type':'span','typeinput':'text','value':cliente.dni,'name':'dni'},
	              	{'label':'Referencia','type':'span','typeinput':'text','value':cliente.referencia,'name':'referencia'},
	              	{'label':'Dirección','type':'span','typeinput':'text','value':cliente.direccion,'name':'direccion'},
	              	{'label':'Zona','type':'span','typeinput':'text','value':cliente.zona,'name':'zona'},
	              	{'label':'Línea Op','type':'span','typeinput':'text','value':cliente.lineaop,'name':'lineaop'},
	              	{'label':'Arc Crédito','type':'span','typeinput':'text','value':cliente.arccredito,'name':'arccredito'},
	              	{'label':'Ocupación','type':'span','typeinput':'text','value':cliente.ocupacion,'name':'ocupacion'},
					{'type':'close'}];
		
	$("#VerClienteForm").html(crearElementosForm(ArrayDatos));
}

$(document).ready(function(){

	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
	e.preventDefault();
	$('#modalRegistro').modal('show');
	});

	enviar('RegistrarClienteForm', ReloadTableRegistrar);
	enviar('EditarClienteForm', ReloadTableEditar);
	
	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaclientes") }}';
	FormatoDTable = [
	              { "sWidth": "15%","mDataProp": "nombre"},
	              { "sWidth": "15%","mDataProp": "apellido"},
	              { "sWidth": "15%","mDataProp": "dni"},
	              { "sWidth": "15%","mDataProp": "linea_credito"},	              
	              { "sWidth": "40%","mDataProp": "Acciones"}
	              ];
oTable = createDataTable('clientes_table',UrlaDTable,FormatoDTable,CargarBotones);
	
});

</script>
{% endblock %}