{% extends "::baseCharisma.html.twig" %}
{% block title %}Clientes - Administración -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_clientes')}}">Clientes</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>CLIENTES</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Cliente"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
			</div>
			<div class="span6">
				<input id="pdfgen" type="button" value="Reporte General" class="btn btn-success" style="float: right; margin: 10px 10px 0 0;"/>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="clientes_table">
				<thead>
					<tr>
						<th>Nombre y Apellidos</th>
					  	<th>DNI</th>
					  	<th>Línea de Crédito</th>
					  	<th></th>
					  	<th></th>
					  	<th></th>				  
				  	</tr>
			  	</thead>
		  	</table>  
  			{% include 'DicarsVentasBundle:Default:registrar_cliente.html.twig' %}
		     
			<div class="modal hide fade" id="modalEditarDatos">
				<div class="modal-header">
					<h3>Editar Cliente</h3>
				</div>
				<form id="EditarClienteForm" class="form-horizontal" method="post" action="{{ path('dicars_ventas_editar_cliente') }}">
				</form>
			</div>		
		
			<div class="modal hide fade" id="modalVerDatos">
				<div class="modal-header">
					<h3>Datos del Cliente</h3>
				</div>
				<div id="VerClienteForm" class="form-horizontal">
				</div>
			</div>
		</div>
		<div class="modal hide fade" id="exportmodal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>EXPORTAR</h3>
			</div>
			<div class="modal-body">
				<form method="post" target="_blank" id="CreatePDFForm">
					<input type="hidden" name="title" id="title"/>
					<input type="hidden" name="table_clientes" id="table_clientes"/>
					<div class="sortable row-fluid ui-sortable">
						<a id="pdfbutton" data-rel="tooltip" class="well span3 top-block" style="width: 48%;" href="#" data-original-title="Exportar a PDF.">
							<span class="icon32 icon-color icon-pdf"></span>
							<div>PDF</div>
						</a>
		
						<a id="xlsutton" data-rel="tooltip" class="well span3 top-block" style="width: 48%;" href="#" data-original-title="Exportar a Excel.">
							<span class="icon32 icon-color icon-xls"></span>
							<div>Excel</div>
						</a>
					</div>
				</form>				
			</div>
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">


var oTable;

var ReloadTableEditar;
var ReloadTableRegistrar;
var DrawCallbackClientes;
var tabla_clientes;

var CargarBotones;
var ClientesTable;
var finishUploadEditar;
var idcliente;

var urlExportXLS = "{{ asset('extensiones/reportes_xls/formato_reporte_clientes.php') }}";
var urlExportPDF = "{{ asset('extensiones/reportes_pdf/formato_reporte_clientes.php') }}";

function cargarEditar(cliente){
			
	ArrayDatos = [	{'type':'hidden','value':cliente.id,'name':'idE'},
	          		{'label':'Nombres','type':'input', 'typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto: solo letras', 'req':'', 'max':'50','value':cliente.nombre,'name':'nombresE'},
	              	{'label':'Apellidos','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto: solo letras', 'req':'', 'max':'50','value':cliente.apellido,'name':'apellidosE'},
	              	{'label':'Dni','type':'input','typeinput':'text','pattern':'[0-9]{8,}','title':'Debe tener el formato correcto', 'req':'', 'max':'8','value':cliente.dni,'name':'dniE'},
	              	{'label':'Dirección','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç0-9.]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'200','value':cliente.direccion,'name':'direccionE'},
	              	{'label':'Referencia','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç0-9.]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'200','value':cliente.referencia,'name':'referenciaE'},
	              	{'label':'Ocupación','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto: solo letras', 'req':'', 'max':'40','value':cliente.ocupacion,'name':'ocupacionE'},
	              	{'label':'Línea Op','type':'inputnumber', 'req':'', 'step':'0.10', 'min':'0', 'max':'1000','value':cliente.linea_credito,'name':'lineaopE'},
	              	{'label':'Zona','type':'select','name':'zonaE'},	              	
	              	{'label':'Arc Crédito','type':'file','name':'imagenE'},
	              	{'type':'hidden','value':cliente.arccredito,'name':'nombrearchivoE'},
					{'type':'actions'}];
		
	$("#EditarClienteForm").html(crearElementosForm(ArrayDatos));
	idcliente = cliente.id;
	cargarSelect(zonas,'zonaE','id','desc');
	$('#zonaE').val(cliente.zonaId);	
}

function cargarVer(cliente){
	ArrayDatos = [	{'label':'Nombres','type':'span','value':cliente.nombre},
	              	{'label':'Apellidos','type':'span','value':cliente.apellido},
	              	{'label':'Dni','type':'span','value':cliente.dni},
	              	{'label':'Dirección','type':'span','value':cliente.direccion},
	              	{'label':'Referencia','type':'span','value':cliente.referencia},
	              	{'label':'Ocupación','type':'span','value':cliente.ocupacion},
	              	{'label':'Línea Operativa','type':'span','value':cliente.linea_credito},
	              	{'label':'Zona','type':'span','value':cliente.zonadesc},
					{'type':'close'}];
		
	$("#VerClienteForm").html(crearElementosForm(ArrayDatos));
}

$(document).ready(function(){

	finishUploadEditar = function(){
		$('#EditarClienteForm').unbind();
		enviar('EditarClienteForm',ReloadTableEditar);
		$('#EditarClienteForm').submit();
	};

	$("#EditarClienteForm").submit(function(e){
		e.preventDefault();
		if($("#imagenE").val()!="")
		{			
			var ext = getExtFile("imagenE");
			console.log(ext);
			$("#nombrearchivoE").val(idcliente+"_doc"+ext);
			uploadFile("imagenE","{{ asset('extensiones/upload.php') }}","../uploads/",idcliente+"_doc"+ext,finishUploadEditar);
		}else
			finishUploadEditar();
	});

	DrawCallbackClientes = function (){
		tabla_clientes = toHTML(crearTablaToArray("tclientes",
				['ID','NOMBRE','DNI','LINEA OPERATIVA','ZONA','DIRECCIÓN'],
				[	'style="width: 5%;" class="head" ','style="width: 25%;" class="head" ','style="width: 15%;" class="head" ',
					'style="width: 15%;" class="head" ','style="width: 15%;" class="head" ','style="width: 25%;" class="head" ',],
				['id','nombre','dni','linea_credito','zonadesc','direccion'],
				[	'style="width: 5%;" ','style="width: 25%;" ','style="width: 15%;" ',
					'style="width: 15%;" ','style="width: 15%;" ','style="width: 25%;" '],
					ClientesTable.fnGetData()));
	};

	ubigeos = getAjaxObject("{{ path('dicars_admin_servicio_getoptionubigeo') }}");
	cargarUbigeo('dist', 'prov', 'dep');

	zonas = getAjaxObject("{{ path('dicars_admin_servicio_getoptionzonas') }}");
	cargarSelect(zonas,'zona','id','desc');

	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-datos').click(function(e){
			e.preventDefault();
			cargarVer(aData);
			$('#modalVerDatos').modal('show');
		});
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarDatos').modal('show');
		});
		
		$(nRow).find('.btn-doc').click(function(e){
				$(this).attr('target', '_blank');
				$(this).attr('href',"{{ asset('uploads') }}/"+aData.arccredito);
		});
	};
	
	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
	e.preventDefault();
	$('#modalRegistro').modal('show');
	});


	
	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaclientes") }}';
	FormatoDTable = [
	              { "sWidth": "16%","mDataProp": "nomape"},
	              { "sWidth": "16%","mDataProp": "dni"},
	              { "sWidth": "16%","mDataProp": "linea_credito"},	              
	              { "sWidth": "16%","mDataProp": "ver_btn"},
	              { "sWidth": "16%","mDataProp": "edit_btn"},
	              { "sWidth": "16%","mDataProp": "doc_btn"}
	              ];
	ClientesTable = createDataTable('clientes_table',UrlaDTable,FormatoDTable,DrawCallbackClientes,RowCallBackFunction);

	ReloadTableEditar = reloadclosemodal('modalEditarDatos', 'clientes_table');
	ReloadTableRegistrar = reloadclosemodal('modalRegistro', 'clientes_table');
	
	enviar('RegistrarClienteForm', ReloadTableRegistrar);
	enviar('EditarClienteForm', ReloadTableEditar);

	$("#pdfgen").click(function(){
		$("#title").val("LISTA DE CLIENTES");
		$("#table_clientes").val(tabla_clientes);
		$("#exportmodal").modal('show');	
	});
	
	$("#pdfbutton").click(function(e){
		e.preventDefault();
		$("#CreatePDFForm").attr("action",urlExportPDF);
		$("#CreatePDFForm").submit();
		$("#exportmodal").modal('hide');
	});
	
	$("#xlsutton").click(function(e){
		e.preventDefault();
		$("#CreatePDFForm").attr("action",urlExportXLS);
		$("#CreatePDFForm").submit();
		$("#exportmodal").modal('hide');
	});
});

</script>
{% endblock %}