{% extends "::baseCharisma.html.twig" %}
{% block title %}Clientes - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_cronograma')}}">Cronograma de Pago</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>CRÉDITOS DE {{ nombre_cliente }}</h2>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="creditos_table">
			  <thead>
				  <tr>
					  <th>Fecha de la Venta</th>
					  <th>Monto Total</th>
					  <th>Monto Pagado</th>
					  <th>Nro de Cuotas</th>
					  <th>Estado</th>
					  <th></th>
					  <th></th>
				  </tr>
			  </thead>
		  </table>
		</div>
		<div class="modal hide fade" id="modalCuotas">
			<div class="modal-header">
				<h3>Cuotas</h3>
			</div>
			<div class="modal-body">
				<form id="PagarCuotasForm" class="form-horizontal" method="post" action="{{ path('dicars_ventas_pagar_cuota') }}">
					<div class="control-group">
						<label class="control-label" for="amortizacion">A cuenta</label>
						<div class="controls">
							<div class="input-append">
								<input class="input-xlarge focused" style="margin: 0 0px 0 0;" id="monto" type="number" step="0.1" value="0" min="0">
								<input type="hidden" name="monto" id="montoapg">
								<span id="spanamort" class="add-on">s/.</span>
							</div>
							<input type="hidden" name="idcredito" id="idcredito">
							<button id="pagar"type="button" class="btn btn-warning btn-buscarc" style="margin: 0 18px;"><i class='icon-pago'></i> Pagar</button>
						</div>
					</div>
				</form>
				<table id="cuotas_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				  <thead>
					  <tr>
						  <th>Fecha de Pago</th>
						  <th>Nro de Cuota</th>
						  <th>Monto Pagar</th>
						  <th>Monto Aplicado</th>
					  </tr>
				  </thead>   
				  <tbody>			
				  </tbody>
			  </table> 
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
				<a id='guardar_pago' id="btn-guardar" href="#" class="btn btn-primary">Guardar</a>
			</div>
		</div>
		<div class="form-actions">
			<a href="{{ path('dicars_ventas_cronograma') }}" class="btn btn-success"><i class="icon icon-white icon-arrowthick-w"></i> Volver</a>
		</div> 
	</div><!--/span-->
	<div class="modal hide fade" id="vercronograma">
		<div class="modal-header">
			<h3>¿Desea exportar el Cronograma?</h3>
		</div>
		<div class="modal-body">
			<form method="post" target="_blank" id="CreatePDFForm">
				<input type="hidden" name="nombrearchivo" id="nombrearchivo"/>
				<input type="hidden" name="tcronograma" id="tcronograma"/>
				<input type="hidden" name="tdetalle" id="tdetalle"/>
				<input type="hidden" name="tresumen" id="tresumen"/>
				<div class="row-fluid ui-sortable">
					<a id="pdfbutton" data-rel="tooltip" class="well span3 top-block" style="width: 48%;" href="#" data-original-title="Exportar a PDF.">
						<span class="icon32 icon-color icon-pdf"></span>
						<div>PDF</div>
					</a>
	
					<a id="xlsutton" data-rel="tooltip" class="well span3 top-block" style="width: 48%;" href="#" data-original-title="Exportar a Excel.">
						<span class="icon32 icon-color icon-xls"></span>
						<div>Excel</div>
					</a>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
		</div>
	</div>
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

var OtherDataCuotas = new Array();
var CuotasTable;
var CreditosTable;
var RowCallBackFunction;
var jsonData;
var Band = true;
var Attr = ['idcrono','montoapg','montoapl','band'];
var ReloadTableCreditos;
var DetalleVentaTabla;
var CronogramaReport;


var urlExportXLS = "{{ asset('extensiones/reportes_xls/formato_reporte_cronpago.php') }}";
var urlExportPDF = "{{ asset('extensiones/reportes_pdf/formato_reporte_cronpago.php') }}";

function CalcularPago(){
	CloneAttrTable(CuotasTable,'cmonto',3);
	AddAttr(CuotasTable.fnGetData(), 'band',0);
	var Array = CuotasTable.fnGetData();
	var Monto = parseFloat($("#monto").val());
	var total = 0;
	$(Array).each(function(index){
		var deudacuota = parseFloat(this.montoapg - this.montoapl);
		if(deudacuota != 0){
			var aplicado = 0 ;
			Monto-=deudacuota;
			if(Monto <= 0){
				aplicado = parseFloat(this.montoapl) + (Monto) + deudacuota;
				total = parseFloat(total)+(Monto) + deudacuota;
				Monto = 0;
			}
			else{
				aplicado = parseFloat(this.montoapg);
				total = total + parseFloat(this.montoapg - this.montoapl);				
			}
			CuotasTable.fnUpdate(aplicado.toFixed(2),index,3);
			this.band= 1;
		}
		return (Monto != 0);
	});
	$("#montoapg").val(total.toFixed(2));
	CopyArray(OtherDataCuotas,CuotasTable.fnGetData(),false,Attr);
};

function prepararDatos(){
	var tabladetalle = toHTML(crearTablaToArray("tdetalle",
			['Producto','Cantidad', 'Precio Credito','Total'],
			['style="width: 45%;" class="prodth" ','style="width: 15%;" class="prodth" ','style="width: 20%;" class="prodth" ','style="width: 20%;" class="prodth" '],
			['desc','cantidad','precio','importe'],
			['style="width: 45%;" class="izquierda"','style="width: 15%;"','style="width: 20%;"','style="width: 20%;"'],
			CronogramaReport.detventas));

	var tablacronograma = toHTML(crearTablaToArray("tcronograma",
			['Cuota','Fecha Vencimiento', 'Deuda','Monto Pagado','Saldo','Estado'],
			['style="width: 16%;" class="prodth" ','style="width: 18%;" class="prodth" ','style="width: 16%;" class="prodth" ','style="width: 16%;" class="prodth" ','style="width: 16%;" class="prodth" ','style="width: 18%;" class="prodth" '],
			['nrocuota','fecpago','deuda','monto','saldo','estado'],
			['style="width: 16%;" class="izquierda"','style="width: 18%;"','style="width: 16%;"','style="width: 16%;"','style="width: 16%;"','style="width: 18%;" '],
			CronogramaReport.cuotas));
	
	resumen = [	{'td1':'','td2': '','td3':'NRO CREDITO:','td4':CronogramaReport.nro,},
	           	{'td1':'CLIENTE:','td2': CronogramaReport.cliente,'td3':'','td4':'',},
	           	{'td1':'FECHA REGISTRO CREDITO:','td2': CronogramaReport.fecreg,'td3':'MONTO TOTAL DEUDA:','td4':CronogramaReport.monto,}	];

	tablaresumen = toHTML(crearTablaToArray("resume",null,null,['td1','td2','td3','td4'],['style="width: 25%;" class="impar" ','style="width:25%;" ','style="width: 25%;" class="impar" ','style="width: 25%;" '],resumen));

	$('#nombrearchivo').val('{{ nombre_cliente }}');
	$('#tdetalle').val(tabladetalle);
	$('#tcronograma').val(tablacronograma);
	$('#tresumen').val(tablaresumen);
}

$(document).ready(function(){
	$("#EnviarVentaForm").bind("keypress", function(e) {
		  if (e.keyCode == 13) {               
			    e.preventDefault();
			    return false;
		  }
	});
	
	$("#pagar").click(function(e){
		e.preventDefault();
		CalcularPago();
	});

	$("#guardar_pago").click(function(e){
		e.preventDefault();
		CalcularPago();
		$("#PagarCuotasForm").submit();
	});

	$("#pdfbutton").click(function(e){
		e.preventDefault();
		$("#CreatePDFForm").attr("action",urlExportPDF);
		$("#CreatePDFForm").submit();
	});
	
	$("#xlsutton").click(function(e){
		e.preventDefault();
		$("#CreatePDFForm").attr("action",urlExportXLS);
		$("#CreatePDFForm").submit();
	});
	
	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-pagar').click(function(e){
			e.preventDefault();
			$('#modalCuotas').modal('show');
			CuotasTable.fnClearTable();
			DetalleVentaTabla = getAjaxObject("{{ path('dicars_ventas_servicio_gettablaventaproductosbyid',{'idventa':''}) }}/"+aData.idventa).aaData;
			CuotasTable.fnReloadAjax("{{ path('dicars_ventas_servicio_gettablacuotasbyId',{'idcredito':''}) }}/"+aData.idcredito);
			$("#idcredito").val(aData.idcredito);
			Band = true;
		});

		$(nRow).find('.btn-cronograma').click(function(e){
			e.preventDefault();
			$('#vercronograma').modal('show');
			CronogramaReport = getAjaxObject("{{ path('dicars_ventas_servicio_getcronpagoventa',{'idventa':''}) }}/"+aData.idventa);
			prepararDatos();
		});
	};
	
	UrlaDTableCredito = "{{ path('dicars_ventas_servicio_gettablacreditosbyId',{'idcliente':''}) }}/{{ idcliente }}";
	FormatoDTableCredito = [
	              { "sWidth": "14%","mDataProp": "fecha_venta"},
	              { "sWidth": "14%","mDataProp": "montototal"},
	              { "sWidth": "14%","mDataProp": "montopagado"},
	              { "sWidth": "14%","mDataProp": "cuotas"},
	              { "sWidth": "14%","mDataProp": "pagado"},	              
	              { "sWidth": "14%","mDataProp": "ver_pagar"},
	              { "sWidth": "14%","mDataProp": "ver_reporte"}
	              ];
	CreditosTable = createDataTable('creditos_table',UrlaDTableCredito,FormatoDTableCredito,null,RowCallBackFunction);
	
	CuotasTable = $('#cuotas_table').dataTable({
		"bProcessing": true,
		"bServerSide": false,
		"bDestroy": true,
		"sAjaxSource": "{{ path('dicars_ventas_servicio_gettablacuotasbyId',{'idcredito':0}) }}",	  
		"aoColumns": [
		              { "sWidth": "15%","mDataProp": "fecpago"},
		              { "sWidth": "15%","mDataProp": "nrocuota"},
		              { "sWidth": "15%","mDataProp": "montoapg"},
		              { "sWidth": "15%","mDataProp": "montoapl"}
		              ],
		"fnCreatedRow": function( nRow, aData, iDisplayIndex ) {
						aData.band = 1;
		              },
		"fnDrawCallback": function(oSettings ){
					setTimeout(function() {
						if(Band){
							CloneAttr(CuotasTable.fnGetData(),'montoapl','cmonto');
							
							if(CuotasTable.fnGetData().length>0)
								Band = false;
						}							
		      		});
		      	},
	 	"aaSorting": [ [0, 'asc'], [1, 'asc'] ],
	 	"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bSort": false,
		"bInfo": false,
		"bAutoWidth": false,
	 	"aoColumnDefs": [
	                  {"sType": 'string-case', "aTargets": [2]}],
		 	"sDom": "<r>t<'row-fluid'>",
		 	"sPaginationType": "bootstrap",
		 	"oLanguage": {
			"sLengthMenu": "_MENU_ registros por página"
				}	
		});

	ReloadTableCreditos = reloadclosemodal('modalCuotas','creditos_table');
	enviar("PagarCuotasForm",ReloadTableCreditos,OtherDataCuotas);
});

</script>
{% endblock %}