{% extends "::baseCharisma.html.twig" %}
{% block title %}Clientes - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_clientes')}}">Clientes</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i>Clientes</h2>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="clientes_table">
			  <thead>
				  <tr>
					  <th>Nombres</th>
					  <th>Apellidos</th>
					  <th>DNI</th>
					  <th>Línea de Crédito</th>
					  <th></th>			  
				  </tr>
			  </thead>
		  </table>  
  
		     {% include 'DicarsVentasBundle:Default:registrar_cliente.html.twig' %}
		     
		<div class="modal hide fade" id="modalEditarDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Editar Cliente</h3>
			</div>
			<div class="modal-body">
				<form id="EditarClienteForm" class="form-horizontal" method="post" action="{{ path('dicars_ventas_editar_cliente') }}">
				</form>
			</div>
		</div>		
		
		<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Datos del Cliente</h3>
			</div>
			<div class="modal-body">
				<div id="VerClienteForm" class="form-horizontal">
				</div>
			</div>
		</div>
				     
		</div>
				
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">


var ClientesTable;

$(document).ready(function(){

	ubigeos = getAjaxObject("{{ path('dicars_admin_servicio_getoptionubigeo') }}");
	cargarUbigeo('dist', 'prov', 'dep');

	zonas = getAjaxObject("{{ path('dicars_admin_servicio_getoptionzonas') }}");
	cargarSelect(zonas,'zona','id','desc');

	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
	};
	
	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaclientes") }}';
	FormatoDTable = [
	              { "sWidth": "15%","mDataProp": "nombre"},
	              { "sWidth": "15%","mDataProp": "apellido"},
	              { "sWidth": "15%","mDataProp": "dni"},
	              { "sWidth": "15%","mDataProp": "linea_credito"},	              
	              { "sWidth": "13%","mDataProp": "ver_pagar"}
	              ];
	ClientesTable = createDataTable('clientes_table',UrlaDTable,FormatoDTable,null,RowCallBackFunction);
});

</script>
{% endblock %}