{% extends "::baseCharisma.html.twig" %}
{% block title %}Trabajadores - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_trabajadores')}}">Trabajadores</a>
</li>
{% endblock %}
{% block content %}
{% if is_granted('ROLE_SUPORT_RH')%}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>TRABAJADORES</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Trabajador"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="empleados_table">
			  <thead>
				  <tr>
					  <th>Nombre y Apellidos</th>
					  <th>DNI</th>
					  <th>Teléfono</th>
					  <th></th>
					  <th></th>
					  <th></th>
				  </tr>
			  </thead>
		  	</table> 

		{% include 'DicarsVentasBundle:Default:registrar_trabajador.html.twig' %} 
		
		<div class="modal hide fade" id="modalEditarDatos">
			<div class="modal-header">
				<h3>Editar Trabajador</h3>
			</div>
			<form id="EditarEmpleadoForm" class="form-horizontal" method="post" action="{{ path('dicars_ventas_editar_trabajador') }}">
			</form>
		</div>		
		
		<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<h3>Datos del Trabajador</h3>
			</div>
			<div id="VerEmpleadoForm" class="form-horizontal">
			</div>
		</div>  
		    
		</div>
	</div><!--/span-->
</div><!--/row-->

{% else %}
<h2>Sin acceso disponible. Por favor consulte al administrador.</h2>

{% endif %}
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

var EmpleadosTable;

var ReloadTableEditar;
var ReloadTableRegistrar;
var RowCallBackFunction;

function cargarEditar(empleado){
				
		ArrayDatos = [	{'type':'hidden','value':empleado.id,'name':'idE'},
		      			{'label':'Cargo','type':'select','name':'cargoE'},
						{'label':'Nombres','type':'input', 'typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'50','value':empleado.nombres,'name':'nombresE'},
		              	{'label':'Apellidos','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'50','value':empleado.apellidos,'name':'apellidosE'},
		              	{'label':'Fecha Nacimiento','type':'date','value':empleado.fechanacimiento,'name':'fechanacimientoE'},
		              	{'label':'Edad','type':'input','typeinput':'text','pattern':'[0-9]{2}','title':'Debe tener el formato correcto', 'req':'', 'max':'2','value':empleado.edad,'name':'edadE'},
		              	{'label':'Dni','type':'input','typeinput':'text','pattern':'[0-9]{8,}','title':'Debe tener el formato correcto', 'req':'', 'max':'8','value':empleado.dni,'name':'dniE'},
		              	{'label':'Telefono','type':'input','typeinput':'text','pattern':'[0-9]{9,}','title':'Debe tener el formato correcto', 'req':'', 'max':'9','value':empleado.telefono,'name':'telefonoE'},
		              	{'label':'Email','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç@.]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'100','value':empleado.email,'name':'emailE'},
		              	{'label':'Sexo','type':'select','name':'sexoE'},
		              	{'label':'Estado','type':'select','name':'estadoE'},		              
						{'type':'actions'}];
			
		$("#EditarEmpleadoForm").html(crearElementosForm(ArrayDatos));
		$('#sexoE').append('<option value="M">M</option>');		
		$('#sexoE').append('<option value="F">F</option>');
		$('#sexoE').val(empleado.sexo);

		cargarSelect(cargos, 'cargoE', 'id', 'desc');
		$('#cargoE').val(empleado.cargo);
		
		$('#estadoE').append('<option value="1">Habilitado</option>');
		$('#estadoE').append('<option value="0">Deshabilitado</option>');
		$('#estadoE').val(empleado.estado);
		$("input:checkbox, input:radio, input:file").not('[data-no-uniform="true"],#uniform-is-ajax').uniform();
		$('[data-rel="chosen"],[rel="chosen"]').chosen();
	}
	
function cargarVer(empleado){
				
		ArrayDatos = [	{'label':'Cargo','type':'span','value':empleado.cargodesc},
						{'label':'Nombres','type':'span', 'value':empleado.nombres},
		              	{'label':'Apellidos','type':'span','value':empleado.apellidos},
		              	{'label':'Fecha Nacimiento','type':'span','value':empleado.fechanacimiento},
		              	{'label':'Edad','type':'span','value':empleado.edad},
		              	{'label':'Dni','type':'span','value':empleado.dni},
		              	{'label':'Telefono','type':'span','value':empleado.telefono},
		              	{'label':'Email','type':'span','value':empleado.email},
		              	{'label':'Sexo','type':'span','value':empleado.sexo},
		              	{'label':'Estado','type':'span','value':empleado.estadodesc},
						{'type':'close'}];
			
		$("#VerEmpleadoForm").html(crearElementosForm(ArrayDatos));
	}
	
$(document).ready(function(){
	
	cargos = getAjaxObject("{{ path('dicars_admin_servicio_getoptioncargos') }}");
	cargarSelect(cargos, 'cargo', 'id', 'desc');
	$('#cargo').attr('data-rel','chosen');
	$('[data-rel="chosen"],[rel="chosen"]').chosen();
	
	//mostrar Registrar Trabajador------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistro').modal('show');
	});

	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-datos').click(function(e){
			e.preventDefault();
			cargarVer(aData);
			$('#modalVerDatos').modal('show');
		});
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarDatos').modal('show');
		});
	};
	
	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaempleados") }}';
	FormatoDTable = [
	              { "sWidth": "25%","mDataProp": "nomape"},
	              { "sWidth": "16%","mDataProp": "dni"},
	              { "sWidth": "16%","mDataProp": "telefono"},	              
	              { "sWidth": "15%","mDataProp": "ver_btn"},
	              { "sWidth": "14%","mDataProp": "edit_btn"},
	              { "sWidth": "14%","mDataProp": "elim_btn"}
	              ];
	EmpleadosTable = createDataTable('empleados_table',UrlaDTable,FormatoDTable,null,RowCallBackFunction);		

	ReloadTableEditar = reloadclosemodal('modalEditarDatos', 'empleados_table');
	ReloadTableRegistrar = reloadclosemodal('modalRegistro', 'empleados_table');

	enviar('RegistrarTrabajadorForm', ReloadTableRegistrar);
	enviar('EditarEmpleadoForm', ReloadTableEditar);
});
</script>
{% endblock %}
