{% extends "::baseCharisma.html.twig" %}
{% block title %}Venta de Productos - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_clientes_dm')}}">Venta de Productos</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">		
		<hr>
		<form id="AgregarProductoForm" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="producto">Producto</label>
				<div class="controls">
					<input class="input-xlarge focused" id="producto" type="text">
				  	<button type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
					<label style="display:inline;" for="cantidad">Cantidad</label>
					<input id="cantidad" type="number" style="margin: 0 18px 0 0;" required>
					<button id="agregar_producto" type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
				</div>
			</div>
		</form>
		<hr>
		<div class="box-header well" data-original-title>
			<h2>Productos Agregados</h2>
		</div>
		<div class="box-content">
			<table class="table table-bordered">
				<thead>
				  	<tr>
				  		<th>Cantidad</th>
					  	<th>Código</th>
					  	<th>Nombre</th>
					  	<th>Precio</th>
					</tr>
			  	</thead>   
			  	<tbody>
					
				</tbody>
			</table>
			<div class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="totalcon">Total Contado</label>
						<div class="controls">
							<input style="margin: 0 18px 0 0;" class="input-xlarge focused" id="totalcon" type="text">
							<label style="display:inline;">Total Credito</label>
							<input style="margin: 0 18px;" class="input-xlarge focused" id="totalcred" type="text">
						</div>
					</div>
				</fieldset>
			</div>
			<form action="">
				<button type="button" class="btn btn-primary btn-ventacred">Venta Crédito</button>
				<button type="button" class="btn btn-primary btn-ventacont">Venta Contado</button>
			</form>
		</div>
		{% include 'DicarsVentasBundle:Default:buscarproducto.html.twig' %}	
	</div><!--/span-->
</div><!--/row-->
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var SelectProductoData = new Array();
var SelectProductosTableData = new Array();

var BuscarProductosTable;
var SelectProductosTable;
var Attr = ['id','cantidad','precio_uni'];
var RowCallBackFunctionProducto;

$(document).ready(function(){
	//mostrar Buscar Producto------------------------------------>
	$('.btn-buscarp').click(function(e){
		e.preventDefault();
		$('#modalBuscarProducto').modal('show');
	});

	$("#select_producto").click(function(e){
		e.preventDefault();
		var data = SelectProductoData[0];
		$('#producto').val(data.id+" - "+data.nombre);
		$('#modalBuscarProducto').modal('hide');
	});

	$("#AgregarProductoForm").submit(function(e){
		e.preventDefault();
		if(SelectProductoData.length > 0){
			SelectProductoData[0].cantidad = $('#cantidad').val();
			SelectProductosTable.fnAddData(SelectProductoData);
			$('#producto').val("");
			$('#cantidad').val("");
			SelectProductoData.pop();
			Array2 = SelectProductosTable.fnGetData();
			CopyArray(SelectProductosTableData,Array2,false,Attr);
		}
	});
	
	RowCallBackFunctionProducto = getSimpleSelectRowCallBack(SelectProductoData,"select_producto_table");
	
	UrlaDTableProductos = '{{ path("dicars_logistica_servicio_gettablaproductos") }}';
	FormatoDTableProductos = [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "precio_contado"}
		              ];
	BuscarProductosTable = createDataTable('select_producto_table',UrlaDTableProductos,FormatoDTableProductos,null,RowCallBackFunctionProducto);
	
	SelectProductosTable = $("#ingreso_productos_table").dataTable({
		"aoColumns": [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "cantidad"},
		              { "sWidth": "12%","mDataProp": "precio_uni"},
		              { "sWidth": "12%","mDataProp": "elim_btn"}
		              ],
		       "fnCreatedRow": function( nRow, aData, iDisplayIndex ) {
		        		$(nRow).find('a').click(function(e){
		        		e.preventDefault();
		        		var index = $(SelectProductosTable.fnGetData()).getIndexObj(aData,'id');
		        		SelectProductosTable.fnDeleteRow( index );
		        		Array2 = SelectProductosTable.fnGetData();
		        		CopyArray(SelectProductosTableData,Array2,false,Attr);
		        		});       
		        },
		  		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
		  		"sPaginationType": "bootstrap",
		  		"oLanguage": {
		  		"sLengthMenu": "_MENU_ registros por pagina"
		  		}
	});
});
</script>
{% endblock %}