{% extends "::baseCharisma.html.twig" %}
{% block title %}Reporte de Ventas - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_reporte')}}">Reporte de Ventas Tienda/Zona</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>REPORTE DE VENTAS</h2>
		</div>
		<div class="box-content">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#tienda">Tienda</a></li>
				<li><a href="#zona">Zona</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active" id="tienda">
					<h3>Ventas en Tienda</h3>
					<div class="row-fluid">
						<div class="span6">
						</div>
						<div class="span6">
							<input id="pdfgen" type="button" value="Reporte" class="btn btn-success" style="float: right; margin: 10px 10px 0 0;"/>
						</div>
					</div>
					<div class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<label class="control-label">Del</label>
								<div class="controls">
									<input type="text" class="input-xlarge datepicker" id="date01" style="margin: 0 18px 0 0;">
									<label style="display:inline;">Al</label>
							  		<input type="text" class="input-xlarge datepicker" id="date02" style="margin: 0 18px;">
									<button id="buscarfecha" type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
								</div>
							</div>
							
						</fieldset>
					</div>
					<hr>
					<table id="ventas_table" class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
							<tr>
								<th>Fecha Registro</th>
								<th>Tienda</th>
							  	<th>Cliente</th>
							  	<th>Producto</th>
							  	<th>Serie</th>
							  	<th>Cant.</th>
							  	<th>Desct.</th>
							  	<th>Prec. Costo</th>
							  	<th>Prec. Contado</th>
							  	<th>Prec. Credito</th>
						  	</tr>
					  	</thead>   
					  	<tbody>
						</tbody>
					</table>
				</div>
				<div class="tab-pane" id="zona">
					<h3>Ventas en Zona</h3>
					<div class="row-fluid">
						<div class="span6">
						</div>
						<div class="span6">
							<input id="reportezona" type="button" value="Reporte" class="btn btn-success" style="float: right; margin: 10px 10px 0 0;"/>
						</div>
					</div>
					<div class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<label class="control-label">Del</label>
								<div class="controls">
									<input type="text" class="input-xlarge datepicker" id="date01zona" style="margin: 0 18px 0 0;">
									<label style="display:inline;">Al</label>
							  		<input type="text" class="input-xlarge datepicker" id="date02zona" style="margin: 0 18px;">
									<button id="buscarfechazona" type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
								</div>
							</div>
							
						</fieldset>
					</div>
					<hr>
					<table id="ventas_table_zona" class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
							<tr>
								<th>Fecha Registro</th>
								<th>Tienda</th>
							  	<th>Cliente</th>
							  	<th>Producto</th>
							  	<th>Serie</th>
							  	<th>Cant.</th>
							  	<th>Desct.</th>
							  	<th>Prec. Costo</th>
							  	<th>Prec. Contado</th>
							  	<th>Prec. Credito</th>
						  	</tr>
					  	</thead>   
					  	<tbody>
						</tbody>
					</table>
				</div>
			</div>
		<div class="modal hide fade" id="exportmodal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>EXPORTAR</h3>
			</div>
			<div class="modal-body">
				<form method="post" target="_blank" id="CreatePDFForm">
					<input type="hidden" name="title" id="title"/>
					<input type="hidden" name="table_venta" id="table_venta"/>
					<div class="sortable row-fluid ui-sortable">
						<a id="pdfbutton" data-rel="tooltip" class="well span3 top-block" style="width: 48%;" href="#" data-original-title="Exportar a PDF.">
							<span class="icon32 icon-color icon-pdf"></span>
							<div>PDF</div>
						</a>
		
						<a id="xlsutton" data-rel="tooltip" class="well span3 top-block" style="width: 48%;" href="#" data-original-title="Exportar a Excel.">
							<span class="icon32 icon-color icon-xls"></span>
							<div>Excel</div>
						</a>
					</div>
				</form>				
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

var VentasTable;
var VentasTableZona;
var UrlaDTable;
var UrlaDTableZona

var urlExportXLS = "{{ asset('extensiones/reportes_xls/formato_reporte_ventas.php') }}";
var urlExportPDF = "{{ asset('extensiones/reportes_pdf/formato_reporte_ventas.php') }}";

function getUrlRangoFecha(){
		var date01 = $("#date01").val().split('/');
		var date02 = $("#date02").val().split('/');
		var fecmin = date01[2]+'-'+date01[1]+'-'+date01[0];
		var fecmax = date02[2]+'-'+date02[1]+'-'+date02[0];
		Urlreturn = '{{ path("dicars_ventas_servicio_gettablareportevetas",{"tipo":"tipo","fecmin":"fecmin","fecmax":"fecmax","local":"local"}) }}';
		Urlreturn = Urlreturn.replace('tipo',1);
		Urlreturn = Urlreturn.replace('fecmin',fecmin);
		Urlreturn = Urlreturn.replace('fecmax',fecmax);
		Urlreturn = Urlreturn.replace('local',2);

		console.log(Urlreturn);
		return Urlreturn;
}

function getUrlRangoFechaZona(){
	var date01 = $("#date01zona").val().split('/');
	var date02 = $("#date02zona").val().split('/');
	var fecmin = date01[2]+'-'+date01[1]+'-'+date01[0];
	var fecmax = date02[2]+'-'+date02[1]+'-'+date02[0];
	Urlreturn = '{{ path("dicars_ventas_servicio_gettablareportevetas",{"tipo":"tipo","fecmin":"fecmin","fecmax":"fecmax","local":"local"}) }}';
	Urlreturn = Urlreturn.replace('tipo',2);
	Urlreturn = Urlreturn.replace('fecmin',fecmin);
	Urlreturn = Urlreturn.replace('fecmax',fecmax);
	Urlreturn = Urlreturn.replace('local',2);

	console.log(Urlreturn);
	return Urlreturn;
}

$(document).ready(function(){
	
	$("#date01,#date02,#date01zona,#date02zona").val(fechaAhora());

	$('#buscarfecha').click(function(e){
		e.preventDefault();
		UrlaDTable = getUrlRangoFecha();
		VentasTable.fnReloadAjax(UrlaDTable);
	});

	$('#buscarfechazona').click(function(e){
		e.preventDefault();
		UrlaDTable = getUrlRangoFechaZona();
		VentasTableZona.fnReloadAjax(UrlaDTable);
	});
	
	UrlaDTable = getUrlRangoFecha();
	FormatoDTable = [
				  { "sWidth": "8%","mDataProp": "FecReg"},
	              { "sWidth": "14%","mDataProp": "Tienda"},
	              { "sWidth": "14%","mDataProp": "Cliente"},
	              { "sWidth": "12%","mDataProp": "Producto"},
	              { "sWidth": "10%","mDataProp": "Serie"},
	              { "sWidth": "6%","mDataProp": "Cant"},
	              { "sWidth": "9%","mDataProp": "Desct"},
	              { "sWidth": "9%","mDataProp": "PrecioCosto"},
	              { "sWidth": "9%","mDataProp": "PrecioVentaContado"},
	              { "sWidth": "9%","mDataProp": "PrecioVentaCredito"}
	              ];
	VentasTable = createDataTable('ventas_table',UrlaDTable,FormatoDTable);		

	UrlaDTableZona = getUrlRangoFechaZona();
	FormatoDTableZona = [
					{ "sWidth": "8%","mDataProp": "FecReg"},
					{ "sWidth": "14%","mDataProp": "Tienda"},
					{ "sWidth": "14%","mDataProp": "Cliente"},
					{ "sWidth": "12%","mDataProp": "Producto"},
					{ "sWidth": "10%","mDataProp": "Serie"},
					{ "sWidth": "6%","mDataProp": "Cant"},
					{ "sWidth": "9%","mDataProp": "Desct"},
					{ "sWidth": "9%","mDataProp": "PrecioCosto"},
					{ "sWidth": "9%","mDataProp": "PrecioVentaContado"},
					{ "sWidth": "9%","mDataProp": "PrecioVentaCredito"}
					];
	VentasTableZona = createDataTable('ventas_table_zona',UrlaDTableZona,FormatoDTableZona);		
});

	$("#pdfgen").click(function(){
		var table_venta = toHTML(crearTablaToArray("tventas",
				['FECHA REGISTRO','TIENDA','CLIENTE','PRODUCTO','SERIE','CANT','DESCRIPCION','P COSTO','P VENTA CONTADO','P VENTA CREDITO'],
				[	'style="width: 8%;" class="head" ','style="width: 7%;" class="head" ','style="width: 14%;" class="head" ',
					'style="width:14%;" class="head" ','style="width: 10%;" class="head" ','style="width: 6%;" class="head" ',
					'style="width: 11%;" class="head" ','style="width: 11%;" class="head" ','style="width: 9%;" class="head" ',
					'style="width: 10%;" class="head" '],
				['FecReg','Tienda','Cliente','Producto','Serie','Cant','Desct','PrecioCosto','PrecioVentaContado','PrecioVentaCredito'],
				[	'style="width: 8%;" ','style="width: 7%;" ','style="width: 14%;" ',
					'style="width: 14%;" ','style="width: 10%;" ','style="width: 6%;" ',
					'style="width: 11%;" ','style="width: 11%;" ','style="width: 9%;" ',
					'style="width: 10%;" '],
					VentasTable.fnGetData()));
		
		$("#title").val("REPORTE DE VENTAS DE TIENDA");
		$("#table_venta").val(table_venta);
		$("#exportmodal").modal('show');		
	});

	$("#reportezona").click(function(){
		var table_venta = toHTML(crearTablaToArray("tventas",
				['FECHA REGISTRO','TIENDA','CLIENTE','PRODUCTO','SERIE','CANT','DESCRIPCION','P COSTO','P VENTA CONTADO','P VENTA CREDITO'],
				[	'style="width: 8%;" class="head" ','style="width: 7%;" class="head" ','style="width: 14%;" class="head" ',
					'style="width:14%;" class="head" ','style="width: 10%;" class="head" ','style="width: 6%;" class="head" ',
					'style="width: 11%;" class="head" ','style="width: 11%;" class="head" ','style="width: 9%;" class="head" ',
					'style="width: 10%;" class="head" '],
				['FecReg','Tienda','Cliente','Producto','Serie','Cant','Desct','PrecioCosto','PrecioVentaContado','PrecioVentaCredito'],
				[	'style="width: 8%;" ','style="width: 7%;" ','style="width: 14%;" ',
					'style="width: 14%;" ','style="width: 10%;" ','style="width: 6%;" ',
					'style="width: 11%;" ','style="width: 11%;" ','style="width: 9%;" ',
					'style="width: 10%;" '],
					VentasTableZona.fnGetData()));
		
		$("#title").val("REPORTE DE VENTAS DE ZONA");
		$("#table_venta").val(table_venta);
		$("#exportmodal").modal('show');		
	});
	
	$("#pdfbutton").click(function(e){
		e.preventDefault();
		$("#CreatePDFForm").attr("action",urlExportPDF);
		$("#CreatePDFForm").submit();
		$("#exportmodal").modal('hide');
	});
	
	$("#xlsutton").click(function(e){
		e.preventDefault();
		$("#CreatePDFForm").attr("action",urlExportXLS);
		$("#CreatePDFForm").submit();
		$("#exportmodal").modal('hide');
	});
	

</script>
{% endblock %}
