{% extends "::baseCharisma.html.twig" %}
{% block title %}Venta de Productos - Ventas -{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{{asset('css/ventas_form_style.css')}}">
<style>
	display: inline-block;
	vertical-align: top;
</style>
{%  endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_venta_productos')}}">Venta de Productos</a>
</li>
{% endblock %}

{% block content %}
<div class="row-fluid">		
	<div class="box span12" id="contenedor">
		<div id="wrapper">
            <div id="steps">
                <fieldset class="step" id="step1">                	
					<div class="box-header well" data-original-title>
						<h2>VENTA</h2>
					</div>
					<div class="box-content">
						<form id="AgregarProductoForm" class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="producto">Producto</label>
								<div class="controls">
									<input class="input focused" id="producto" type="text" readonly required>
								  	<button type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i></button>
									<label style="display:inline;" for="modpcontado">P. Contado</label>
									<input id="modpcontado" type="number" style="margin: 0 18px 0 0;" step="0.01" required>
									<label style="display:inline;" for="modpcredito">P. Credito</label>
									<input id="modpcredito" type="number" style="margin: 0 18px 0 0;" step="0.01" required>
									<label style="display:inline;" for="cantidad">Cantidad</label>
									<input id="cantidad" type="number" style="margin: 0 18px 0 0;" min="1" required>
									<button id="agregar_producto" type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
								</div>
							</div>
						</form>
						<hr>
						<h4>Productos Agregados</h4>
						<hr>
							<table id="select_productos_venta" class="table table-striped table-bordered bootstrap-datatable datatable">
								<thead>
								  	<tr>
									  	<th>Código</th>
									  	<th>Descripción</th>
								  		<th>Cantidad</th>
								  		<th>Prec. Contado</th>
								  		<th>Prec. Credito</th>
									  	<th>Acciones</th>
									</tr>
							  	</thead>   
							  	<tbody>
									
								</tbody>
							</table>
							<table class="table table-striped table-bordered bootstrap-datatable datatable"> 
								<thead>
								  	<tr>
								  		<th colspan='3'></th>
									  	<th>Prec. Contado</th>
								  		<th>Prec. Credito</th>
									</tr>
							  	</thead>  
							  	<tbody>
							  	<tr>
							  		<td colspan='3'>Total</td>
							  		<td id='total_contado'>0</td>
							  		<td id='total_credito'>0</td>
							  	</tr>					
								</tbody>
							</table>
			                <a class="btn btn-success" to_position='2' id='to_detalle' href="#" style="float: right; margin-bottom: 10px;">Siguiente <i class="icon icon-white icon-arrowthick-e"></i></a>
					</div>
			</fieldset>
            <fieldset class="step" id="step2" style="display:none;">
			<div class="box-header well" data-original-title>
				<h2>DATOS DE PAGO</h2>
			</div>
			<div class="box-content">
			<form id="EnviarVentaForm" class="form-horizontal" method="post" action="{{ path("dicars_ventas_registrar_venta") }}">
				<input type="hidden" name="serie_salida" id="serie_salida">
				<input type="hidden" name="numero_salida" id="numero_salida">
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="cliente">Cliente</label>
								<div class="controls">
									<input class="input-xlarge focused" id="cliente" name="cliente" type="text" readonly required>
									<input type="hidden" id="cliente_id" name="cliente_id">
								  	<button type="button" class="btn btn-info btn-buscarc" style="margin: 0 18px;"><i class="icon-search icon-white"></i></button>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="forma_pago">Tipo de Pago</label>
								<div class="controls">
									<select style="margin: 0 18px 0 0;" class="input-xlarge focused" name="forma_pago" id="forma_pago" >
									</select>
								</div>
							</div>   
							<div class="control-group">
								<label class="control-label" for="tipo_moneda">Tipo moneda</label>
								<div class="controls">
								  	<select style="margin: 0 18px 0 0;" class="input-xlarge focused" name="tipo_moneda" id="tipo_moneda">
								  		<option value="1">Soles</option>
								  		<option value="2">Dolares</option>
								  	</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="descuento">Venta Descuento</label>
								<div class="controls">
									<div class="input-prepend input-append">
										<input class="input-xlarge focused " name="descuento" id="descuento" type="number" min="0" max="100" value="0" required><span id="spandesc" class="add-on">%</span>
									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="subtotal">Subtotal</label>
								<div class="controls">
									<input class="input-xlarge focused" style="margin: 0 18px 0 0;" name="subtotal" id="subtotal" type="text" readonly>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="tipo_igv">IGV</label>
								<div class="controls">
									<div class="input-prepend input-append">
										<select style="margin: 0 0px 0 0;" class="input-xlarge focused" name="tipo_igv" id="tipo_igv"></select><span id="spanigv" class="add-on">%</span>
								  	</div>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="total">Total</label>
								<div class="controls">
									<input class="input-xlarge focused" style="margin: 0 18px 0 0;" name="total" id="total" type="text" readonly>
								</div>
							</div>		
						</div>
						<div class="span6">
							<div id="saldo_block" >
								<div class="control-group">
									<label class="control-label" for="amortizacion">A cuenta</label>
									<div class="controls">
										<div class="input-prepend input-append">
											<input class="input-xlarge focused" style="margin: 0 0px 0 0;" name="amortizacion" id="amortizacion" type="number" step="0.01" value="0" min="0" required><span id="spanamort" class="add-on"></span>
										</div>
									</div>
								</div>
															
								<div class="control-group">
									<label class="control-label" for="saldo">Saldo restante</label>
									<div class="controls">
										<input class="input-xlarge focused" name="saldo" id="saldo" type="text" readonly>
									</div>
								</div>
							</div>
							<div id="cuotas_block" >
								<div class="control-group">
									<label class="control-label" for="num_cuotas">N° Cuotas</label>
									<div class="controls">
										<div class="input-prepend input-append">
											<input class="input-xlarge focused " name="num_cuotas" id="num_cuotas" type="number" min="1" value="1" required><span id="spancouota" class="add-on">x 0.00 S/.</span>
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="prim_cuota">Fecha 1° Cuota</label>
									<div class="controls">
									  <input type="text" placeholder="dd/mm/aaaa" pattern="|^\d{2}/\d{2}/\d{4}$|" maxlength="10" title="Debe ingresar un formato de fecha correcto" class="input-xlarge datepicker" id="prim_cuota" name="prim_cuota">
									</div>
								</div>
							</div>
							<div id="pagocont_block">
								<div class="control-group">
									<label class="control-label" for="importe">Importe</label>
									<div class="controls">
										<input id="importe" name="importe" type="number" value="0" step="0.01">
										<span id="importe_help" style="color: red;" class="help-inline">El Importe debe ser mayor que el Total</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="vuelto">Vuelto</label>
									<div class="controls">
										<input name="vuelto" id="vuelto" type="text" readonly>
									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="producto">Observación</label>
								<div class="controls">
									<textarea class="input-xlarge" name="observacion" rows="2" cols="" value=""></textarea>
								</div>
							</div>
						</div>
					</div>
					<div>
	                	<a class="btn btn-success" to_position='1' id='to_select_productos' href="#"><i class="icon icon-white icon-arrowthick-w"></i> Atrás</a>
	                	<input type="hidden" name="montocuota" id="montocuota">
						<button class="btn btn-success" type="submit" style="float: right;">Siguiente <i class="icon icon-white icon-arrowthick-e"></i></button>
					</div>
				</fieldset>
			</form>
			</div><!--/span-->
			</fieldset>
                <fieldset class="step" id="step3" style="display:none;">
               {% include 'DicarsVentasBundle:Default:resumen_venta.html.twig' %}
                </fieldset>
            </div>
        </div>
        <!-- Modal para buscar productos -->
        
		<div class="modal hide fade" id="modalBuscarProducto" style="width:600px;">
			<div class="modal-header">
				<h3>Productos</h3>
			</div>
			<div class="modal-body">
				<table id="select_producto_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				  <thead>
					  <tr>
						  <th>Código</th>
						  <th>Descripción</th>
						  <th>Stock</th>
						  <th>Precio Contado</th>
						  <th>Precio Credito</th>
						  <th>Descuento</th>
					  </tr>
				  </thead>   
				  <tbody>
				  </tbody>
			  </table>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
				<a  id="select_producto" href="#" class="btn btn-primary">Seleccionar</a>
			</div>
		</div>
		<!-- Fin Modal para buscar productos -->
		{% include 'DicarsVentasBundle:Default:buscarcliente.html.twig' %}
		<div class="modal hide fade" id="rquiredproducts">
			<div class="modal-header">
				<h3>Atención</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-error">
				<p><i class="icon icon-alert icon-red"></i> Necesita agregrar productos</p>
				</div>
				
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Aceptar</a>
			</div>
		</div>
		<div class="modal hide fade" id="vercronograma">
			<div class="modal-header">
				<h3>¿Desea exportar el Cronograma?</h3>
			</div>
			<div class="modal-body">
				<form method="post" target="_blank" id="CreatePDFForm">
					<input type="hidden" name="tcronograma" id="tcronograma"/>
					<input type="hidden" name="tdetalle" id="tdetalle"/>
					<input type="hidden" name="tresumen" id="tresumen"/>
					<div class="row-fluid ui-sortable">
						<a id="pdfbutton" data-rel="tooltip" class="well span3 top-block" style="width: 48%;" href="#" data-original-title="Exportar a PDF.">
							<span class="icon32 icon-color icon-pdf"></span>
							<div>PDF</div>
						</a>
		
						<a id="xlsutton" data-rel="tooltip" class="well span3 top-block" style="width: 48%;" href="#" data-original-title="Exportar a Excel.">
							<span class="icon32 icon-color icon-xls"></span>
							<div>Excel</div>
						</a>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
			</div>
		</div>
	</div><!--/row-->
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script src="{{ asset('js/util/sliding_ventas_form.js') }}"></script>

<script type="text/javascript">

var SelectProductoData = new Array();
var SelectClienteData = new Array();
var OtherDataProductos = new Array();
var OtherDataProductos = new Array();

var SelectProductosTable;
var SelectClienteTable;

var totalcredito;
var totalcontado;
var tipoprecio;

var Attr = ['id','cantidad','pcontado','pcredito','totalcredito','totalcontado','descuento','descoferta'];
var RowCallBackFunctionProducto;
var RowCallBackFunctionCliente;

var TiposIGV;
var TipoMoneda;
var CargarTablaResumen;

var volverConsultar;
var unlockload;

var CronogramaReport;

var urlExportXLS = "{{ asset('extensiones/reportes_xls/formato_reporte_cronpago.php') }}";
var urlExportPDF = "{{ asset('extensiones/reportes_pdf/formato_reporte_cronpago.php') }}";

function VentaUpdate(){
	
	var igv = parseInt($("#tipo_igv option:selected").text());
	var des = $("#descuento").val();
	var formapago = $("#forma_pago").val();
	var montodesc;
	var montoigv;
	var montoproductos;

	$("#prim_cuota").attr("required",false);
	
	if($("#tipo_moneda").val()==1)
		TipoMoneda = " - s/.";
	else
		TipoMoneda = " - $";

	if(formapago == 1){
		$("#pagocont_block").show();
		$("#cuotas_block").hide();
		$("#saldo_block").hide();
		$("#resume-credito").hide();
		montoproductos = totalcontado;
		tipoprecio = 'pcontado';
	}
	else{
		$('#importe').attr('min', "0");
		$("#saldo_block").show();
		$("#pagocont_block").hide();
		
		if(formapago == 2){
			UnselectRow("select_producto_table");
			$("#cuotas_block").show();
			$("#resume-credito").show();
			montoproductos = totalcredito;
			tipoprecio = 'pcredito';
			$("#prim_cuota").attr("required",true);
		}

		else{
			$("#cuotas_block").hide();
			montoproductos = totalcontado;
			tipoprecio = 'pcontado';
			$('#amortizacion').attr('min', "1");
		}
	}
	
	CargarTablaResumen(formapago);
	montodesc = (montoproductos*des/100).toFixed(2);
	
	$("#subtotal").val((montoproductos*(100/(igv+100))*(100-des)/100).toFixed(2));
	montoigv = ($("#subtotal").val()*igv/100).toFixed(2);
	$("#total").val(($("#subtotal").val()*(100+igv)/100).toFixed(2));
	$("#saldo").val(($("#total").val()-$("#amortizacion").val()).toFixed(2));
	$("#spandesc").text("% "+TipoMoneda+" "+montodesc);
	$("#spanigv").text("% "+TipoMoneda+" "+montoigv);
	
	$("#spanamort").text(TipoMoneda);
	montocuota = $("#saldo").val()/$("#num_cuotas").val();
	montocuota = Math.ceil(montocuota*100)/100;
	$("#montocuota").val(montocuota);
	$("#spancouota").text("x "+TipoMoneda+" "+montocuota.toFixed(2));

	$("#forma_pagoR").text($("#forma_pago option:selected").text());
	$("#montoR").text(montodesc);
	$("#descuentoR").text(des+$("#spandesc").text());
	$("#subtotalR").text($("#subtotal").val());
	$("#tipo_igvR").text(igv+$("#spanigv").text());
	$("#totalR").text($("#total").val());
	$("#amortizacionR").text($("#amortizacion").val());
	$("#saldoR").text($("#saldo").val());
	total = parseFloat($('#total').val());
	$('#amortizacion').attr('max', total);	
	if(formapago == 1){
		$("#importeR").text($("#importe").val());
		$("#vueltoR").text($("#vuelto").val());
		$('#importe').attr('min', total);
		
		if($('#importe').val() >= total){
			$('#vuelto').val(($('#importe').val() - total).toFixed(2));
			$('#importe_help').hide();
		}
		else if($('#importe').val() == 0){
			$('#vuelto').val("0");
			$('#importe_help').hide();
		}
		else{
			$('#vuelto').val("0");
			$('#importe_help').show();
		}
	}
}

function prepararDatos(){
	var tabladetalle = toHTML(crearTablaToArray("tdetalle",
			['Producto','Cantidad', 'Precio Credito','Total'],
			['style="width: 45%;" class="prodth" ','style="width: 15%;" class="prodth" ','style="width: 20%;" class="prodth" ','style="width: 20%;" class="prodth" '],
			['desc','cantidad','precio','importe'],
			['style="width: 45%;" class="izquierda"','style="width: 15%;"','style="width: 20%;"','style="width: 20%;"'],
			CronogramaReport.detventas));

	var tablacronograma = toHTML(crearTablaToArray("tcronograma",
			['Cuota','Fecha Vencimiento', 'Deuda','Monto Pagado','Saldo','Estado'],
			['style="width: 16%;" class="prodth" ','style="width: 18%;" class="prodth" ','style="width: 16%;" class="prodth" ','style="width: 16%;" class="prodth" ','style="width: 16%;" class="prodth" ','style="width: 18%;" class="prodth" '],
			['nrocuota','fecpago','deuda','monto','saldo','estado'],
			['style="width: 16%;" class="izquierda"','style="width: 18%;"','style="width: 16%;"','style="width: 16%;"','style="width: 16%;"','style="width: 18%;" '],
			CronogramaReport.cuotas));
	
	resumen = [	{'td1':'','td2': '','td3':'NRO CREDITO:','td4':CronogramaReport.nro,},
	           	{'td1':'CLIENTE:','td2': CronogramaReport.cliente,'td3':'','td4':'',},
	           	{'td1':'FECHA REGISTRO CREDITO:','td2': CronogramaReport.fecreg,'td3':'MONTO TOTAL DEUDA:','td4':CronogramaReport.monto,}	];

	tablaresumen = toHTML(crearTablaToArray("resume",null,null,['td1','td2','td3','td4'],['style="width: 25%;" class="impar" ','style="width:25%;" ','style="width: 25%;" class="impar" ','style="width: 25%;" '],resumen));
   	
	$('#tdetalle').val(tabladetalle);
	$('#tcronograma').val(tablacronograma);
	$('#tresumen').val(tablaresumen);
}

$(document).ready(function(){

	unlockload = function(data){
		if($("#forma_pago").val() == 2){
			CronogramaReport = getAjaxObject("{{ path('dicars_ventas_servicio_getcronpagoventa',{'idventa':''}) }}/"+data.idventa);
			console.log(CronogramaReport);
			$.unblockUI({
	            onUnblock: function(){ 
	            	$('#vercronograma').modal('show');
	            	prepararDatos(); 
	            } 
	        });
        }
		else{
			$.unblockUI({
	            onUnblock: function(){ 
	                $(location).attr("href","{{ path('dicars_ventas_consultar') }}"); 
	            } 
	        });
		}
	};

	volverConsultar = function(){
		$(location).attr("href","{{ path('dicars_ventas_consultar') }}");
	};

	CargarTablaResumen = function(formapago){
		TablaProductosResumen.fnClearTable();
		var Array = SelectProductosTable.fnGetData();
		if(formapago == 2)
			CloneAttr(Array,'pcredito','pventa');
		else
			CloneAttr(Array,'pcontado','pventa');
		TablaProductosResumen.fnAddData(Array);
	};
	//mostrar Buscar Producto------------------------------------>
	$("#wrapper").width($("#contenedor").width());
	$("#steps").width($("#contenedor").width());
	$(".step").width($("#contenedor").width());

	TiposIGV = getAjaxObject("{{ path('dicars_admin_servicio_getoptiontiposigv') }}");
	cargarSelect(TiposIGV,'tipo_igv','id','porc');
	
	$("#EnviarVentaForm").change(function(e){
		VentaUpdate();
	});

	$("#EnviarVentaForm").bind("keypress", function(e) {
		  if (e.keyCode == 13) {               
			    e.preventDefault();
			    return false;
		  }
	});

	$('#vercronograma').on('hidden', function(){
		$(location).attr("href","{{ path('dicars_ventas_consultar') }}");
	});

	$("#pdfbutton").click(function(e){
		e.preventDefault();
		$("#CreatePDFForm").attr("action",urlExportPDF);
		$("#CreatePDFForm").submit();
	});
	
	$("#xlsutton").click(function(e){
		e.preventDefault();
		$("#CreatePDFForm").attr("action",urlExportXLS);
		$("#CreatePDFForm").submit();
	});
	
	$("#finalizar_venta").click(function(e){
		e.preventDefault();
		$.blockUI({ 
	    	message: "Registrando...",
	    	css: { padding: '10px' }, 
			onBlock: function() { 
				$("#EnviarVentaForm").unbind();
		    	var ajax = $.ajax({
					url: "{{ path ('dicars_logistica_servicio_getgenerarcodigosalprod') }}",
					dataType: "json",
					async: false
				});
				ajax.done(function(data){
					$('#numero_salida').val(data.NUMERO);
					$('#serie_salida').val(data.SERIE);
			    	enviar('EnviarVentaForm',unlockload,OtherDataProductos);
					$("#EnviarVentaForm").submit();
				}); 
        	}
		});
	});
	
	$('.btn-buscarp').click(function(e){
		e.preventDefault();
		$('#modalBuscarProducto').modal('show');
		UnselectRow("select_producto_table");
	});

	$('.btn-buscarc').click(function(e){
		e.preventDefault();
		$('#modalBuscarCliente').modal('show');
		UnselectRow("select_cliente_table");
	});

	$("#select_producto").click(function(e){
		e.preventDefault();
		var data = SelectProductoData[0];
		$('#producto').val(data.desc);
		$('#cantidad').val("1");
		$('#modalBuscarProducto').modal('hide');
		$('#cantidad').attr('max',data.stock);
		$('#modpcontado').val(data.pcontado);
		$('#modpcontado').attr('min',data.pcosto);
		$('#modpcredito').val(data.pcredito);
		$('#modpcredito').attr('min',data.pcosto);
	});

	$("#btn-select-cliente").click(function(e){
		e.preventDefault();
		var data = SelectClienteData[0];
		$('#cliente').val(data.nombre+" "+data.apellido);
		$('#cliente_id').val(data.id);
		$('#clienteR').text(data.nombre+" "+data.apellido);
		$('#direccionR').text(data.direccion);
		$('#modalBuscarCliente').modal('hide');
		
	});
	$("#fechaR").text(fechaAhora()+" "+getHourFormato());
    
	$("#AgregarProductoForm").submit(function(e){
		e.preventDefault();
		if(SelectProductoData.length > 0){
			SelectProductoData[0].cantidad = $('#cantidad').val();
			SelectProductoData[0].pcontado = $('#modpcontado').val();
			SelectProductoData[0].pcredito = $('#modpcredito').val();
			SelectProductoData[0].totalcredito = SelectProductoData[0].pcredito*$('#cantidad').val();
			SelectProductoData[0].totalcontado = SelectProductoData[0].pcontado*$('#cantidad').val();
			SelectProductosTable.fnAddData(SelectProductoData);
			$('#producto').val("");
			$('#cantidad').val("");
			$('#modpcontado').val("");
			$('#modpcredito').val("");
			SelectProductoData.pop();
			Array2 = SelectProductosTable.fnGetData();
			CopyArray(OtherDataProductos,Array2,false,Attr);
			$("#total_credito").text(totalcredito = (sumArrayByAttr(Array2,'pcredito')).toFixed(2));
			$("#total_contado").text(totalcontado = (sumArrayByAttr(Array2,'pcontado')).toFixed(2));
			$('#contenedor').height($('#step1').height());
		}
	});
	
	RowCallBackFunctionProducto = getSimpleSelectRowCallBack(SelectProductoData,"select_producto_table");
	RowCallBackFunctionCliente = getSimpleSelectRowCallBack(SelectClienteData,"select_cliente_table");
	
	UrlaDTableProductos = "{{ path('dicars_ventas_servicio_getventaproductosoferta') }}";
	FormatoDTableProductos = [
		              { "sWidth": "12%","mDataProp": "codigo"},
		              { "sWidth": "12%","mDataProp": "desc"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "pcontado"},
		              { "sWidth": "12%","mDataProp": "pcredito"},
		              { "sWidth": "12%","mDataProp": "descuento"}
		              ];
	BuscarProductosTable = createDataTable('select_producto_table',UrlaDTableProductos,FormatoDTableProductos,null,RowCallBackFunctionProducto);
	
	
	UrlaDTableClientes = '{{ path("dicars_ventas_servicio_gettablaclientes") }}';
	FormatoDTableClientes = [
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "apellido"},
		              { "sWidth": "12%","mDataProp": "dni"},
		              { "sWidth": "12%","mDataProp": "linea_credito"}
		              ];
	SelectClienteTable = createDataTable('select_cliente_table',UrlaDTableClientes,FormatoDTableClientes,null,RowCallBackFunctionCliente);

	SelectProductosTable =$("#select_productos_venta").dataTable({
		"aoColumns": [
		              { "sWidth": "12%","mDataProp": "codigo"},
		              { "sWidth": "12%","mDataProp": "desc"},
		              { "sWidth": "12%","mDataProp": "cantidad"},
		              { "sWidth": "12%","mDataProp": "pcontado"},
		              { "sWidth": "12%","mDataProp": "pcredito"},
		              { "sWidth": "12%","mDataProp": "elim_btn"}
		              ],
		"fnCreatedRow": function( nRow, aData, iDisplayIndex ) {
			$(nRow).find('a').click(function(e){
				e.preventDefault();
				var index = $(SelectProductosTable.fnGetData()).getIndexObj(aData,'id');
				SelectProductosTable.fnDeleteRow( index );
				Array2 = SelectProductosTable.fnGetData();
				CopyArray(OtherDataProductos,Array2,false,Attr);
				$("#total_credito").text(totalcontado = sumArrayByAttr(Array2,'pcredito'));
				$("#total_contado").text(totalcredito = sumArrayByAttr(Array2,'pcontado'));
			});
		},
		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
			"sUrl": urlES
		}
	});
	
	TablaProductosResumen = $("#tabla_resumen_productos").dataTable({
		"bProcessing": true,
		"bServerSide": false,
		"bDestroy": true,	  
		"aoColumns": [
					  { "sWidth": "25%","mDataProp": "codigo"},
		              { "sWidth": "25%","mDataProp": "desc"},
		              { "sWidth": "25%","mDataProp": "cantidad"},
		              { "sWidth": "25%","mDataProp": "pventa"}
		              ],
	 	"aaSorting": [ [0, 'asc'], [1, 'asc'] ],
	 	"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bInfo": false,
		"bAutoWidth": false,
	 	"aoColumnDefs": [
	                  {"sType": 'string-case', "aTargets": [2]}],
		 	"sDom": "<r>t<'row-fluid'>",
		 	"sPaginationType": "bootstrap",
		 	"oLanguage": {
		 		"sUrl": urlES
				}	
		});
	tipoPago = getAjaxObject("{{ path('dicars_admin_servicio_getoptionconstantes',{'idclase':1}) }}");
	cargarSelect(tipoPago,"forma_pago",'valor','desc');
	
	initSlider(OtherDataProductos);
	$(".step").show();
	$('#contenedor').height($('#step1').height());
	
});
</script>
{% endblock %}