{% extends "::baseCharisma.html.twig" %}
{% block title %}Ver Pedido - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a><span class="divider">/</span>
</li>
<li>
	<a href="#">Ver</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>VENTAS: VER DATOS</h2>
		</div>
		<div class="box-content">
			<div class="form-horizontal">
				<fieldset>
					<div id="resumen_venta">
					<table class="table table-bordered">
						<tr>
							<td style="width: 25%;"><strong>Cliente</strong></td>
							<td colspan="3" style="width: 75%;">{{ cliente }}</td>
						</tr>
						<tr>
							<td style="width: 25%;"><strong>Dirección</strong></td>
							<td style="width: 25%;">{{ direccion }}</td>
							<td style="width: 25%;"><strong>Fec. Emisión</strong></td>
							<td style="width: 25%;">{{ fecha_reg }}</td>
						</tr>
						<tr>
							<td><strong>Vendedor</strong></td>
							<td>{{ vendedor }}</td>
							<td><strong>Tipo de Pago</strong></td>
							<td>{{ tipo_pago }}</td>
						</tr>
					</table>
					<table id="productos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
							  <tr>
								  <th>Código</th>
								  <th>Producto</th>
								  <th>Cantidad</th>
								  <th>Importe</th>
							  </tr>
						</thead>   
						<tbody>
						</tbody>
					</table>
					<div class="row-fluid">
						<div class="span6">
						</div>
						<div class="span6">
							<table class="table table-bordered">
								<tr>
									<td style="width: 50%;"><strong>Subtotal</strong></td>
									<td style="width: 50%;">s/. {{ subtotal }}</td>
								</tr>
								<tr>
									<td><strong>Descuento</strong></td>
									<td>{{ descuento }} %</td>
								</tr>
								<tr>
									<td><strong>IGV</strong></td>
									<td>{{ tipo_IGV }} %</td>
								</tr>
								<tr>
									<td><strong>Total</strong></td>
									<td>s/. {{ total }}</td>
								</tr>
							</table>
							<!-- div class="control-group">
								<label class="control-label" for="acuenta">A cuenta</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">s/. {{ amortizado }}</span>
								</div>
							</div -->
						</div>
					</div>
					</div>
				</fieldset>
			</div>
			<div class="form-actions">
				<a href="{{ path('dicars_ventas_consultar') }}" class="btn btn-success"><i class="icon icon-white icon-arrowthick-w"></i> Volver</a>
				<a href="#" id="imprimir" class="btn btn-success" style="float: right;"><i class="icon icon-white icon-print"></i> Imprimir</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script src="{{ asset('js/printThis.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){

	$("#imprimir").click(function(e){
		e.preventDefault();
		$("#resumen_venta").printThis({
        	importCSS: false
         });
	});

	UrlaDTablePedidos = '{{ path("dicars_ventas_servicio_gettablaventaproductosbyid",{'idventa':''}) }}/{{ id }}';
	FormatoDTablePedidos = [
		              { "sWidth": "25%","mDataProp": "idproducto"},
		              { "sWidth": "25%","mDataProp": "desc"},
		              { "sWidth": "25%","mDataProp": "cantidad"},
		              { "sWidth": "25%","mDataProp": "importe"}
		              ];
	BuscarPedidosTable = $('#productos_table').dataTable({
		"bProcessing": true,
		"bServerSide": false,
		"bDestroy": true,	 
		"sAjaxSource": UrlaDTablePedidos,
		"fnServerData": function( sUrl, aoData, fnCallback, oSettings ) {
            oSettings.jqXHR = $.ajax( {
                "url": sUrl,
                "data": aoData,
                "success": fnCallback,
                "dataType": "json",
                "cache": false
            } );
        },
		"aoColumns": FormatoDTablePedidos,
	 	"aaSorting": [ [0, 'asc'], [1, 'asc'] ],
	 	"bPaginate": false,
		"bLengthChange": false,
		"bFilter": true,
		"bInfo": false,
		"bAutoWidth": false,
	 	"aoColumnDefs": [
	                  {"sType": 'string-case', "aTargets": [2]}],
		 	"sDom": "<r>t<'row-fluid'>",
		 	"sPaginationType": "bootstrap",
		 	"oLanguage": {
		 		"sUrl": urlES
				}	
		});
	
});


</script>
{% endblock %}