{% extends "::baseCharisma.html.twig" %}
{% block title %}Consultar - Ventas -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_consultar')}}">Ventas</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_consultar')}}">Consultar</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>VENTAS: CONSULTAR</h2>
			<div class="box-icon">
				<a href="{{path('dicars_ventas_venta_productos')}}" class="btn btn-round" alt="Registrar Ventas"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label class="control-label">Del</label>
						<div class="controls">
							<input type="text" class="input-xlarge datepicker" id="date01" value="02/06/2013" style="margin: 0 18px 0 0;">
							<label style="display:inline;">Al</label>
					  		<input type="text" class="input-xlarge datepicker" id="date02" value="02/06/2013" style="margin: 0 18px;">
						</div>
					</div>
					
				</fieldset>
			</div>
			<hr>
			<table id="ventas_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>Fec. Registro</th>
						<th>Cliente</th>
					  	<th>Vendedor</th>
					  	<th>Cant. Producto</th>
					  	<th>Tipo Pago</th>
					  	<th>Total</th>
					  	<th>Estado</th>
					  	<th></th>
					  	<th></th>
					  	<th></th>
				  	</tr>
			  	</thead>   
			  	<tbody>
				</tbody>
			</table>
			<div class="modal hide fade" id="modalAnular">
				<div class="modal-header">
					<h3>Anular Venta</h3>
				</div>
				<form id="AnularForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_registrar_cargo') }}">
					<div class="modal-body">
						<input id="venta_id" name="venta_id" type="hidden" required>
						<div class="alert alert-error">
							¿Desea realmente <strong>ANULAR</strong> esta venta?
						</div>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-cancelarprov" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary ">Sí</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	CargarBotones = function(){
		//mostrar Editar Cliente------------------------------------>
		$('.btn-editar').unbind();
		$('.btn-editar').click(function(e){
			id=$(this).attr("id-data");
			$(this).attr('href',"{{ path('dicars_ventas_ver',{'idventa':''}) }}/"+id);
		});
		//mostrar Ver Datos Trabajador------------------------------------>
		$('.btn-datos').unbind();
		$('.btn-datos').click(function(e){
			id=$(this).attr("id-data");
			$(this).attr('href',"{{ path('dicars_ventas_ver',{'idventa':''}) }}/"+id);
		});
		$('.btn-elim').click(function(e){
			id=$(this).attr("id-data");
			$('#venta_id').val(id);
			/*$(this).attr('href',"{{ path('dicars_ventas_ver',{'idventa':''}) }}/"+id);*/
			$('#modalAnular').modal('show');
		});
	};
	
	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaventas") }}';
	FormatoDTable = [
				  { "sWidth": "8%","mDataProp": "fecha_reg"},
	              { "sWidth": "14%","mDataProp": "cliente"},
	              { "sWidth": "14%","mDataProp": "vendedor"},
	              { "sWidth": "7%","mDataProp": "cant_prod"},
	              { "sWidth": "10%","mDataProp": "tipo_pago"},
	              { "sWidth": "6%","mDataProp": "total"},
	              { "sWidth": "11%","mDataProp": "estado"},
	              { "sWidth": "11%","mDataProp": "ver_btn"},
	              { "sWidth": "9%","mDataProp": "elim_btn"},
	              { "sWidth": "10%","mDataProp": "edit_btn"}
	              ];
	VentasTable = createDataTable('ventas_table',UrlaDTable,FormatoDTable,CargarBotones);		
	});

</script>
{% endblock %}