{% extends "::baseCharisma.html.twig" %}
{% block title %}Venta de Productos - Ventas -{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{{asset('css/ventas_form_style.css')}}">
{%  endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Ventas</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_ventas_clientes_dm')}}">Venta de Productos</a>
</li>
{% endblock %}

{% block content %}
<div class="row-fluid">		
	<div class="box span12" id="contenedor">
		<div id="wrapper">
            <div id="steps">
                <fieldset class="step" id="step1">                	
					<div class="box-header well" data-original-title>
						<h2>Seleccion de Productos</h2>
					</div>
					<div class="box-content">
					<form id="AgregarProductoForm" class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="producto">Producto</label>
							<div class="controls">
								<input class="input-xlarge focused" id="producto" type="text" readonly required>
							  	<button type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
								<label style="display:inline;" for="cantidad">Cantidad</label>
								<input id="cantidad" type="number" style="margin: 0 18px 0 0;" min="1" required>
								<button id="agregar_producto" type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
							</div>
						</div>
					</form>
					<hr>
					<h4>Productos Agregados</h4>
					<hr>
						<table id="select_productos_venta" class="table table-striped table-bordered bootstrap-datatable datatable">
							<thead>
							  	<tr>
								  	<th>Código</th>
								  	<th>Nombre</th>
							  		<th>Cantidad</th>
							  		<th>P Credito</th>
							  		<th>P Contado</th>
								  	<th>Acciones</th>
								</tr>
						  	</thead>   
						  	<tbody>
								
							</tbody>
						</table>
						<table class="table table-striped table-bordered bootstrap-datatable datatable"> 
							<thead>
							  	<tr>
							  		<th colspan='3'></th>
							  		<th>P Credito</th>
								  	<th>P Contado</th>
								</tr>
						  	</thead>  
						  	<tbody>
						  	<tr>
						  		<td colspan='3'>Total</td>
						  		<td id='total_credito'>0</td>
						  		<td id='total_contado'>0</td>
						  	</tr>					
							</tbody>
						</table>
						<p>
		                	<a to_position='2' id='to_detalle' href="#">Detalle</a>
		                </p>
					</div>
			</fieldset>
            <fieldset class="step" id="step2">
			<div class="box-header well" data-original-title>
				<h2>Datos de Pago</h2>
			</div>
			<div class="box-content">
			<form id="EnviarVentaForm" class="form-horizontal" method="post" action="{{ path("dicars_ventas_registrar_venta") }}">
				<div class="control-group">
					<label class="control-label" for="cliente">Cliente</label>
					<div class="controls">
						<input class="input-xlarge focused" id="cliente" name="cliente" type="text" readonly required>
						<input type="hidden" id="cliente_id" name="cliente_id">
					  	<button type="button" class="btn btn-info btn-buscarc" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="forma_pago">Tipo de Pago</label>
					<div class="controls">
						<select style="margin: 0 18px 0 0;" class="input-xlarge focused" name="forma_pago" id="forma_pago" >
						</select>
					</div>
				</div>   
				<div class="control-group">
					<label class="control-label" for="tipo_moneda">Tipo moneda</label>
					<div class="controls">
					  	<select style="margin: 0 18px 0 0;" class="input-xlarge focused" name="tipo_moneda" id="tipo_moneda">
					  		<option value="1">Soles</option>
					  		<option value="2">Dolares</option>
					  	</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="subtotal">Monto Productos</label>
					<div class="controls">
						<input class="input-xlarge focused" style="margin: 0 18px 0 0;" name="monto_productos" id="monto_productos" type="text" readonly>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="descuento">Venta Descuento</label>
					<div class="controls">
						<div class="input-prepend input-append">
							<input class="input-xlarge focused " name="descuento" id="descuento" type="number" min="0" max="100" value="0" required><span id="spandesc" class="add-on">%</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="subtotal">Subtotal</label>
					<div class="controls">
						<input class="input-xlarge focused" style="margin: 0 18px 0 0;" name="subtotal" id="subtotal" type="text" readonly>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="tipo_igv">IGV</label>
					<div class="controls">
						<div class="input-prepend input-append">
							<select style="margin: 0 0px 0 0;" class="input-xlarge focused" name="tipo_igv" id="tipo_igv"></select><span id="spanigv" class="add-on">%</span>
					  	</div>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="total">Total</label>
					<div class="controls">
						<input class="input-xlarge focused" style="margin: 0 18px 0 0;" name="total" id="total" type="text" readonly>
					</div>
				</div>		
				
				<div class="control-group">
					<label class="control-label" for="amortizacion">A cuenta</label>
					<div class="controls">
						<div class="input-prepend input-append">
							<input class="input-xlarge focused" style="margin: 0 0px 0 0;" name="amortizacion" id="amortizacion" type="number" step="0.1" value="0" min="0"><span id="spanamort" class="add-on"></span>
						</div>
					</div>
				</div>
											
				<div class="control-group">
					<label class="control-label" for="saldo">Saldo restante</label>
					<div class="controls">
						<input class="input-xlarge focused" style="margin: 0 18px 0 0;" name="saldo" id="saldo" type="text" readonly>
					</div>
				</div>
				
				<div id="cuotas_block" class="control-group">
					<label class="control-label" for="num_cuotas">N° Cuotas</label>
					<div class="controls">
						<div class="input-prepend input-append">
								<input class="input-xlarge focused " name="num_cuotas" id="num_cuotas" type="number" min="2" value="2" required><span id="spancouota" class="add-on">x 0.00 S/.</span>
						</div>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="producto">Observacion</label>
					<div class="controls">
						<textarea class="input-xlarge" name="observacion" rows="2" cols="" required></textarea>
					</div>
				</div>
				<p>
                        <a to_position='1' id='to_select_productos' href="#">atras</a>
                    </p>
				<input type="submit" value="enviar">
			</form>
			</div><!--/span-->
			</fieldset>
                <fieldset class="step" id="step3">
                <div class="box-header well" data-original-title>
					<h2>Datos de Pago</h2>
				</div>
				<div class="box-content">
	                    <div class="form-horizontal">
	                    	<div class="control-group">
								<label class="control-label" for="producto">Cliente</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">Cliente</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="producto">Empleado</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">Empleado</span>
								</div>
							</div>
							<div class="control-group" id="detalle_productos">
							</div>
	                    </div>
	                    <p>
                        	<a to_position='2' id='back_to_detalle' href="#">atras</a>
                        	<a href="#" id="finalizar_venta">Finalizar</a>
                    	</p>
	            	</div>
                </fieldset>
            </div>
        </div>
        <!-- Modal para buscar productos -->
        
		<div class="modal hide fade" id="modalBuscarProducto" style="width:600px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Productos</h3>
			</div>
			<div class="modal-body">
				<table id="select_producto_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				  <thead>
					  <tr>
						  <th>Código</th>
						  <th>Descripcion</th>
						  <th>Marca</th>
						  <th>Talla</th>
						  <th>Stock</th>
						  <th>Precio Contado</th>
						  <th>Precio Credito</th>
						  <th>Descuento</th>
					  </tr>
				  </thead>   
				  <tbody>
				  </tbody>
			  </table>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
				<a  id="select_producto" href="#" class="btn btn-primary">Seleccionar</a>
			</div>
		</div>
		<!-- Fin Modal para buscar productos -->
		{% include 'DicarsVentasBundle:Default:buscarcliente.html.twig' %}
		<div class="modal hide fade" id="rquiredproducts">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Attencion</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-error">
				<p><i class="icon icon-alert icon-red"></i> Nesesita agregrar productos</p>
				</div>
				
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Aceptar</a>
			</div>
		</div>
	</div><!--/row-->
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script src="{{ asset('js/util/sliding_ventas_form.js') }}"></script>

<script type="text/javascript">

var SelectProductoData = new Array();
var SelectClienteData = new Array();
var SelectProductosTableData = new Array();

var SelectProductosTable;
var SelectClienteTable;

var totalcredito;
var totalcontado;

var Attr = ['id','cantidad','pcontado','pcredito','totalcredito','totalcontado','descuento'];
var RowCallBackFunctionProducto;
var RowCallBackFunctionCliente;

var TiposIGV;
var TipoMoneda;

function VentaUpdate(){
	var igv = parseInt($("#tipo_igv").text());
	var des = $("#descuento").val();
	var montodesc;
	var montoigv;
	var mosntocuota;
	if($("#tipo_moneda").val()==1)
		TipoMoneda = "s/.";
	else
		TipoMoneda = "$";
			
	if($("#forma_pago").val() == 2){
		$("#cuotas_block").show();
		$("#monto_productos").val(totalcontado);
	}	
	else{
		$("#cuotas_block").hide();
		$("#monto_productos").val(totalcredito);
	}
	montodesc = ($("#monto_productos").val()*des/100).toFixed(2)
	
	$("#subtotal").val(($("#monto_productos").val()*(100/(igv+100))*(100-des)/100).toFixed(2));
	montoigv = ($("#subtotal").val()*igv/100).toFixed(2)
	$("#total").val(($("#subtotal").val()*(100+igv)/100).toFixed(2));
	$("#saldo").val(($("#total").val()-$("#amortizacion").val()).toFixed(2))
	$("#spandesc").text("% "+TipoMoneda+" "+montodesc);
	$("#spanigv").text("% "+TipoMoneda+" "+montoigv);

	$("#spanamort").text(TipoMoneda);
	mosntocuota = $("#saldo").val()/$("#num_cuotas").val()
		
	$("#spancouota").text("x "+TipoMoneda+" "+mosntocuota.toFixed(2));
}

$(document).ready(function(){
	//mostrar Buscar Producto------------------------------------>
	$("#wrapper").width($("#contenedor").width());
	$("#steps").width($("#contenedor").width());
	$(".step").width($("#contenedor").width());

	TiposIGV = getAjaxObject("{{ path('dicars_admin_servicio_getoptiontiposigv') }}");
	cargarSelect(TiposIGV,'tipo_igv','id','porc');
	
	$("#EnviarVentaForm").change(function(e){
		VentaUpdate();
		});

	$("#EnviarVentaForm").bind("keypress", function(e) {
		  if (e.keyCode == 13) {               
			    e.preventDefault();
			    return false;
			  }
			});
	
	$("#finalizar_venta").click(function(e){
		e.preventDefault();
    	$("#EnviarVentaForm").unbind();
    	enviar('EnviarVentaForm',logdata,SelectProductosTableData);
		$("#EnviarVentaForm").submit();
	});
	
	$('.btn-buscarp').click(function(e){
		e.preventDefault();
		$('#modalBuscarProducto').modal('show');
	});

	$('.btn-buscarc').click(function(e){
		e.preventDefault();
		$('#modalBuscarCliente').modal('show');
	});

	$("#select_producto").click(function(e){
		e.preventDefault();
		var data = SelectProductoData[0];
		$('#producto').val(data.id+" - "+data.nombre);
		$('#cantidad').val("1");
		$('#modalBuscarProducto').modal('hide');
	});

	$("#btn-select-cliente").click(function(e){
		e.preventDefault();
		var data = SelectClienteData[0];
		$('#cliente').val(data.nombre+" - "+data.apellido);
		$('#cliente_id').val(data.id);
		$('#modalBuscarCliente').modal('hide');
	});

	$("#AgregarProductoForm").submit(function(e){
		e.preventDefault();
		if(SelectProductoData.length > 0){
			SelectProductoData[0].cantidad = $('#cantidad').val();
			SelectProductoData[0].totalcredito = SelectProductoData[0].pcredito*$('#cantidad').val();
			SelectProductoData[0].totalcontado = SelectProductoData[0].pcontado*$('#cantidad').val();
			SelectProductosTable.fnAddData(SelectProductoData);
			$('#producto').val("");
			$('#cantidad').val("");
			SelectProductoData.pop();
			Array2 = SelectProductosTable.fnGetData();
			CopyArray(SelectProductosTableData,Array2,false,Attr);			
			$("#total_credito").text(totalcontado = (sumArrayByAttr(Array2,'pcontado')).toFixed(2));
			$("#total_contado").text(totalcredito = (sumArrayByAttr(Array2,'pcredito')).toFixed(2));
			$('#contenedor').height($('#step1').height());
		}
	});
	
	RowCallBackFunctionProducto = getSimpleSelectRowCallBack(SelectProductoData,"select_producto_table");
	RowCallBackFunctionCliente = getSimpleSelectRowCallBack(SelectClienteData,"select_producto_table");
	
	UrlaDTableProductos = '{{ path("dicars_ventas_servicio_getventaproductosoferta") }}';
	FormatoDTableProductos = [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "marca"},
		              { "sWidth": "12%","mDataProp": "talla"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "pcontado"},
		              { "sWidth": "12%","mDataProp": "pcredito"},
		              { "sWidth": "12%","mDataProp": "descuento"}
		              ];
	BuscarProductosTable = createDataTable('select_producto_table',UrlaDTableProductos,FormatoDTableProductos,null,RowCallBackFunctionProducto);

	
	UrlaDTableClientes = '{{ path("dicars_ventas_servicio_gettablaclientes") }}';
	FormatoDTableClientes = [
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "apellido"},
		              { "sWidth": "12%","mDataProp": "dni"},
		              { "sWidth": "12%","mDataProp": "linea_credito"}
		              ];
	SelectClienteTable = createDataTable('select_pedido_table',UrlaDTableClientes,FormatoDTableClientes,null,RowCallBackFunctionCliente);

	SelectProductosTable =$("#select_productos_venta").dataTable({
		"aoColumns": [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "cantidad"},
		              { "sWidth": "12%","mDataProp": "pcontado"},
		              { "sWidth": "12%","mDataProp": "pcredito"},
		              { "sWidth": "12%","mDataProp": "elim_btn"}
		              ],
		"fnCreatedRow": function( nRow, aData, iDisplayIndex ) {
			$(nRow).find('a').click(function(e){
				e.preventDefault();
				var index = $(SelectProductosTable.fnGetData()).getIndexObj(aData,'id');
				SelectProductosTable.fnDeleteRow( index );
				Array2 = SelectProductosTable.fnGetData();
				CopyArray(SelectProductosTableData,Array2,false,Attr);
				$("#total_credito").text(totalcontado = sumArrayByAttr(Array2,'pcontado'));
				$("#total_contado").text(totalcredito = sumArrayByAttr(Array2,'pcredito'));
			});
		},
		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
		"sLengthMenu": "_MENU_ records per page"
		}
	});
	ajaxResponseData("forma_pago","{{ path('dicars_admin_servicio_getoptiontipobyclase',{'Clase':1}) }}");
	initSlider(SelectProductosTableData);
	$('#contenedor').height($('#step1').height());
	
});
</script>
{% endblock %}