{% extends "::baseCharisma.html.twig" %}
{% block title %}Cargos - Administración{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_admin_cargos')}}">Cargos</a>
</li>
{% endblock %}
{% block content %}
{% if is_granted('ROLE_SUPORT_RH')%}

<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>CARGOS</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-round btn-registrar" alt="Registrar Clase"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table id="cargos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>Nombre del Cargo</th>
						<th>Estado</th>
						<th></th>
					</tr>
				</thead>   
				<tbody>
				</tbody>
			</table>
			<div class="modal hide fade" id="modalRegistroCargo">
				<div class="modal-header">
					<h3>Registrar Cargo</h3>
				</div>
				<form id="RegistrarCargoForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_registrar_cargo') }}">
					<div class="modal-body">
						<fieldset>
						  	<div class="control-group">
								<label class="control-label" for="nom_cargo">Nombre de Cargo</label>
								<div class="controls">
							  		<input class="input-xlarge focused" id="nom_cargo" name="nom_cargo" type="text" pattern="|^[a-zA-Z ñÑáéíóúüç.0-9]*$|" required>
								</div>
						  	</div>
						  	<div class="control-group">
								<label class="control-label" for="selectEstado">Estado</label>
								<div class="controls">
							  		<select id="selectEstado" name="selectEstado" required>
										<option value="1">Habilitado</option>
										<option value="0">Inhabilitado</option>
									</select>
								</div>
						  	</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="reset" class="btn btn-cancelarprov" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary ">Guardar</button>
					</div>
				</form>
			</div>
			<div class="modal hide fade" id="modalEditarDatos" >
			<div class="modal-header">
				<h3>Datos del Cargo</h3>
			</div>
			<form id="EditarCargoForm" class="form-horizontal" method="post" action="{{ path ('dicars_admin_editar_cargo') }}">
			</form>
		</div>
		</div>
	</div>
</div>

{% else %}
<h2>Sin acceso disponible. Por favor consulte al administrador.</h2>

{% endif %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var oTable;

var ReloadTableEditar = reloadclosemodal('modalEditarDatos', 'cargos_table');
var ReloadTableRegistrar = reloadclosemodal('modalRegistroCargo', 'cargos_table');

function cargarEditar(cargo){		

	ArrayDatos = [	{'type':'hidden','value':cargo.id,'name':'id'},
	          		{'label':'Nombre de Cargo','type':'span','value':cargo.nom_cargo},
	              	{'label':'Estado','type':'select','name':'selectEstadoE'},
					{'type':'actions'}];
		
	$("#EditarCargoForm").html(crearElementosForm(ArrayDatos));
	$('#selectEstadoE').append('<option value="1">Habilitado</option>');
	$('#selectEstadoE').append('<option value="0">Inhabilitado</option>');
	$('#selectEstadoE').val(cargo.estado);
}

//Init------------------------------------>
$(document).ready(function(){

	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarDatos').modal('show');
		});
	};

	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistroCargo').modal('show');
	});
	
	enviar('RegistrarCargoForm', ReloadTableRegistrar);
	enviar('EditarCargoForm', ReloadTableEditar);

	UrlaDTable = '{{ path("dicars_admin_servicio_gettablacargos") }}';
	FormatoDTable = [
		              { "sWidth": "33%","mDataProp": "nom_cargo"},
		              { "sWidth": "33%","mDataProp": "selectEstado"},
		              { "sWidth": "34%","mDataProp": "edit_btn"}
		              ];
	oTable = createDataTable('cargos_table',UrlaDTable,FormatoDTable,null, RowCallBackFunction);
});

</script>
{% endblock %}