{% extends "::baseCharisma.html.twig" %}
{% block title %}Constantes - Administración{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_admin_constantes')}}">Constantes</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Lista de Constantes</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-round btn-registrar" alt="Registrar Clase"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table id="constantes_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>Clase</th>
						<th>Nombre</th>
						<th>Valor</th>
						<th></th>
					</tr>
				</thead>   
				<tbody>
				</tbody>
			</table>
			<div class="modal hide fade" id="modalRegistroConstantes" style="width: 650px;">
				<div class="modal-header">
					<h3>Registrar Clase</h3>
				</div>
				<div class="modal-body">
					<form id="RegistrarClaseForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_registrar_constante') }}">
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="clase">Nro de Clase</label>
								<div class="controls">
							  		<input class="input-xlarge focused" id="clase" name="clase" type="text">
								</div>
						  	</div>
						  	<div class="control-group">
								<label class="control-label" for="nom_clase">Nombre de Clase</label>
								<div class="controls">
							  		<input class="input-xlarge focused" id="nom_clase" name="nom_clase" type="text">
								</div>
						  	</div>
						  	<div class="control-group">
								<label class="control-label" for="valor">Valor</label>
								<div class="controls">
							  		<input class="input-xlarge focused" id="valor" name="valor" type="text">
							  		<button class="btn" id="subclases" name="subclases">Agregar Subclases</button>
								</div>
						  	</div>
						  	<div class="form-actions">
								<button type="submit" class="btn btn-primary ">Guardar</button>
								<button type="reset" class="btn btn-cancelarprov" data-dismiss="modal">Cancelar</button>
						  	</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="modal hide fade" id="modalEditarDatos" >
				<div class="modal-header">
					<h3>Datos de la Clase</h3>
				</div>
				<div class="modal-body">
					<form id="EditarClaseForm" class="form-horizontal" method="post" action="{{ path ('dicars_admin_editar_constante') }}">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var oTable;

var ReloadTableEditar = reloadclosemodal('modalEditarDatos','constantes_table');
var ReloadTableRegistrar = reloadclosemodal('modalRegistroConstantes','constantes_table');

var CargarBotones = function(){
	//mostrar Editar Cliente------------------------------------>
	$('.btn-editar').click(function(e){
		e.preventDefault();
		$('#modalEditarDatos').modal('show');
		id=$(this).attr("id-data");		
		cargarEditar(id);
	});
};

function cargarEditar(id){
	url = "{{ path('dicars_admin_servicio_getconstantebyid', {'id': ''}) }}/"+id;
	constante = getAjaxObject(url);			

	ArrayDatos = [	{'type':'hidden','value':constante.id,'name':'id'},
	          		{'label':'Nro de Clase','type':'input', 'typeinput':'text','value':constante.clase,'name':'claseE'},
	              	{'label':'Nombre de Clase','type':'input','typeinput':'text','value':constante.nom_clase,'name':'nom_claseE'},
	              	{'label':'Valor','type':'input','typeinput':'text','value':constante.valor,'name':'valorE'},
					{'type':'actions'}];
		
	$("#EditarClaseForm").html(crearElementosForm(ArrayDatos));
}

//Init------------------------------------>
$(document).ready(function(){

	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistroConstantes').modal('show');
	});
	
	enviar('RegistrarClaseForm', ReloadTableRegistrar);
	enviar('EditarClaseForm', ReloadTableEditar);

	UrlaDTable = '{{ path("dicars_admin_servicio_gettablaconstantes") }}';
	FormatoDTable = [
		              { "sWidth": "25%","mDataProp": "clase"},
		              { "sWidth": "25%","mDataProp": "nom_clase"},
		              { "sWidth": "25%","mDataProp": "valor"},
		              { "sWidth": "25%","mDataProp": "edit_btn"}
		              ];
	oTable = createDataTable('constantes_table',UrlaDTable,FormatoDTable,CargarBotones);
});

</script>
{% endblock %}