{% extends "::baseCharisma.html.twig" %}
{% block title %}Zonas - Administración -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_admin_zonas')}}">Zonas</a>
</li>
{% endblock %}
{% block content %}
{% if is_granted('ROLE_SUPORT_VENTA')%}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>ZONAS ASIGNADAS</h2>
		</div>
		<div class="box-content">
			<form id="EditarZonapersonalForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_editar_zonapersonal') }}">
				<fieldset>
					<input type="hidden" name="idzonapersonal" value="{{ idzonapersonal }}">
					<div class="control-group">
						<label class="control-label" for="nombre_zona">Zona</label>
						<div class="controls">
							<input class="input-xlarge" id="nombre_zona" type="text" value="{{ nombrezona }}" readonly required>
							<input id="idzona" name="idzona" type="hidden">
							<button class="btn btn-info" id="btn-zona" style="margin-left: 15px;"><i class="icon-user icon-white"></i></button>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="nombre_trabajador">Trabajador</label>
						<div class="controls">
							<input class="input-xlarge" id="nombre_trabajador" type="text" value="{{ nombrepersonal }}" readonly>
						</div>
					</div>
					<div class="form-actions">
						<button id="agregar_usuario" type="submit" class="btn btn-primary">Asignar</button>
						<a class="btn" href="{{ path('dicars_admin_zonapersonal') }}">Cancelar</a>
				  	</div>
				</fieldset>
			</form>
			<div class="modal hide fade" id="modalBuscarZona">
				<div class="modal-header">
					<h3>Zonas</h3>
				</div>
				<div class="modal-body">
				<table class="table table-striped table-bordered bootstrap-datatable datatable" id="zonas_table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Estado</th>
							<th>Ubigeo</th>
						</tr>
					</thead>     
					<tbody>
					</tbody>
				</table>	
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
					<a  id="select_zona" href="#" class="btn btn-primary">Seleccionar</a>
				</div>
			</div							>
	</div><!--/span-->
</div><!--/row-->
{% else %}
<h2>Sin acceso disponible. Por favor consulte al administrador.</h2>
{% endif %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var ZonaPersonalTable;
var SelectTrabajadorData = new Array();
var BuscarTrabajadorTable;
var SelectZonaData = new Array();
var BuscarZonaTable;
var ReloadTableZonapersonal;

var RowCallBackFunctionTrabajador;
var RowCallBackFunctionZonas;
var ubigeos;
var volver;

//init------------------------------------>
$(document).ready(function(){

	volver = function(data){
		$(location).attr("href", "{{ path('dicars_admin_zonapersonal') }}");		
	};

	$('#btn-zona').click(function(e){
		e.preventDefault();
		$('#modalBuscarZona').modal('show');
	});
	$("#select_zona").click(function(e){
		e.preventDefault();
		var data = SelectZonaData[0];	
		$('#idzona').val(data.id);
		$('#nombre_zona').val(data.desc);
		$('#modalBuscarZona').modal('hide');
	});

	RowCallBackFunctionTrabajador = getSimpleSelectRowCallBack(SelectTrabajadorData,"select_trabajador_table");
	RowCallBackFunctionZonas = getSimpleSelectRowCallBack(SelectZonaData,"zonas_table");

	UrlaDTable = '{{ path("dicars_admin_servicio_gettablazonas") }}';
	FormatoDTable = [
		              { "sWidth": "25%","mDataProp": "desc"},
		              { "sWidth": "25%","mDataProp": "estado"},
		              { "sWidth": "35%","mDataProp": "ubigeo"}
		              ];
	BuscarZonaTable = createDataTable('zonas_table',UrlaDTable,FormatoDTable,null, RowCallBackFunctionZonas);

	enviar('EditarZonapersonalForm', volver);
});
</script>
{% endblock %}