{% extends "::baseCharisma.html.twig" %}
{% block title %}Marcas - Administración - {% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_admin_marcas')}}">Marcas</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Marcas</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-round btn-registrar" alt="Registrar Marcas"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="marcas_table">
				<thead>
					<tr>
						<th>Nombre</th>
					  	<th>Estado</th>
					  	<th></th>
				  	</tr>
				</thead>
			</table>
			<div class="modal hide fade" id="modalRegistroMarca">
				<div class="modal-header">
					<h3>Registrar Marca</h3>
				</div>
				<div class="modal-body">
					<form id="RegistrarMarcaForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_registrar_marca') }}">
						<fieldset>
						  	<div class="control-group">
								<label class="control-label" for="desc_marca">Nombre de Marca</label>
								<div class="controls">
							  		<input class="input-xlarge focused" id="desc_marca" name="desc_marca" type="text" pattern="|^[a-zA-Z ñÑáéíóúüç.0-9]*$|" required >
								</div>
						  	</div>
						  	<div class="control-group">
								<label class="control-label" for="selectEstado">Estado</label>
								<div class="controls">
							  		<select id="selectEstado" name="selectEstado" required>
										<option value="1">Habilitado</option>
										<option value="0">Inhabilitado</option>
									</select>
								</div>
						  	</div>
						  	<div class="form-actions">
								<button type="submit" class="btn btn-primary ">Guardar</button>
								<button type="reset" class="btn" data-dismiss="modal">Cancelar</button>
						  	</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="modal hide fade" id="modalEditarDatos">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">x</button>
					<h3>Editar Marca</h3>
				</div>
				<div class="modal-body">
					<form id="EditarMarcaForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_editar_marca') }}">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var oTable;

var ReloadTableEditar = reloadclosemodal('modalEditarDatos','marcas_table');
var ReloadTableRegistrar = reloadclosemodal('modalRegistroMarca','marcas_table');

var CargarBotones = function(){
	//mostrar Editar Cliente------------------------------------>
	$('.btn-editar').click(function(e){
		e.preventDefault();
		$('#modalEditarDatos').modal('show');
		id=$(this).attr("id-data");		
		cargarEditar(id);
	});
};

function cargarEditar(id){
	url = "{{ path('dicars_admin_servicio_getmarcabyid', {'id': ''}) }}/"+id;
	marca = getAjaxObject(url);		
	
	ArrayDatos = [	{'type':'hidden','value':marca.id,'name':'id'},
	          		{'label':'Nombre de Marca','type':'input','typeinput':'text','value':marca.desc_marca, 'name':'desc_marcaE','pattern':'|^[a-zA-Z ñÑáéíóúüç.0-9]*$|','required':'true'},
	              	{'label':'Estado','type':'select','name':'selectEstadoE'},
					{'type':'actions'}];
		
	$("#EditarMarcaForm").html(crearElementosForm(ArrayDatos));
	$('#selectEstadoE').append('<option value="1">Habilitado</option>');
	$('#selectEstadoE').append('<option value="0">Inhabilitado</option>');
	$('#selectEstadoE').val(marca.selectEstado);
	$('[data-rel="chosen"],[rel="chosen"]').chosen();
}

//Init------------------------------------>
$(document).ready(function(){
	//mostrar Buscar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistroMarca').modal('show');
	});
	
	enviar('RegistrarMarcaForm', ReloadTableRegistrar);
	enviar('EditarMarcaForm', ReloadTableEditar);

	UrlaDTable = '{{ path("dicars_admin_servicio_gettablamarcas") }}';
	FormatoDTable = [
		              { "sWidth": "33%","mDataProp": "desc_marca"},
		              { "sWidth": "33%","mDataProp": "selectEstado"},
		              { "sWidth": "34%","mDataProp": "edit_btn"}
		              ];
	oTable = createDataTable('marcas_table',UrlaDTable,FormatoDTable,CargarBotones);
});
</script>
{% endblock %}