{% extends "::baseCharisma.html.twig" %}
{% block title %}Usuarios - Administración - {% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_admin_usuarios')}}">Usuarios</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i>Usuarios</h2>
		</div>
		<div class="box-content">
			<form id="RegistrarUsuarioForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_registrar_usuario') }}">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="trabajador">Trabajador</label>
						<div class="controls">
							<input class="input-xlarge" id="nombre_trabajador" type="text" disabled required>
							<input class="input-xlarge focused" id="trabajador" name="trabajador" type="hidden">
							<button class="btn btn-info btn-trabajador" style="margin-left: 15px;"><i class="icon-user icon-white"></i></button>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="usuario_id">Usuario ID</label>
						<div class="controls">
							<input class="input-xlarge focused" id="usuario_id" name="usuario_id" type="text" required pattern="|^[a-zA-Z0-9]+$|" title="El formato de usuario debe ser correcto" maxlength="20">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="contrasena">Contraseña</label>
						<div class="controls">
							<input class="input-xlarge focused" id="contrasena" name="contrasena" type="password" required>
						</div>
					</div>
					
					<div class="control-group">
					<label class="control-label" for="estado">Estado</label>
					<div class="controls">
					 <select id="estado" name="estado" data-rel="chosen">
							<option value="1">Habilitado</option>
							<option value="0">Inhabilitado</option>
					  </select>
					</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="fecharegistro">Fecha de Registro</label>
						<div class="controls">
							<input class="input-xlarge datepicker" id="fecharegistro" name="fecharegistro" type="text" placeholder="dd/mm/yyyy" pattern="(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d" required>
						</div>
					</div>
					<div class="form-actions">
						<button id="agregar_usuario" type="submit" class="btn btn-primary">Agregar</button>
						<button type="reset" class="btn">Limpiar Campos</button>
				  	</div>
				</fieldset>
			</form>
			{% include 'DicarsVentasBundle:Default:buscartrabajador.html.twig' %}
			
			<div class="modal hide fade" id="modalEditarDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Editar Trabajador</h3>
			</div>
			<div class="modal-body">
				<form id="EditarUsuarioForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_editar_usuario') }}">
				</form>
			</div>
			</div>	
			
			<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Datos del Trabajador</h3>
			</div>
			<div class="modal-body">
				<div id="VerUsuarioForm" class="form-horizontal">
				</div>
			</div>
			</div> 
			
			<table id="usuarios_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>Usuario ID</th>
					  	<th>Trabajador</th>
					  	<th>Estado</th>
					  	<th>Fecha de Registo</th>
					  	<th></th>
					  	<th></th>
					  	<th></th>
				  	</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

function cargarEditar(usuarioE){
			
	ArrayDatos = [	{'type':'hidden','value':usuarioE.id,'name':'idE'},
	      			{'label':'Trabajador','type':'span','value':usuarioE.trabajador,'name':'trabajadorE'},
					{'label':'Usuario','type':'input', 'typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç]+$|','title':'Debe tener el formato correcto', 'req':'', 'max':'20','value':usuarioE.usuario_id,'name':'usuario_idE'},
	              	{'label':'Clave','type':'input','typeinput':'text','value':usuarioE.clave,'name':'contrasenaE', 'pattern':'|^[a-zA-Z1-9]+$|', 'req':'', 'max':'20'},
	              	{'label':'Estado','type':'select','name':'estadoE'},
	              	{'label':'Fecha Registro','type':'date','value':usuarioE.fecharegistro,'name':'fecharegistroE'},
					{'type':'actions'}];		
	$("#EditarUsuarioForm").html(crearElementosForm(ArrayDatos));
	$('#estadoE').append('<option value="1">Habilitado</option>');
	$('#estadoE').append('<option value="0">Inhabilitado</option>');
	$('#estadoE').val(usuarioE.estado);
}

function cargarVer(usuario){
				
		ArrayDatos = [	{'label':'Trabajador','type':'span', 'value':usuario.trabajador},
		              	{'label':'Usuario','type':'span','value':usuario.usuario_id},
		              	{'label':'Clave','type':'span','value':usuario.clave},
		              	{'label':'Estado','type':'span','value':usuario.estado},
		              	{'label':'Fecha Registro','type':'span','value':usuario.fecharegistro},		              	
						{'type':'close'}];
			
		$("#VerUsuarioForm").html(crearElementosForm(ArrayDatos));
		console.log(usuario.id);
	}
//mostrar trabajadores------------------------------------>
$('.btn-trabajador').click(function(e){
	e.preventDefault();
	$('#modalBuscarTrabajador').modal('show');
});
//seleccionar trabajador para agregarlo------------------->
$("#select_trabajador").click(function(e){
	e.preventDefault();
	var data = SelectTrabajadorData[0];	
	$('#trabajador').val(data.id);
	$('#nombre_trabajador').val(data.nombres + " " + data.apellidos);
	$('#modalBuscarTrabajador').modal('hide');
});

var UsuariosTable;
var SelectTrabajadorData = new Array();
var BuscarTrabajadorTable;
var CargarBotones;
var RowCallBackFunctionTrabajador;

var ReloadTableUsuario;
var ReloadTableEditar;

$(document).ready(function(){
	
	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-datos').click(function(e){
			e.preventDefault();
			cargarVer(aData);
			$('#modalVerDatos').modal('show');
		});
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarDatos').modal('show');
		});
	};
	
	ReloadTableUsuario = function(data){
	UsuariosTable.fnReloadAjax();
	};

	//DATOS DEL MODAL EMPLEADOS
	RowCallBackFunctionTrabajador = getSimpleSelectRowCallBack(SelectTrabajadorData,"select_trabajador_table");

	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaempleados") }}';
	FormatoDUsuarioTable = [
	              { "sWidth": "25%","mDataProp": "nombres"},
	              { "sWidth": "25%","mDataProp": "apellidos"},
	              { "sWidth": "25%","mDataProp": "dni"},
	              { "sWidth": "25%","mDataProp": "telefono"}
	              ];
	BuscarTrabajadorTable = createDataTable('select_trabajador_table',UrlaDTable,FormatoDUsuarioTable,null,RowCallBackFunctionTrabajador);	
	//TABLA CON USUARIOS REGISTRADOS
	UrlaDTableUser = '{{ path("dicars_admin_servicio_gettablausuario") }}';
	FormatoDTable = [
	              { "sWidth": "15%","mDataProp": "usuario_id"},
	              { "sWidth": "15%","mDataProp": "trabajador"},
	              { "sWidth": "15%","mDataProp": "selectEstado"},
	              { "sWidth": "15%","mDataProp": "fecharegistro"},	              
	              { "sWidth": "13%","mDataProp": "ver_btn"},
	              { "sWidth": "13%","mDataProp": "edit_btn"},
	              { "sWidth": "14%","mDataProp": "elim_btn"}
	              ];
	UsuariosTable = createDataTable('usuarios_table',UrlaDTableUser,FormatoDTable,null,RowCallBackFunction);

	ReloadTableEditar = reloadclosemodal('modalEditarDatos', 'usuarios_table');
	enviar("RegistrarUsuarioForm",ReloadTableUsuario);
	enviar('EditarUsuarioForm', ReloadTableEditar);				
});

</script>
{% endblock %}