{% extends "::baseCharisma.html.twig" %}
{% block title %}Usuarios - Administración - {% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_admin_usuarios')}}">Usuarios</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-user"></i>Usuarios</h2>
		</div>
		<div class="box-content">
			<form id="RegistrarUsuarioForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_registrar_usuario') }}">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="trabajador">Trabajador</label>
						<div class="controls">
							<input class="input-xlarge focused" id="trabajador" type="text">
							<button class="btn btn-info btn-trabajador" style="margin-left: 15px;"><i class="icon-user icon-white"></i></button>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="usuario_id">Usuario ID</label>
						<div class="controls">
							<input class="input-xlarge focused" id="usuario_id" name="usuario_id" type="text">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="contrasena">Contraseña</label>
						<div class="controls">
							<input class="input-xlarge focused" id="contrasena" name="contrasena" type="text">
						</div>
					</div>
					
					<div class="control-group">
					<label class="control-label" for="estado">Estado</label>
					<div class="controls">
					 <select id="estado" name="estado" data-rel="chosen">
							<option>Disabled</option>
							<option>Enabled</option>
					  </select>
					</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="fecha">Fecha de Registro</label>
						<div class="controls">
							<input class="input-xlarge datepicker" id="fecha" type="text">
						</div>
					</div>
					<div class="form-actions">
						<button id="agregar_usuario" type="submit" class="btn btn-primary">Agregar</button>
						<button type="reset" class="btn">Limpiar Campos</button>
				  	</div>
				</fieldset>
			</form>
			{% include 'DicarsVentasBundle:Default:buscartrabajador.html.twig' %}
			
			<table id="usuarios_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<tr>
						<th>Usuario ID</th>
					  	<th>Trabajador</th>
					  	<th>Estado</th>
					  	<th>Fecha de Registo</th>
					  	<th></th>
					  	<th></th>
					  	<th></th>
				  	</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

//mostrar Buscar Cliente------------------------------------>
$('.btn-trabajador').click(function(e){
	e.preventDefault();
	$('#modalBuscarTrabajador').modal('show');
});

$("#select_trabajador").click(function(e){
	e.preventDefault();
	var data = SelectTrabajadorData[0];
	$('#trabajador').val(data.id);
	$('#modalBuscarTrabajador').modal('hide');
});

var UsuariosTable;
var SelectTrabajadorData = new Array();
var BuscarTrabajadorTable;
var CargarBotones;
var RowCallBackFunctionTrabajador;

var ReloadTableUsuario;

$(document).ready(function(){

CargarBotones = function(){		
		//mostrar Editar Cliente------------------------------------>
		$('.btn-editar').unbind();
		$('.btn-editar').click(function(e){
			e.preventDefault();
			$('#modalEditarDatos').modal('show');
			id=$(this).attr("id-data");		
			cargarEditar(id);	
		});
		
		//mostrar Ver Datos Cliente------------------------------------>
		$('.btn-datos').unbind();
		$('.btn-datos').click(function(e){
		e.preventDefault();
		$('#modalVerDatos').modal('show');
		id=$(this).attr("id-data");		
		cargarVer(id);
		});
};

	ReloadTableUsuario = function(data){
		UsuariosTable.fnReloadAjax();
	};
	
RowCallBackFunctionTrabajador = getSimpleSelectRowCallBack(SelectTrabajadorData,"select_trabajador_table");



	UrlaDTable = '{{ path("dicars_ventas_servicio_gettablaempleados") }}';
	FormatoDUsuarioTable = [
	              { "sWidth": "25%","mDataProp": "nombres"},
	              { "sWidth": "25%","mDataProp": "apellidos"},
	              { "sWidth": "25%","mDataProp": "dni"},
	              { "sWidth": "25%","mDataProp": "telefono"}
	              ];
	BuscarTrabajadorTable = createDataTable('select_trabajador_table',UrlaDTable,FormatoDUsuarioTable,null,RowCallBackFunctionTrabajador);

	
	
	UrlaDTableUser = '{{ path("dicars_admin_servicio_gettablausuario") }}';
	FormatoDTable = [
	              { "sWidth": "15%","mDataProp": "usuario_id"},
	              { "sWidth": "15%","mDataProp": "trabajador"},
	              { "sWidth": "15%","mDataProp": "estado"},
	              { "sWidth": "15%","mDataProp": "fecha"},	              
	              { "sWidth": "13%","mDataProp": "ver_btn"},
	              { "sWidth": "13%","mDataProp": "edit_btn"},
	              { "sWidth": "14%","mDataProp": "elim_btn"}
	              ];
	UsuariosTable = createDataTable('usuarios_table',UrlaDTableUser,FormatoDTable,CargarBotones);

	enviar("RegistrarUsuarioForm",ReloadTableUsuario,CargarBotones);				
});

</script>
{% endblock %}