{% extends "::baseCharisma.html.twig" %}
{% block title %}Zonas - Administración -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_admin_homepage')}}">Administración</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_admin_zonas')}}">Zonas</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>ZONAS</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Zona"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="zonas_table">
			  <thead>
				  <tr>
					  <th>Nombre</th>
					  <th>Estado</th>
					  <th>Ubigeo</th>
					  <th></th>
				  </tr>
			  </thead>   
			  <tbody>
			</tbody>
		</table>
		<div class="modal hide fade" id="modalRegistro">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Registrar Zona</h3>
			</div>
			<form id="RegistrarZonaForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_registrar_zona') }}">
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="desc">Nombre de la Zona</label>
							<div class="controls">
						  		<input class="input-xlarge focused" id="desc" name="desc" type="text" pattern="|^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜç]+$|" maxlength="100" required>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="selectEstado">Estado</label>
							<div class="controls">
						  		<select id="selectEstado" name="selectEstado">
									<option value="1">Habilitado</option>
									<option value="0">Inhabilitado</option>
								</select>
							</div>
					  	</div>
					  	<h4>Ubigeo</h4>
					  	<hr>
					  	<div class="control-group">
							<label class="control-label" for="dep">Departamento</label>
							<div class="controls">
						  		<select id="dep" name="dep">
								</select>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="prov">Provincia</label>
							<div class="controls">
						  		<select id="prov" name="prov">
								</select>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="dist">Distrito</label>
							<div class="controls">
						  		<select id="dist" name="dist">
								</select>
							</div>
					  	</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
		<div class="modal hide fade" id="modalEditarDatos">
			<div class="modal-header">
				<h3>Editar Zona</h3>
			</div>
			<div class="modal-body">
				<form id="EditarZonaForm" class="form-horizontal" method="post" action="{{ path('dicars_admin_editar_zona') }}">
				</form>
			</div>
		</div> 
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var oTable;

var ReloadTableEditar = reloadclosemodal('modalEditarDatos', 'zonas_table');
var ReloadTableRegistrar = reloadclosemodal('modalRegistro', 'zonas_table');

var ubigeos;

//EDITAR DATOS------------------------------------>
function cargarEditar(zona){	
	ArrayDatos = [	{'type':'hidden','value':zona.id,'name':'id'},
	          		{'label':'Nombre de Zona','type':'input', 'typeinput':'text','value':zona.desc,'name':'descE', pattern:'|^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜç]+$|', title:'', req:'required', max:'100'},
	              	{'label':'Estado','type':'select','name':'selectEstadoE'},
	              	{'label':'Departamento','type':'select','name':'depE'},
	              	{'label':'Provincia','type':'select','name':'provE'},
	              	{'label':'Distrito','type':'select','name':'distE'},
					{'type':'actions'}
					];
		
	$("#EditarZonaForm").html(crearElementosForm(ArrayDatos));
	
	$('#selectEstadoE').append('<option value="1">Habilitado</option>');
	$('#selectEstadoE').append('<option value="0">Inhabilitado</option>');
	$('#selectEstadoE').val(zona.selectEstado);
	
	cargarUbigeo('distE', 'provE', 'depE', zona.dist, zona.prov, zona.dep);
}

//init------------------------------------>
$(document).ready(function(){	

	ubigeos = getAjaxObject("{{ path('dicars_admin_servicio_getoptionubigeo') }}");
	cargarUbigeo('dist', 'prov', 'dep');

	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarDatos').modal('show');
		});
	};
	
	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistro').modal('show');
	});
	
	enviar('RegistrarZonaForm', ReloadTableRegistrar);
	enviar('EditarZonaForm', ReloadTableEditar);

	UrlaDTable = '{{ path("dicars_admin_servicio_gettablazonas") }}';
	FormatoDTable = [
		              { "sWidth": "25%","mDataProp": "desc"},
		              { "sWidth": "25%","mDataProp": "estado"},
		              { "sWidth": "35%","mDataProp": "ubigeo"},
		              { "sWidth": "15%","mDataProp": "edit_btn"}
		              ];
	oTable = createDataTable('zonas_table',UrlaDTable,FormatoDTable,null, RowCallBackFunction);
});
</script>
{% endblock %}