{% extends "::baseCharisma.html.twig" %}
{% block title %}Ingreso de Productos: Consultar - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_cons_ingresoproductos')}}">Ingreso de Productos: Consultar</a>
</li>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Ingreso de Productos</h2>
			<div class="box-icon">
				<a href="{{path('dicars_logistica_reg_ingresoproductos')}}" class="btn btn-round" alt="Registrar Ingreso de Productos"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<label class="control-label">Del</label>
						<div class="controls">
							<input type="text" class="input-xlarge datepicker" id="date01" value="02/06/2013" style="margin: 0 18px 0 0;">
							<label style="display:inline;">Al</label>
					  		<input type="text" class="input-xlarge datepicker" id="date02" value="02/06/2013" style="margin: 0 18px;">
						</div>
					</div>
				</fieldset>
			</div>
			<hr style="align:center; background:#ddd; border:0px; height:1px;">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="ingreso_productos_table">
				<thead>
					<tr>
						<th>Código</th>
						<th>Serie</th>
					  	<th>Número Producto</th>
					  	<th>Serie Documento</th>					  	
					  	<th></th>
					  	<th></th>					  	
				  	</tr>
			  	</thead>
			</table>
			<hr style="align:center; background:#ddd; border:0px; height:1px;">
			<button class="btn btn-success">PDF</button>
			<button class="btn btn-success">Excel</button>
		</div>
	</div>
</div>

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">
var CargarBotones;

CargarBotones = function(){
	//mostrar Editar Cliente------------------------------------>
	$('.btn-editar').unbind();
	$('.btn-editar').click(function(e){			
		id=$(this).attr("id-data");		
		$(this).attr('href',"{{ path('dicars_logistica_editar_ingresoproductos',{'idingprode':''}) }}/"+id);

	});
	//mostrar Ver Datos Trabajador------------------------------------>
	$('.btn-datos').unbind();
	$('.btn-datos').click(function(e){
		id=$(this).attr("id-data");	
		$(this).attr('href',"{{ path('dicars_logistica_ver_ingresoproductos',{'idingprod':''}) }}/"+id);
	});
};

$(document).ready(function(){
	
	UrlaDTable = '{{ path("dicars_logistica_servicio_gettablaingresoproducto") }}';
	FormatoDTable = [
		              { "sWidth": "15%","mDataProp": "id"},
		              { "sWidth": "15%","mDataProp": "serie"},
		              { "sWidth": "15%","mDataProp": "numero"},
		              { "sWidth": "15%","mDataProp": "serie_doc"},		              
		              { "sWidth": "13%","mDataProp": "ver_btn"},
		              { "sWidth": "13%","mDataProp": "edit_btn"}		              		              
		              ];
	oTable = createDataTable('ingreso_productos_table',UrlaDTable,FormatoDTable,CargarBotones);
});
</script>
{% endblock %}