{% extends "::baseCharisma.html.twig" %}
{% block title %}Ingreso Productos: Registrar - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_reg_ingresoproductos')}}">Ingreso de Productos: Registrar</a>
</li>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Ingreso de Productos: Registrar</h2>
		</div>
		<div class="box-content">
			<form class="form-horizontal" id="RegistrarIngresoForm" method="post" action="{{ path('dicars_logistica_registrar_ingresoproducto') }}">
				<fieldset>
				<div class="row-fluid">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="codigo">Código</label>
							<div class="controls">
								<input class="input-xlarge focused" id="codigo" type="text">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="registrador">Registrador</label>
							<div class="controls">
								<input class="input-xlarge focused" id="registrador" name="registrador" type="text">
							</div>
						</div>						
						<div class="control-group">
						<label class="control-label" for="observacion">Observaciones</label>
						<div class="controls">
							<textarea id="observacion" name="observacion" class="input-xlarge"></textarea>
						</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="motivo">Tipo</label>
							<div class="controls">
								<select id="tipo" data-rel="chosen">
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
									<option>Option 4</option>
									<option>Option 5</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="tienda">Tienda</label>
							<div class="controls">
							  	<select id="tienda" data-rel="chosen">
									<option>Option 1</option>
									<option>Option 2</option>
									<option>Option 3</option>
									<option>Option 4</option>
									<option>Option 5</option>
								</select>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="fecharegistro">Fecha</label>
							<div class="controls">
								<input class="input-xlarge datepicker" name="fecharegistro" id="fecharegistro" type="text">
							</div>
						</div>
					</div>
				</div>
				</fieldset>
				</form>	
				<form id="AgregarProductoForm" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="producto">Producto</label>
					<div class="controls">
						<input class="input-xlarge focused" id="producto" type="text">
					  	<button type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
						<label style="display:inline;" for="cantidad">Cantidad</label>
						<input id="cantidad" name="cantidad" type="number" style="margin: 0 18px 0 0;">
						<label style="display:inline;">Precio/Unidad</label>
						<input id="precio_uni" name="precio_uni" type="number" style="margin: 0 18px;">
						<button id="agregar_producto" type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
					</div>
				</div>
				</form>
				<hr>
				<h3>Productos a Ingresar</h3>
				<hr>
				<table id="ingreso_productos_table" name="ingreso_productos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
					<thead>
						  <tr>
							  <th>Código</th>
							  <th>Nombre</th>
							  <th>Cantidad</th>
							  <th>Precio</th>							  
							  <th>Eliminar</th>
						  </tr>
					</thead>   
					<tbody>					
					</tbody>
				</table>
				<hr>
				<div class="form-actions">
					<a href="{{ path('dicars_logistica_cons_ingresoproductos') }}" class="btn btn-primary">Volver</a>
					<button class="btn" ><i class="icon-print"></i>Imprimir</button>
					<button type="button" id="enviar_ingreso_producto" class="btn btn-primary"><i class="icon icon-white icon-save"></i>Guardar</button>
				</div>			
								
			{% include 'DicarsLogisticaBundle:Default:registrar_producto.html.twig' %}					
			{% include 'DicarsVentasBundle:Default:buscarproducto.html.twig' %}			
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

var SelectProductoData = new Array();
var OtherDataProductosTable = new Array();

var BuscarProductosTable;
var SelectProductosTable;
var Attr = ['idproducto','cantidad','precio_uni','total'];
var RowCallBackFunctionProducto;
var ResetForm;
$(document).ready(function(){
	
	ResetForm = function(data){
		//$(location).attr("href", "{{ path('dicars_logistica_cons_ingresoproductos') }}");
		console.log(data);
	};
	//mostrar Buscar Producto------------------------------------
	$('.btn-buscarp').click(function(e){
		e.preventDefault();
		$('#modalBuscarProducto').modal('show');
	});
	$("#select_producto").click(function(e){
		e.preventDefault();
		var data = SelectProductoData[0];
		$('#producto').val(data.idproducto+" - "+data.nombre);
		$('#modalBuscarProducto').modal('hide');
	});	
	
	$("#AgregarProductoForm").submit(function(e){
		e.preventDefault();
		if(SelectProductoData.length > 0){
			SelectProductoData[0].cantidad = $('#cantidad').val();
			SelectProductoData[0].precio_uni = $('#precio_uni').val();	
			SelectProductoData[0].total = $('#cantidad').val()*$('#precio_uni').val();	
			SelectProductosTable.fnAddData(SelectProductoData);					
			SelectProductoData.pop();
			Array2 = SelectProductosTable.fnGetData();
			CopyArray(OtherDataProductosTable,Array2,false,Attr);
		}
	});

	$("#enviar_ingreso_producto").click(function(e){
		$("#RegistrarIngresoForm").submit();
	});
	
	RowCallBackFunctionProducto = getSimpleSelectRowCallBack(SelectProductoData,"select_producto_table");
	UrlaDTableProductos = '{{ path("dicars_logistica_servicio_gettablaproductos") }}';
	FormatoDTableProductos = [
		              { "sWidth": "12%","mDataProp": "idproducto"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "pcontado"}
		              ];
	BuscarProductosTable = createDataTable('select_producto_table',UrlaDTableProductos,FormatoDTableProductos,null,RowCallBackFunctionProducto);

	SelectProductosTable = $("#ingreso_productos_table").dataTable({
		"aoColumns": [
		              { "sWidth": "12%","mDataProp": "idproducto"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "cantidad"},
		              { "sWidth": "12%","mDataProp": "precio_uni"},		              
		              { "sWidth": "12%","mDataProp": "elim_btn"}
		              ],
		       "fnCreatedRow": function( nRow, aData, iDisplayIndex ) {
		        		$(nRow).find('.btn-danger').click(function(e){
		        		e.preventDefault();
		        		var index = $(SelectProductosTable.fnGetData()).getIndexObj(aData,'idproducto');
		        		SelectProductosTable.fnDeleteRow(index);
		        		Array2 = SelectProductosTable.fnGetData();
		        		CopyArray(OtherDataProductosTable,Array2,false,Attr);
		        		});       
		        },
		  		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
		  		"sPaginationType": "bootstrap",
		  		"oLanguage": {
		  		"sLengthMenu": "_MENU_ registros por pagina"
		  		}
	});

	enviar("RegistrarIngresoForm",ResetForm,OtherDataProductosTable);
});
</script>
{% endblock %}