{% extends "::baseCharisma.html.twig" %}
{% block title %}Ingreso Productos: Ver - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_cons_ingresoproductos')}}">Ingreso de Productos</a>
</li>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>INGRESO DE PRODUCTOS: EDITAR</h2>
		</div>
		<div class="box-content">
			<form id="RegistrarIngresoForm" class="form-horizontal" method="post" action = "{{ path('dicars_logistica_editar_ingresoproducto') }}">
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="codigo">Número Ingreso</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ serie }} - {{ nro }}</span>
									<input type="hidden" id="idingprod" name="idingprod" value="{{ id }}">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="registrador">Registrador</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ personal }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="tipo">Motivo</label>
								<div class="controls">	
									<select id="tipo" name="tipo">
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="tienda">Tienda</label>
								<div class="controls">
								  	<span class="help-inline" style="margin-top:5px;">{{ local }}</span>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="fecha">Fecha</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ fecha_reg }}</span>
									
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="solicitante">Número Documento</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ serie_doc }} - {{ nro_doc }}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="observaciones">Observaciones</label>
						<div class="controls">
							<span class="help-inline" style="margin-top:5px;">{{ observacion }}</span>
						</div>
					</div>
				</fieldset>
			</form>				
				<form id="AgregarProductoForm" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="producto">Producto</label>
					<div class="controls">
						<input class="input-xlarge focused" id="producto" disabled type="text">
					  	<button type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
						<label style="display:inline;" for="cantidad">Cantidad</label>
						<input id="cantidad" name="cantidad" type="number" min=1 style="margin: 0 18px 0 0;">
						<label style="display:inline;">Precio/Unidad</label>
						<input id="precio_uni" name="precio_uni" type="number" min=0 style="margin: 0 18px;">
						<button id="agregar_producto" type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
					</div>
				</div>
				</form>
			<hr>
			<h3>Detalle de Ingreso de Productos</h3>
			<hr>
			<table id="deting_productos_table" name="deting_productos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					  <tr>
						  <th>Código Producto</th>						  
						  <th>Cantidad</th>
						  <th>Precio Unit</th>
						  <th>Total</th>
						  <th>Acciones</th>
					  </tr>
				</thead>   
				<tbody>
				</tbody>
			</table>
			<div class="form-actions">
				<a href="{{ path('dicars_logistica_cons_ingresoproductos') }}" class="btn btn-success"><i class="icon icon-white icon-arrowthick-w"></i> Volver</a>
				<button id="btn_enviar_cambios" type="button" class="btn btn-primary" style="float: right;"><i class="icon icon-white icon-save"></i>Guardar</button>
			</div>
		</div>			
			<div class="modal hide fade" id="modalEditarDatos" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Editar Datos del Ingreso</h3>
			</div>
			<div class="modal-body">			
				<form id="EditarIngresoForm" class="form-horizontal">
				</form>
			</div>
			</div>	
			{% include 'DicarsVentasBundle:Default:buscarproducto.html.twig' %}		
	</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">
var SelectProductoData = new Array();
var OtherDataDetIngreso =  new Array();
var BuscarProductosTable;
var Attr = ['iddetingreso','idproducto','cantidad','precio_uni', 'band', 'total'];
var ReloadTableEditar;
var DetIngProductosTable;
var RowCallBackFunctionProducto;
var DrawCallBack;
function cargarEditar(detingprode){
	ArrayDatos = [	{'type':'hidden','value':detingprode.idproducto,'name':'idE'},
	              	{'label':'Cantidad','type':'inputnumber','req':'', 'step':'1', 'min':'1', 'max':'15','value':detingprode.cantidad,'name':'cantidadE'},
	              	{'label':'Precio','type':'inputnumber', 'req':'', 'step':'1', 'min':'0', 'max':'1000','value':detingprode.precio_uni,'name':'precioE'},
	              	{'type':'actions'}];
	
	$("#EditarIngresoForm").html(crearElementosForm(ArrayDatos));
}

$(document).ready(function(){

	constantes = getAjaxObject("{{ path('dicars_admin_servicio_getoptionconstantes',{'idclase':3}) }}");
	cargarSelect(constantes, 'tipo', 'id', 'desc');
	$('#tipo').val({{ motivo }});
	
	RowCallBackFunction = function(nRow, aData, iDisplayIndex){		
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarDatos').modal('show');
			var index = $(DetIngProductosTable.fnGetData()).getIndexObj(aData,'idproducto');
			$('#EditarIngresoForm').unbind();			
			$('#EditarIngresoForm').submit(function(e){
				e.preventDefault();
				DetIngProductosTable.fnUpdate($('#cantidadE').val(),index,1);
				DetIngProductosTable.fnUpdate($('#precioE').val(),index,2);
				DetIngProductosTable.fnUpdate(($('#precioE').val()*$('#cantidadE').val()),index,3);
				aData.band = 1;
				Array2 = DetIngProductosTable.fnGetData();
				CopyArray(OtherDataDetIngreso,Array2,false,Attr);
				$('#modalEditarDatos').modal('hide');
												
			});
		});

		$(nRow).find('.btn-danger').click(function(e){
			e.preventDefault();			
				
			var index = $(DetIngProductosTable.fnGetData()).getIndexObj(aData,'idproducto');
			BuscarProductosTable.fnAddData(aData);
			DetIngProductosTable.fnDeleteRow(index);
		});
	};
	
	DrawCallBack = function(){
		SubTablaArray(BuscarProductosTable, DetIngProductosTable.fnGetData(), 'idproducto');
		Array2 = DetIngProductosTable.fnGetData();
		CopyArray(OtherDataDetIngreso,Array2,false,Attr);
	};
	
	$('.btn-buscarp').click(function(e){
		e.preventDefault();
		$('#modalBuscarProducto').modal('show');
	});
	
	$("#select_producto").click(function(e){
		e.preventDefault();
		var data = SelectProductoData[0];
		$('#producto').val(data.idproducto+" - "+data.nombre);
		$('#modalBuscarProducto').modal('hide');
	});

	$("#AgregarProductoForm").submit(function(e){
		e.preventDefault();
		if(SelectProductoData.length > 0){						
			SelectProductoData[0].iddetingreso = 0;			
			SelectProductoData[0].cantidad = $('#cantidad').val();
			SelectProductoData[0].precio_uni = $('#precio_uni').val();
			SelectProductoData[0].total = $('#precio_uni').val()*$('#cantidad').val();
			SelectProductoData[0].band = 2;
			SelectProductoData[0].edit_btn = SelectProductoData[0].elim_btn;
			SubTablaArray(BuscarProductosTable, SelectProductoData, 'idproducto');
			DetIngProductosTable.fnAddData(SelectProductoData);
			$('#producto').val("");
			$('#cantidad').val("");
			$('#precio_uni').val("");			
			SelectProductoData.pop();
			Array2 = DetIngProductosTable.fnGetData();
			CopyArray(OtherDataDetIngreso,Array2,false,Attr);
		}		
	});	
	
	$("#btn_enviar_cambios").click(function(e){
		$("#RegistrarIngresoForm").submit();
	});
	
	RowCallBackFunctionProducto = getSimpleSelectRowCallBack(SelectProductoData,"select_producto_table");
	UrlaDTableProductos = '{{ path("dicars_logistica_servicio_gettablaproductos") }}';
	FormatoDTableProductos = [	                  
		              { "sWidth": "12%","mDataProp": "descprod"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "pcontado"}
		              ];
	BuscarProductosTable = createDataTable('select_producto_table',UrlaDTableProductos,FormatoDTableProductos,null,RowCallBackFunctionProducto);
	
	UrlaDTableProductos = "{{ path('dicars_logistica_servicio_gettabladetingprod',{'id':''}) }}/{{ id }}";
	FormatoDTableProductos = [
		              { "sWidth": "25%","mDataProp": "codigobarras"},
		              { "sWidth": "25%","mDataProp": "cantidad"},
		              { "sWidth": "25%","mDataProp": "precio_uni"},
		              { "sWidth": "13%","mDataProp": "total"},
		              { "sWidth": "12%","mDataProp": "edit_btn"}
		              ];
	DetIngProductosTable = createDataTable('deting_productos_table',UrlaDTableProductos,FormatoDTableProductos, DrawCallBack, RowCallBackFunction);

	enviar("RegistrarIngresoForm",logdata,OtherDataDetIngreso);
});
</script>
{% endblock %}