{% extends "::baseCharisma.html.twig" %}
{% block title %}Locales - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_locales')}}">Locales</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Locales</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Local"><i class="icon-plus"></i></a>
				<!-- a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a -->
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="locales_table">
			  <thead>
				  <tr>
					  <th>Nombre</th>
					  <th>Estado</th>
					  <th>Teléfono</th>
					  <th>Dirección</th>
					  <th>Tipo de Rubro</th>
					  <th>Acciones</th>
				  </tr>
			  </thead>   
			  <tbody>
			</tbody>
		</table>
		<div class="modal hide fade" id="modalRegistro">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Registrar Local</h3>
			</div>
			<form id="RegistrarLocalForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_registrar_local') }}">
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="nombre_tienda">Nombre de la Tienda</label>
							<div class="controls">
						  		<input class="input-xlarge focused" id="nombre_tienda" name="nombre_tienda" type="text" pattern="|^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜç]+$|" maxlength="100" required>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="estado">Estado</label>
							<div class="controls">
						  		<select id="estado" name="estado">
									<option value="1">Habilitado</option>
									<option value="0">Inhabilitado</option>
								</select>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="direccion">Dirección</label>
							<div class="controls">
						  		<input class="input-xlarge focused" id="direccion" name="direccion" type="text" pattern="|^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜç]+$|" maxlength="150" required>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="telefono">Teléfono</label>
							<div class="controls">
						  		<input class="input-xlarge focused" id="telefono" name="telefono" type="text" placeholder="999999999" pattern="|^[0-9]{9}$|" title="Sólo números de 9 dígitos" maxlength="9" required>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="tiprub">Tipo de Rubro</label>
							<div class="controls">
						  		<select id="tiprub" name="tiprub">
								</select>
							</div>
					  	</div>
					  	<h4>Ubigeo</h4>
					  	<hr>
					  	<div class="control-group">
							<label class="control-label" for="dep">Departamento</label>
							<div class="controls">
						  		<select id="dep" name="dep">
								</select>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="prov">Provincia</label>
							<div class="controls">
						  		<select id="prov" name="prov">
								</select>
							</div>
					  	</div>
					  	<div class="control-group">
							<label class="control-label" for="dist">Distrito</label>
							<div class="controls">
						  		<select id="dist" name="dist">
								</select>
							</div>
					  	</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
		<div class="modal hide fade" id="modalEditarLocal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Editar Local</h3>
			</div>
			<form id="EditarLocalForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_editar_local') }}">
			</form>
		</div>
		<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Datos del Local</h3>
			</div>
			<div class="modal-body">
				<div id="VerLocal" class="form-horizontal">
				</div>
			</div>
		</div>   
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var oTable;

var ReloadTableEditar = reloadclosemodal('modalEditarLocal', 'locales_table');
var ReloadTableRegistrar = reloadclosemodal('modalRegistro', 'locales_table');

var ubigeos;
var constantes;

//EDITAR DATOS------------------------------------>
function cargarEditar(local){	
	ArrayDatos = [	{'type':'hidden','value':local.id,'name':'id'},
	          		{'label':'Nombre de Tienda','type':'input', 'typeinput':'text','value':local.nombre_tienda,'name':'nombre_tiendaE', pattern:'|^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜç]+$|', title:'', req:'required', max:'100'},
	              	{'label':'Estado','type':'select','name':'estadoE'},
	              	{'label':'Dirección','type':'input','typeinput':'text','value':local.direccion,'name':'direccionE', pattern:'|^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜç]+$|', title:'', req:'required', max:'150'},
	              	{'label':'Teléfono','type':'input','typeinput':'text','value':local.telefono,'name':'telefonoE', pattern:'|^[0-9]{9}$|', title:'', req:'required', max:'9'},
	              	{'label':'Departamento','type':'select','name':'depE'},
	              	{'label':'Provincia','type':'select','name':'provE'},
	              	{'label':'Distrito','type':'select','name':'distE'},
	              	{'label':'Tipo de Rubro','type':'select','name':'tiprubE'},
					{'type':'actions'}
					];
		
	$("#EditarLocalForm").html(crearElementosForm(ArrayDatos));
	
	$('#estadoE').append('<option value="1">Habilitado</option>');
	$('#estadoE').append('<option value="0">Inhabilitado</option>');
	$('#estadoE').val(local.estadoValor);

	cargarSelect(constantes,'tiprubE', 'id', 'desc');
	$('#tiprubE').val(local.tiprubId);
	
	cargarUbigeo('distE', 'provE', 'depE', local.dist, local.prov, local.dep);
}

//VER DATOS------------------------------------>
function cargarVer(local){

	ubigeo = local.distdesc + " - " + local.provdesc + " - " + local.depdesc;
	ArrayDatos = [	{'label':'Nombre de Tienda','type':'span','value':local.nombre_tienda},
	              	{'label':'Estado','type':'span','value':local.estado},
	              	{'label':'Dirección','type':'span','value':local.direccion},
	              	{'label':'Teléfono','type':'span','value':local.telefono},
	              	{'label':'Ubigeo','type':'span','value':ubigeo},
	              	{'label':'Tipo de Rubro','type':'span','value':local.tiprub},
					{'type':'close'}];
		
	$("#VerLocal").html(crearElementosForm(ArrayDatos));
}

//init------------------------------------>
$(document).ready(function(){	

	ubigeos = getAjaxObject("{{ path('dicars_admin_servicio_getoptionubigeo') }}");
	cargarUbigeo('dist', 'prov', 'dep');

	constantes = getAjaxObject("{{ path('dicars_admin_servicio_getoptionconstantes',{'idclase':2}) }}");
	cargarSelect(constantes,'tiprub', 'id', 'desc');

	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-datos').click(function(e){
			e.preventDefault();
			cargarVer(aData);
			$('#modalVerDatos').modal('show');
		});
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarLocal').modal('show');
		});
	};
	
	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistro').modal('show');
	});
	
	enviar('RegistrarLocalForm', ReloadTableRegistrar);
	enviar('EditarLocalForm', ReloadTableEditar);

	UrlaDTable = '{{ path("dicars_logistica_servicio_gettablalocales") }}';
	FormatoDTable = [
		              { "sWidth": "12%","mDataProp": "nombre_tienda"},
		              { "sWidth": "12%","mDataProp": "estado"},
		              { "sWidth": "12%","mDataProp": "telefono"},
		              { "sWidth": "12%","mDataProp": "direccion"},
		              { "sWidth": "12%","mDataProp": "tiprub"},
		              { "sWidth": "40%","mDataProp": "Acciones"}
		              ];
	oTable = createDataTable('locales_table',UrlaDTable,FormatoDTable,null, RowCallBackFunction);
});
</script>
{% endblock %}