{% extends "::baseCharisma.html.twig" %}
{% block title %}Locales - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Logística</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_locales')}}">Locales</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Locales</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Local"><i class="icon-plus"></i></a>
				<!-- a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a -->
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable">
			  <thead>
				  <tr>
					  <th>Nombre</th>
					  <th>Estado</th>
					  <th>Teléfono</th>
					  <th>Dirección</th>
					  <th>Acciones</th>
				  </tr>
			  </thead>   
			  <tbody>
				<tr>
					<td>David R</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
					<td class="center">
						<a class="btn btn-info btn-editar" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Inhabilitar
						</a>
					</td>
				</tr>
				<tr>
					<td>Chris Jack</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
				<tr>
					<td>Jack Chris</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
				<tr>
					<td>Muhammad Usman</td>
					<td class="center">2012/01/01</td>
					<td class="center">Member</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
				<tr>
					<td>Sheikh Heera</td>
					<td class="center">2012/02/01</td>
					<td class="center">Staff</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
				<tr>
					<td>Helen Garner</td>
					<td class="center">2012/02/01</td>
					<td class="center">Staff</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
				<tr>
					<td>Saruar Ahmed</td>
					<td class="center">2012/03/01</td>
					<td class="center">Member</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
				<tr>
					<td>Ahemd Saruar</td>
					<td class="center">2012/03/01</td>
					<td class="center">Member</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
				<tr>
					<td>Habib Rizwan</td>
					<td class="center">2012/01/21</td>
					<td class="center">Staff</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
				<tr>
					<td>Rizwan Habib</td>
					<td class="center">2012/01/21</td>
					<td class="center">Staff</td>
					<td class="center">
						<a class="btn btn-info" href="#">
							<i class="icon-edit icon-white"></i>  
							Editar                                            
						</a>
						<a class="btn btn-danger" href="#">
							<i class="icon-trash icon-white"></i> 
							Eliminar
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="modal hide fade" id="modalRegistro">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Registrar Local</h3>
			</div>
			<div class="modal-body">
				<form id="RegistrarLocalForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_registrar_local') }}">
					<fieldset>
					  <div class="control-group">
						<label class="control-label" for="nombre_tienda">Nombre de la Tienda</label>
						<div class="controls">
						  <input class="input-xlarge focused" id="nombre_tienda" name="nombre_tienda" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="estado">Estado</label>
						<div class="controls">
						  <input class="input-xlarge focused" id="estado" name="estado" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="direccion">Dirección</label>
						<div class="controls">
						  <input class="input-xlarge focused" id="direccion" name="direccion" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="telefono">Teléfono</label>
						<div class="controls">
						  <input class="input-xlarge focused" id="telefono" name="telefono" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="ubigeo">Ubigeo</label>
						<div class="controls">
						  <input class="input-xlarge focused" id="ubigeo" name="ubigeo" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="tiprub">Tipo de Rubro</label>
						<div class="controls">
						  <input class="input-xlarge focused" id="tiprub" name="tiprub" type="text">
						</div>
					  </div>
					  <div class="form-actions">
						<button type="submit" class="btn btn-primary">Guardar</button>
						<button type="reset" class="btn" data-dismiss="modal">Cancelar</button>
					  </div>
					</fieldset>
				  </form>
			</div>
			<!-- div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
				<a href="#" class="btn btn-primary">Guardar</a>
			</div -->
		</div>
		<div class="modal hide fade" id="modalVerDatos>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Datos de Tienda</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<fieldset>
					  <div class="control-group">
						<label class="control-label" for="tienda">Tienda</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Nombre de la Tienda</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="nomalmacen">Nombre de Almacén</label>
						<div class="controls">
						  <input class="input-xlarge focused" id="nomalmacen" type="text">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="nroestates">Nro de Estantes</label>
						<div class="controls">
						  <input type="number" class="input-xlarge focused" id="nroestantes">
						</div>
					  </div>
					  <div class="form-actions">
						<button type="submit" class="btn btn-primary">Guardar</button>
						<button type="reset" class="btn" data-dismiss="modal">Cancelar</button>
					  </div>
					</fieldset>
				  </form>
			</div>
			<!-- div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
				<a href="#" class="btn btn-primary">Guardar</a>
			</div -->
		</div>     
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">
$(document).ready(init());

//Init------------------------------------>
function init(){
	enviar('RegistrarLocalForm', logdata);
}


//mostrar Registrar Cliente------------------------------------>
$('.btn-registrar').click(function(e){
	e.preventDefault();
	$('#modalRegistro').modal('show');
});
//mostrar Editar Cliente------------------------------------>
$('.btn-editar').click(function(e){
	e.preventDefault();
	$('#modalRegistro').modal('show');
});
</script>
{% endblock %}