{% extends "::baseCharisma.html.twig" %}
{% block title %}Registrar Pedido - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_orden_compra_consultar')}}">Orden Compra</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>ORDEN DE COMPRA: REGISTRAR</h2>
		</div>
		<div class="box-content">
			<form id="RegistrarOrdenCompraForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_registrar_ordcompra') }}">
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="codigo">Código</label>
								<div class="controls">
									<input id="serie" name="serie" type="text" style="width:40px;" maxlength="4">
									-
									<input id="numero" name="numero" type="text" style="width:60px;" maxlength="8">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="registrador">Registrador</label>
								<div class="controls">
									<input class="input-xlarge focused" id="registrador" name="registrador" type="text" readonly required>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="proveedor">Proveedor</label>
								<div class="controls">
									<input class="input-xlarge focused" id="proveedor" name="proveedor" type="text" readonly>
									<input id="proveedor_id" name="proveedor_id" type="hidden">
					  				<button type="button" class="btn btn-info btn-proveedor" style="margin: 0 18px;"><i class="icon-search icon-white"></i></button>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="observaciones">Observaciones</label>
								<div class="controls">
									<textarea id="observaciones" name="observaciones" class="input-xlarge" ></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="selectEstado">Estado</label>
								<div class="controls">
								  	<select id="selectEstado" name="selectEstado">
										<option value="1">Atendida</option>
										<option value="2">Atendida Parcialmente</option>
										<option value="3">No fue atendida</option>
										<option value="4">Anulada</option>
									</select>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="subtotal">Subtotal</label>
								<div class="controls">
									<input class="input-xlarge" id="subtotal" name="subtotal" min="0" type="number" readonly value="0">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="igv">IGV</label>
								<div class="controls">
									<select id="igv" name="igv">
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="total">Total</label>
								<div class="controls">
									<input class="input-xlarge" id="total" name="total" type="number" readonly value="0">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="descuento">Descuento</label>
								<div class="controls">
									<input class="input-xlarge" id="descuento" name="descuento" type="number" step="0.10" value="0">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="recequiv">Recargo de Equivalencia</label>
								<div class="controls">
									<input class="input-xlarge" id="recequiv" name="recequiv" type="number" step="0.10" value="0">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="retencion">Retención</label>
								<div class="controls">
									<input class="input-xlarge" id="retencion" name="retencion" type="number" step="0.10" value="0">
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			<hr>
			<h3>Detalle de la Orden de Compra</h3>	
			<hr>
			<div class="form-horizontal">
				<div class="span6" style="margin-bottom: 20px; border-rigth: 1px solid #ddd;">
					<div class="control-group">
						<label class="control-label" for="ordped">Pedido</label>
						<div class="controls">
							<input class="input-xlarge focused" id="ordped" name="ordped" type="text" readonly>
							<button type="button" class="btn btn-info btn-ordped" style="margin: 0 18px;"><i class="icon-search icon-white"></i></button>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="preciod">Precio</label>
						<div class="controls">  
							<input id="preciod" type="number" step="0.01" min="1" style="margin: 0 18px 0 0;">
							<label style="display:inline;" for="cantidadd"><strong>Cantidad</strong></label>
							<input id="cantidadd" type="number" style="margin: 0 18px 0 0;">
							<button id="agregar_detalle" type="button" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="span6" style="margin-bottom: 20px; border-left: 1px solid #ddd;">
					<div class="control-group">
						<label class="control-label" for="producto">Producto</label>
						<div class="controls">
							<input class="input-xlarge focused" id="producto" type="text">
						  	<button type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i></button>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="precio">Precio</label>
						<div class="controls">
							<input id="precio" type="number" step="0.01" min="1" style="margin: 0 18px 0 0;" >
							<label style="display:inline;" for="cantidad"><strong>Cantidad</strong></label>
							<input id="cantidad" type="number" style="margin: 0 18px 0 0;">
							<button id="agregar_producto" type="button" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
						</div>
					</div>
				</div>
			</div>
			
			<table id="productos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					  <tr>
						  <th>Pedido</th>
						  <th>Registrante</th>
						  <th>Producto</th>
						  <th>Cantidad</th>
						  <th>Precio</th>
						  <th>Fecha de registro</th>
						  <th></th>
						  <th></th>
					  </tr>
				</thead>   
				<tbody>
				</tbody>
			</table>
			<hr>
			<div class="form-actions" style="padding-left: 17px;">
				<a href="{{ path('dicars_logistica_orden_compra_consultar') }}" type="reset" class="btn btn-success btn-cancelar" ><i class="icon icon-white icon-arrowthick-w"></i> Volver</a>
				<button id="btn_enviar_ordcom" type="submit" class="btn btn-primary" style="float: right;"><i class="icon icon-white icon-save"></i>Guardar</button>
			</div>
			{% include 'DicarsLogisticaBundle:Default:buscarproveedor.html.twig' %}
			{% include 'DicarsLogisticaBundle:Default:buscarordped.html.twig' %}
			<div class="modal hide fade" id="modalBuscarProducto">
				<div class="modal-header">
					<h3>Productos</h3>
				</div>
				<div class="modal-body">
					<table id="select_producto_table" class="table table-striped table-bordered bootstrap-datatable datatable">
					  <thead>
						  <tr>
							  <th>Codigo</th>
							  <th>Producto</th>
							  <th>Stock</th>
						  </tr>
					  </thead>   
					  <tbody>
					  </tbody>
				  </table>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
					<a  id="select_producto" href="#" class="btn btn-primary">Seleccionar</a>
				</div>
			</div>
			</form>
			<div class="modal hide fade" id="modalEditarCantidad" >
				<div class="modal-header">
					<h3>Datos del Producto</h3>
				</div>
				<div class="modal-body">
					<form id="EditarCantidadForm" class="form-horizontal">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

// Se almacena el producto seleccionado
var SelectProductoData = new Array();
var SelectProveedorData = new Array();
var SelectDetPedido = new Array();

var OtherdataProductos = new Array();

var SelectOrdPedData = new Array();

//Se almacena la data de la tabla de los productos seleccionados
var OtherdataProductos =  new Array();

var Attr = ['idproducto','cantidad','pordcom', 'iddetordped','importe'];

var BuscarProductosTable;
var BuscarProveedoresTable;
var BuscarDetOrdPedTable;
var DetOrdPedProductosTable;

var SelectProductosTable;

var RowCallBackFunctionProducto;
var RowCallBackFunctionProveedor;
var RowCallBackFunctionOrdPed;

var DrawCallBack;
var asigid = 0;

var UrlPedido ='';

var TiposIGV;

function Suma(){
	
	var subtotal = sumArrayByAttr(DetOrdPedProductosTable.fnGetData(),'pordcom','importe');
	var total = 0;
	var igv = parseInt($("#igv option:selected").text());
	$('#subtotal').val(subtotal);
	total = subtotal + (igv * subtotal / 100);
	$('#total').val(total);
}

function cargarEditar(producto){			

	ArrayDatos = [	{'label':'Producto','type':'span','value':producto.nombre},   
	              	{'label':'Precio','type':'inputnumber','req':'true', 'step':'0.01','min':'1','max':'1000000','value':producto.pordcom,'name':'pordcomE'},
	              	{'label':'Cantidad a Pedir','type':'inputnumber','req':'true', 'min':'1','max':'1000000','value':producto.cantidad,'name':'cantidadE'},
					{'type':'actions'}];
	$("#EditarCantidadForm").html(crearElementosForm(ArrayDatos));
}

$(document).ready(function(){

	ResetForm = function(data){
		$(location).attr("href", "{{ path('dicars_logistica_orden_compra_consultar') }}");		
	};

	TiposIGV = getAjaxObject("{{ path('dicars_admin_servicio_getoptiontiposigv') }}");
	cargarSelect(TiposIGV,'igv','id','porc');

	$('#RegistrarOrdenCompraForm').change(function(){Suma();});
	
	DrawCallBack = function(){
		if($('#ordped').val() != '' ){
			Array2 = DetOrdPedProductosTable.fnGetData();
			CopyArray(OtherdataProductos,Array2,false,Attr);
			Suma();
		}
	};

	$('.btn-proveedor').click(function(e){
		e.preventDefault();
		$('#modalBuscarProveedor').modal('show');
	});

	$('.btn-ordped').click(function(e){
		e.preventDefault();
		$('#modalBuscarOrdPed').modal('show');
	});
	
	//mostrar Buscar Producto------------------------------------>
	$('.btn-buscarp').click(function(e){
		e.preventDefault();
		$('#modalBuscarProducto').modal('show');
	});

	$("#select_producto").click(function(e){
		e.preventDefault();
		var data = SelectProductoData[0];
		$('#producto').val(data.nombre);
		$('#cantidad').val(1);
		$('#precio').val(0);
		$('#modalBuscarProducto').modal('hide');
		UnselectRow("select_producto_table");
	});

	$("#select_proveedor").click(function(e){
		e.preventDefault();
		var data = SelectProveedorData[0];
		$('#proveedor').val(data.razonsocial);
		$('#proveedor_id').val(data.id);
		$('#modalBuscarProveedor').modal('hide');
	});

	$("#select_ordped").click(function(e){
		e.preventDefault();
		var data = SelectDetPedido[0];
		$('#ordped').val(data.nombre);
		$('#ordped_id').val(data.id);
		$('#cantidadd').val(1);
		$('#preciod').val(0);
		$('#modalBuscarOrdPed').modal('hide');
		UnselectRow("select_ordped_table");
	});
	$("#agregar_detalle").click(function(e){
		e.preventDefault();
		if(SelectDetPedido.length > 0){
			SelectDetPedido[0].pordcom = $('#preciod').val();
			SelectDetPedido[0].cantidad= $('#cantidadd').val();
 			DetOrdPedProductosTable.fnAddData(SelectDetPedido);
 			SubTablaArray(BuscarDetOrdPedTable,SelectDetPedido,'iddetordped');
			$('#ordped').val("");
			$('#cantidadd').val("");
			$('#preciod').val("");
			SelectDetPedido.pop();
			Array2 = DetOrdPedProductosTable.fnGetData();
			CopyArray(OtherdataProductos,Array2,false,Attr);
		}
	});
	
	$("#agregar_producto").click(function(e){
		e.preventDefault();
		if(SelectProductoData.length > 0){
			SelectProductoData[0].cantidad = $('#cantidad').val();
			SelectProductoData[0].pordcom = $('#precio').val();
			SelectProductoData[0].iddetordped = 0;
			SelectProductoData[0].pedido_codigo ='';
			SelectProductoData[0].fecha_reg = '';
			SelectProductoData[0].registrante = '';
 			DetOrdPedProductosTable.fnAddData(SelectProductoData);
			$('#producto').val("");
			$('#cantidad').val("");
			$('#precio').val("");
			SelectProductoData.pop();
			Array2 = DetOrdPedProductosTable.fnGetData();
			CopyArray(OtherdataProductos,Array2,false,Attr);
		}
	});

	RowCallBackFunctionProducto = getSimpleSelectRowCallBack(SelectProductoData,"select_producto_table");
	RowCallBackFunctionDetOrdPed = getSimpleSelectRowCallBack(SelectDetPedido,"select_ordped_table");
	RowCallBackFunctionProveedor = getSimpleSelectRowCallBack(SelectProveedorData,"select_proveedor_table");

	DetOrdPedProductosTable = $('#productos_table').dataTable({
		"aoColumns": [
		      		{ "sWidth": "12%","mDataProp": "pedido_codigo"},
		              { "sWidth": "12%","mDataProp": "registrante"},
		              { "sWidth": "12%","mDataProp": "idproducto"},
		              { "sWidth": "12%","mDataProp": "cantidad"},
		              { "sWidth": "12%","mDataProp": "pordcom"},
		              { "sWidth": "12%","mDataProp": "fecha_reg"},
		              { "sWidth": "12%","mDataProp": "edit_btn"},
		              { "sWidth": "12%","mDataProp": "elim_btn"}
		              ],
		       "fnCreatedRow": function( nRow, aData, iDisplayIndex ) {
			       aData.importe = 0;
			       aData.asigid = asigid;
			       asigid++;
		    	   Suma();		    	   
			   		$(nRow).find('.btn-editar').click(function(e){
			   			e.preventDefault();
			   			cargarEditar(aData);
			   			$('#modalEditarCantidad').modal('show');
			   			var index = $(DetOrdPedProductosTable.fnGetData()).getIndexObj(aData,'asigid');
			   			$('#EditarCantidadForm').unbind();
			   			$('#EditarCantidadForm').submit(function(e){
			   				e.preventDefault();
			   				DetOrdPedProductosTable.fnUpdate($('#cantidadE').val(),index,3);
			   				DetOrdPedProductosTable.fnUpdate($('#pordcomE').val(),index,4);
			   				Array2 = DetOrdPedProductosTable.fnGetData();
			   				CopyArray(OtherdataProductos,Array2,false,Attr);
			   				$('#modalEditarCantidad').modal('hide');
			   				Suma();
			   			});
			   		});
			   		$(nRow).find('.btn-danger').click(function(e){
			   			e.preventDefault();
			   			var index = $(DetOrdPedProductosTable.fnGetData()).getIndexObj(aData,'asigid');
			   			if(aData.iddetordped != 0)
			   				BuscarDetOrdPedTable.fnAddData(aData);
			   			DetOrdPedProductosTable.fnDeleteRow( index );
			   			Array2 = DetOrdPedProductosTable.fnGetData();
			   			CopyArray(OtherdataProductos,Array2,false,Attr);
			   			Suma();
			   		});    
		        },
		  		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
		  		"sPaginationType": "bootstrap",
		  		"oLanguage": {
		  		"sLengthMenu": "_MENU_ registros por pagina"
		  		}
	});
	
	UrlaDTableProductos = '{{ path("dicars_logistica_servicio_gettablaproductos") }}';
	FormatoDTableProductos = [
		              { "sWidth": "12%","mDataProp": "codigobarras"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              ];
	BuscarProductosTable = createDataTable('select_producto_table',UrlaDTableProductos,FormatoDTableProductos,null,RowCallBackFunctionProducto);

	UrlaDTableProveedores = '{{ path("dicars_logistica_servicio_gettablaproveedores") }}';
	FormatoDTableProveedores = [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "razonsocial"},
		              { "sWidth": "12%","mDataProp": "ruc"},
		              { "sWidth": "12%","mDataProp": "telefono"}
		              ];
	BuscarProveedoresTable = createDataTable('select_proveedor_table',UrlaDTableProveedores,FormatoDTableProveedores,null,RowCallBackFunctionProveedor);

	UrlaDTableOrdPed = "{{ path('dicars_logistica_servicio_gettabladetpedidocompra') }}";
	FormatoDTableOrdPed = [
		              { "sWidth": "12%","mDataProp": "pedido_codigo"},
		              { "sWidth": "12%","mDataProp": "registrante"},
		              { "sWidth": "12%","mDataProp": "codigobarras"},
		              { "sWidth": "12%","mDataProp": "cantidad"},
		              { "sWidth": "12%","mDataProp": "fecha_reg"}
		              ];
	BuscarDetOrdPedTable = createDataTable('select_ordped_table',UrlaDTableOrdPed,FormatoDTableOrdPed,null,RowCallBackFunctionDetOrdPed);

	enviar("RegistrarOrdenCompraForm",ResetForm,OtherdataProductos);
	
});


</script>
{% endblock %}