{% extends "::baseCharisma.html.twig" %}
{% block title %}Ver Pedido - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_orden_compra_consultar')}}">Orden de Compra</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>ORDEN DE COMPRA: VER DATOS</h2>
		</div>
		<div class="box-content">
			<form method="post" action="{{ asset('extensiones/exportpdf.php') }}" target="_blank" id="CreatePDFForm">
				<input type="hidden" name="title" id="title"/>
				<input type="hidden" name="table_resumen" id="table_resumen"/>
				<input type="hidden" name="table_producto" id="table_producto"/>
				<input type="hidden" name="table_total" id="table_total"/>
				<button type="submit" class="btn btn-success" style="float: right; margin-right: 10px;"/><i class="icon icon-white icon-pdf"></i> PDF</button>
			</form>
			<div class="form-horizontal">
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="fec_reg">Fecha de Registro</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ fecha_reg }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="codigo">N° Orden Compra</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ serie }} - {{ nro }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="registrador">Registrador</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ personal }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="proveedor">Proveedor</label>
								<div class="controls">
								  	<span class="help-inline" style="margin-top:5px;">{{ proveedor }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="observaciones">Observaciones</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ observacion }}</span>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="subtotal">Subtotal</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ subtotal }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="igv">IGV</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ igv }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="descuento">Descuento</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ descuento }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="total">Total</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ total }}</span>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<hr>
			<h3>Detalle Orden de Compra</h3>
			<hr>
			<table id="productos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					  <tr>
						  <th>Producto</th>
						  <th>Cantidad</th>
						  <th>Prec. Unitario s/.</th>
						  <th>Importe s/.</th>
						  <th>Orden de Pedido</th>
					  </tr>
				</thead>   
				<tbody>
				</tbody>
			</table>
			<div class="form-actions">
				<a href="{{ path('dicars_logistica_orden_compra_consultar') }}" class="btn btn-success"><i class="icon icon-white icon-arrowthick-w"></i> Volver</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

var resumen;
var total;
var DrawCallBackPedido;
var totalcantidad = 0;

$(document).ready(function(){

	DrawCallBackCompra = function (){
		
		resumen = [	{'td1':'REGISTRADOR:','td2': '{{ personal }}','td3':'ORDEN:','td4':'{{ serie }} - {{ nro }}',},
		           	{'td1':'PROVEEDOR:','td2': '{{ proveedor }}','td3':'FECHA DE EMISIÓN:','td4':'{{ fecha_reg }}',},
		           	{'td1':'OBSERVACIONES:','td2': '{{ observacion }}','td3':'','td4':'',}	];
       	
		total = [	{'td1':'SUB TOTAL:','td2':'S/. {{ subtotal }}'},
		         	{'td1':'DESCUENTO {{ descuento }}%:','td2':'S/. -{{ montodescuento }}'},
		         	{'td1':'IGV {{ igv }}%:','td2':'S/. {{ montoigv }}'},
		         	{'td1':'','td2':''},
		         	{'td1':'CANT. TOTAL:','td2':'S/. {{ total }}'}	];
		
		var tablaresumen = toHTML(crearTablaToArray("resume",null,null,['td1','td2','td3','td4'],['style="width: 25%;" class="impar" ','style="width:25%;" ','style="width: 25%;" class="impar" ','style="width: 25%;" '],resumen));

		var tableproductos = toHTML(crearTablaToArray("tproductos",
				['Producto','Cantidad', 'Precio Unitario','Importe'],
				['style="width: 45%;" class="prodth" ','style="width: 15%;" class="prodth" ','style="width: 20%;" class="prodth" ','style="width: 20%;" class="prodth" '],
				['nombre','cantidad','pordcom','importe'],
				['style="width: 45%;" class="izquierda"','style="width: 15%;"','style="width: 20%;"','style="width: 20%;"'],
				BuscarOrdComTable.fnGetData()));
		
		var tablatotal = toHTML(crearTablaToArray('total',null,null,['td1','td2'],['style="width: 80%;" class="upbold" ','style="width: 20%;"  class="verde"'],total));
		
		$("#title").val("ORDEN DE COMPRA");
		$("#table_resumen").val(tablaresumen);
		$("#table_producto").val(tableproductos);
		$("#table_total").val(tablatotal);
	};
	

	UrlaDTablePedidos = "{{ path('dicars_logistica_servicio_gettabladetordcom',{'idordcom':''}) }}/{{ id }}";
	FormatoDTablePedidos = [
		              { "sWidth": "16%","mDataProp": "desc"},
		              { "sWidth": "16%","mDataProp": "cantidad"},
		              { "sWidth": "16%","mDataProp": "pordcom"},
		              { "sWidth": "16%","mDataProp": "importe"},
		              { "sWidth": "16%","mDataProp": "ordped_id"}
		              ];
	BuscarOrdComTable = createDataTable('productos_table',UrlaDTablePedidos,FormatoDTablePedidos,DrawCallBackCompra);
	
});


</script>
{% endblock %}