{% extends "::baseCharisma.html.twig" %}
{% block title %}Ver Pedido - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_pedidos')}}">Pedidos</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_pedidos_registrar')}}">Ver Pedido</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Ver Pedidos</h2>
		</div>
		<div class="box-content">
			<div class="form-horizontal">
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="codigo">Código</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ serie }} - {{ nro }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="registrador">Registrador</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ personal }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="tienda">Tienda</label>
								<div class="controls">
								  	<span class="help-inline" style="margin-top:5px;">{{ local }}</span>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="fechapedido">Fecha de Pedido</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ fecha_reg }}</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="fechaentrega">Fecha de Entrega</label>
								<div class="controls">
									<span class="help-inline" style="margin-top:5px;">{{ fecha_ent }}</span>
								</div>
							</div>
							
							<div class="control-group">
								<div class="controls">
									<label class="checkbox inline">
										{% if email == '1' %}
											<input type="checkbox" id="checkgerencia" value="option1" checked>Enviar Correo a Gerencia
										{% else %}
											<input type="checkbox" id="checkgerencia" value="option1">Enviar Correo a Gerencia
										{% endif %}
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="observaciones">Observaciones</label>
						<div class="controls">
							<span class="help-inline" style="margin-top:5px;">{{ observacion }}</span>
						</div>
					</div>
				</fieldset>
			</div>
			<hr>
			<h3>Productos de Pedido</h3>
			<hr>
			<table id="productos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					  <tr>
						  <th>Código de Producto</th>
						  <th>Cantidad Total</th>
						  <th>Estado</th>
						  <th>Cantidad Aceptada</th>
					  </tr>
				</thead>   
				<tbody>
				</tbody>
			</table>
			<div class="form-horizontal">
				<div class="form-actions">
					<a href="{{ path('dicars_logistica_pedidos') }}" class="btn btn-primary">Volver</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){

	UrlaDTablePedidos = '{{ path("dicars_logistica_servicio_gettabladetordped",{'id':''}) }}/{{ id }}';
	FormatoDTablePedidos = [
		              { "sWidth": "25%","mDataProp": "serie"},
		              { "sWidth": "25%","mDataProp": "cantidad"},
		              { "sWidth": "25%","mDataProp": "estado"},
		              { "sWidth": "25%","mDataProp": "cantidad_rec"}
		              ];
	BuscarPedidosTable = createDataTable('productos_table',UrlaDTablePedidos,FormatoDTablePedidos);
	
});


</script>
{% endblock %}