{% extends "::baseCharisma.html.twig" %}
{% block title %}Registrar Pedido - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_pedidos')}}">Pedidos</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_pedidos_registrar')}}">Registrar Pedido</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Registrar Pedidos</h2>
		</div>
		<div class="box-content">
			<form class="form-horizontal">
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="codigo">Código</label>
								<div class="controls">
									<input class="input-xlarge focused" id="codigo" type="text">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="registrador">Registrador</label>
								<div class="controls">
									<input class="input-xlarge focused" id="registrador" type="text">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="motivo">Tipo</label>
								<div class="controls">
									<select id="tipo" data-rel="chosen">
										<option>Option 1</option>
										<option>Option 2</option>
										<option>Option 3</option>
										<option>Option 4</option>
										<option>Option 5</option>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="tienda">Tienda</label>
								<div class="controls">
								  	<select id="tienda" data-rel="chosen">
										<option>Option 1</option>
										<option>Option 2</option>
										<option>Option 3</option>
										<option>Option 4</option>
										<option>Option 5</option>
									</select>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="fechapedido">Fecha de Pedido</label>
								<div class="controls">
									<input class="input-xlarge datepicker" id="fechapedido" type="text">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="fechaentrega">Fecha de Entrega</label>
								<div class="controls">
									<input class="input-xlarge datepicker" id="fechaentrega" type="text">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="proveedor">Proveedor</label>
								<div class="controls">
									<input class="input-xlarge focused" id="proveedor" type="text">
									<button type="button" class="btn btn-info btn-proveedor" style="margin-left: 15px;"><i class="icon-user icon-white"></i></button>
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<label class="checkbox inline">
										<input type="checkbox" id="checkgerencia" value="option1">Enviar Correo a Gerencia
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="observaciones">Observaciones</label>
						<div class="controls">
							<textarea id="observaciones" class="input-xlarge"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="producto">Producto</label>
						<div class="controls">
							<input class="input-xlarge focused" id="producto" type="text">
						  	<button type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
							<label style="display:inline;" for="cantidad">Cantidad</label>
							<input id="cantidad" name="cantidad" type="number" style="margin: 0 18px 0 0;">
							<label style="display:inline;">Precio/Unidad</label>
							<input id="precio" name="precio" type="number" style="margin: 0 18px;">
							<button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
						</div>
					</div>
					<hr>
					<h3>Productos de Pedido</h3>
					<hr>
					<table id="productos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
							  <tr>
								  <th>Código</th>
								  <th>Nombre</th>
								  <th>Stock</th>
								  <th>Precio</th>
								  <th>Acciones</th>
							  </tr>
						</thead>   
						<tbody>
							<tr>
								<td>David R</td>
								<td class="center">2012/01/01</td>
								<td class="center">Member</td>
								<td class="center">
									<span class="label label-success">Active</span>
								</td>
								<td class="center">
									<a class="btn btn-info btn-editar" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Chris Jack</td>
								<td class="center">2012/01/01</td>
								<td class="center">Member</td>
								<td class="center">
									<span class="label label-success">Active</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Jack Chris</td>
								<td class="center">2012/01/01</td>
								<td class="center">Member</td>
								<td class="center">
									<span class="label label-success">Active</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Muhammad Usman</td>
								<td class="center">2012/01/01</td>
								<td class="center">Member</td>
								<td class="center">
									<span class="label label-success">Active</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Sheikh Heera</td>
								<td class="center">2012/02/01</td>
								<td class="center">Staff</td>
								<td class="center">
									<span class="label label-important">Banned</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Helen Garner</td>
								<td class="center">2012/02/01</td>
								<td class="center">Staff</td>
								<td class="center">
									<span class="label label-important">Banned</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Saruar Ahmed</td>
								<td class="center">2012/03/01</td>
								<td class="center">Member</td>
								<td class="center">
									<span class="label label-warning">Pending</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Ahemd Saruar</td>
								<td class="center">2012/03/01</td>
								<td class="center">Member</td>
								<td class="center">
									<span class="label label-warning">Pending</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Habib Rizwan</td>
								<td class="center">2012/01/21</td>
								<td class="center">Staff</td>
								<td class="center">
									<span class="label label-success">Active</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
							<tr>
								<td>Rizwan Habib</td>
								<td class="center">2012/01/21</td>
								<td class="center">Staff</td>
								<td class="center">
									<span class="label label-success">Active</span>
								</td>
								<td class="center">
									<a class="btn btn-info" href="#">
										<i class="icon-edit icon-white"></i>  
										Editar                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Eliminar
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<div class="form-actions">
						<a href="{{ path('dicars_logistica_pedidos') }}" type="reset" class="btn btn-cancelar" >Cancelar</a>
						<button class="btn" ><i class="icon-print"></i>Imprimir</button>
						<button type="submit" class="btn btn-primary"><i class="icon icon-white icon-save"></i>Guardar</button>
					</div>
				</fieldset>
			</form>
			{% include 'DicarsVentasBundle:Default:buscarproducto.html.twig' %}
			{% include 'DicarsLogisticaBundle:Default:buscarproveedor.html.twig' %}
			{% include 'DicarsLogisticaBundle:Default:registrar_producto.html.twig' %}
			{% include 'DicarsLogisticaBundle:Default:registrar_proveedor.html.twig' %}
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">
//mostrar Buscar Cliente------------------------------------>
$('.btn-proveedor').click(function(e){
	e.preventDefault();
	$('#modalBuscarProveedor').modal('show');
});
//mostrar Buscar Producto------------------------------------>
$('.btn-buscarp').click(function(e){
	e.preventDefault();
	$('#modalBuscarProducto').modal('show');
});
//mostrar Registrar Producto------------------------------------>
$('.btn-nuevoprod').click(function(e){
	e.preventDefault();
	$('#modalRegistro').modal('show');
});
//mostrar Registrar Proveedor------------------------------------>
$('.btn-nuevoproveed').click(function(e){
	e.preventDefault();
	$('#modalRegistroProveedores').modal('show');
});
//mostrar Cancelar Registro Proveedor------------------------------------>
$('.btn-cancelarprov').click(function(e){
	e.preventDefault();
	$('#modalBuscarProveedor').modal('show');
});

var RowCallBackFunction = function(nRow,aData,iDisplayIndex){
	$(nRow).unbind();
	$(nRow).click( function() {
		$(this).toggleClass('row_selected');
		if($(this).hasClass('row_selected'))
			DSelected.push(aData);
		else{
			var removeindex = $(DSelected).getIndexObj(aData,'id');
			delete DSelected[removeindex];
		}
	});
};


var DrawCallBackFunction = function(){
	console.log('ready');
};


var RowCallBackFunction = function(nRow,aData,iDisplayIndex){
	$(nRow).unbind();
	$(nRow).click( function() {
		$(this).toggleClass('row_selected');
		if($(this).hasClass('row_selected'))
			DSelected.push(aData);
		else{
			var removeindex = $(DSelected).getIndexObj(aData,'id');
			delete DSelected[removeindex];
		}
	});
};

$(document).ready(function(){

	UrlaDTable = '{{ path("dicars_logistica_servicio_gettablaproductos") }}';
	FormatoDTable = [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "precio_contado"}
		              ];
	selectProductos = createDataTable('select_producto_table',UrlaDTable,FormatoDTable,DrawCallBackFunction,RowCallBackFunction);

	$("#productos_table").dataTable({
		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
		"sLengthMenu": "_MENU_ records per page"
		}
	});
	
	$("#select_proveedor_table").dataTable({
		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
		"sLengthMenu": "_MENU_ records per page"
		}
	});
});


</script>
{% endblock %}