{% extends "::baseCharisma.html.twig" %}
{% block title %}Productos - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Logística</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_productos')}}">Productos</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Productos</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Producto"><i class="icon-plus"></i></a>
				<!-- a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a -->
			</div>
		</div>
		<div class="box-content">
			<table class="table table-striped table-bordered bootstrap-datatable datatable" id="productos_table">
			  <thead>
				  <tr>
					  <th>Código</th>
					  <th>Nombre</th>
					  <th>Stock</th>
					  <th>Precio-Co</th>
					  <th>Precio-Cr</th>
					  <th>Acciones</th>
				  </tr>
			  </thead>   
			  <tbody>
				
			  </tbody>
		  </table>
		<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Datos del Producto</h3>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<fieldset>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Código</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">3284728374</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Talla</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">28</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Serie</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">ERNF345543</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Marca</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Lolo</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="region">Tipo</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Lolo</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="focusedInput">Característica</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">Lorem Ipsum</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="provincia">Imágen</label>
					  </div>
					  <div class="control-group">
					  	<div class="controls">
							<figure>
								<img src="tarjeta.jpg" alt="Tarjeta">
							</figure>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="distrito">Precio Costo</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">345</span>
						</div>
					  </div>
					  <h3>Precio de venta al Contado</h3>
					  <div class="control-group">
						<label class="control-label" for="zona">Mínimo</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">324</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="zona">Regular</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">344</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="zona">Máximo</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">434</span>
						</div>
					  </div>
					  <h3>Precio de venta al Crédito</h3>
					  <div class="control-group">
						<label class="control-label" for="zona">Mínimo</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">45</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="zona">Regular</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">234</span>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="zona">Máximo</label>
						<div class="controls">
						  <span class="help-inline" style="margin-top:5px;">764</span>
						</div>
					  </div>
					  <div class="control-group">
					  	<label class="control-label">Código de Barras</label>
					  	<div class="controls">
							<figure>
								<img src="tarjeta.jpg" alt="Tarjeta">
							</figure>
						</div>
					  </div>
					  <div class="form-actions">
						<!-- button type="submit" class="btn btn-primary">Guardar</button -->
						<button type="reset" class="btn" data-dismiss="modal">Cerrar</button>
					  </div>
					</fieldset>
				  </div>
			</div>
			<!-- div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
				<a href="#" class="btn btn-primary">Guardar</a>
			</div -->
		</div>
		{% include 'DicarsLogisticaBundle:Default:registrar_producto.html.twig' %}       
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

$(document).ready(init());

//init------------------------------------>
function init(){
	enviar('RegistrarProductoForm', logdata);
	UrlaDTable = '{{ path("dicars_logistica_servicio_gettablaproductos") }}';
	FormatoDTable = [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "precio_contado"},
		              { "sWidth": "12%","mDataProp": "precio_credito"},
		              { "sWidth": "40%","mDataProp": "Acciones"}
		              ];
	oTable = createDataTable('productos_table',UrlaDTable,FormatoDTable);
}

function CargarBotones(){
	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistro').modal('show');
		
	});
	//mostrar Editar Cliente------------------------------------>
	$('.btn-editar').click(function(e){
		e.preventDefault();
		$('#modalRegistro').modal('show');
		var btn=$(this);
		id=btn.attr("id-data");		
		url = "{{ path('dicars_logistica_servicio_getproductobyid', {'id': ''}) }}/"+id;
		producto = getAjaxObject(url);
		console.log(producto.id);

		ArrayDatos = [{'nombre':producto.nombre},{}];

	});
	//mostrar Ver Datos Cliente------------------------------------>
	$('.btn-datos').click(function(e){
		e.preventDefault();
		$('#modalVerDatos').modal('show');
	});
}
</script>
{% endblock %}