{% extends "::baseCharisma.html.twig" %}
{% block title %}Proveedores - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Logística</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_proveedores')}}">Proveedores</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>PROVEEDORES</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Proveedor"><i class="icon-plus"></i></a>
				<!-- a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a -->
			</div>
		</div>
		<div class="box-content">
		<table class="table table-striped table-bordered bootstrap-datatable datatable" id="proveedores_table">
			<thead>
				<tr>
					<th>RUC</th>
					<th>Razón Social</th>
					<th>Teléfono</th>
					<th>Email</th>
					<th></th>
					<th></th>
				</tr>
			</thead>   
			<tbody>
			</tbody>
		</table>
		{% include 'DicarsLogisticaBundle:Default:registrar_proveedor.html.twig' %}
		<div class="modal hide fade" id="modalEditarDatos">
			<div class="modal-header">
				<h3>Editar Proveedor</h3>
			</div>
			<form id="EditarProveedorForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_editar_proveedor') }}">
			</form>
		</div>
		<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<h3>Datos del Proveedor</h3>
			</div>
			<div id="VerProveedor" class="form-horizontal">
			</div>
		</div>      
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var oTable;

var ReloadTableEditar;
var ReloadTableRegistrar;
var CargarBotones;

function cargarEditar(proveedor){	
	
	ArrayDatos = [	{'type':'hidden','value':proveedor.id,'name':'idE'},
	          		{'label':'RUC','type':'input', 'typeinput':'text','pattern':'[0-9]{11,}','title':'Debe tener el formato correcto: 11 digitos numericos', 'req':'', 'max':'11','value':proveedor.ruc,'name':'rucE'},
	              	{'label':'Razón Social','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáéíóúüç.0-9]*$|','title':'Debe tener el formato correcto: solo letras', 'req':'', 'max':'200','value':proveedor.razonsocial,'name':'razonsocialE'},
	              	{'label':'Cuenta Corriente','type':'input','typeinput':'text','pattern':'|^([0-9]+\s*)+$|','title':'Debe tener el formato correcto', 'req':'', 'max':'20','value':proveedor.ccorriente,'name':'ccorrienteE'},
	              	{'label':'Dirección','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç0-9]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'200','value':proveedor.direccion,'name':'direccionE'},
	              	{'label':'Teléfono','type':'input','typeinput':'text','pattern':'[0-9]{9,}','title':'Debe tener el formato correcto', 'req':'', 'max':'9','value':proveedor.telefono,'name':'telefonoE'},
	              	{'label':'Email','type':'input','typeinput':'text','pattern':'|^[a-zA-Z0-9 ñÑáÁéÉíÍóÓúÚüÜç@.]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'100','value':proveedor.email,'name':'emailE'},
	              	{'label':'Página Web','type':'input','typeinput':'text','pattern':'|^[a-zA-Z ñÑáÁéÉíÍóÓúÚüÜç@.0-9]*$|','title':'Debe tener el formato correcto', 'req':'', 'max':'150','value':proveedor.sitioweb,'name':'paginawebE'},
					{'type':'actions'}];
		
	$("#EditarProveedorForm").html(crearElementosForm(ArrayDatos));
	docReady();
}

function cargarVer(proveedor){		

	ArrayDatos = [	{'label':'RUC','type':'span','value':proveedor.ruc},
	              	{'label':'Razón Social','type':'span','value':proveedor.razonsocial},
	              	{'label':'Cuenta Corriente','type':'span','value':proveedor.ccorriente},
	              	{'label':'Dirección','type':'span','value':proveedor.direccion},
	              	{'label':'Teléfono','type':'span','value':proveedor.telefono},
	              	{'label':'Email','type':'span','value':proveedor.email},
	              	{'label':'Página Web','type':'span','value':proveedor.sitioweb},
					{'type':'close'}];
		
	$("#VerProveedor").html(crearElementosForm(ArrayDatos));
}
//Init------------------------------------>
$(document).ready(function(){

	RowCallBackFunction = function(nRow, aData, iDisplayIndex){
		$(nRow).find('.btn-datos').click(function(e){
			e.preventDefault();
			cargarVer(aData);
			$('#modalVerDatos').modal('show');
		});
		$(nRow).find('.btn-editar').click(function(e){
			e.preventDefault();
			cargarEditar(aData);
			$('#modalEditarDatos').modal('show');
		});
	};

	/*$('telefonoE').attr('pattern','|^\d{9}$|');*/

	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistroProveedores').modal('show');
	});	

	UrlaDTable = '{{ path("dicars_logistica_servicio_gettablaproveedores") }}';
	FormatoDTable = [
		              { "sWidth": "14%","mDataProp": "ruc"},
		              { "sWidth": "14%","mDataProp": "razonsocial"},
		              { "sWidth": "14%","mDataProp": "telefono"},
		              { "sWidth": "14%","mDataProp": "email"},
		              { "sWidth": "14%","mDataProp": "ver_btn"},
		              { "sWidth": "14%","mDataProp": "edit_btn"}
		              ];
	oTable = createDataTable('proveedores_table',UrlaDTable,FormatoDTable,null, RowCallBackFunction);

});

ReloadTableRegistrar = reloadclosemodal('modalRegistroProveedores', 'proveedores_table');
ReloadTableEditar = reloadclosemodal('modalEditarDatos', 'proveedores_table');

enviar('RegistrarProveedorForm', ReloadTableRegistrar);
enviar('EditarProveedorForm', ReloadTableEditar);

</script>
{% endblock %}
