{% extends "::baseCharisma.html.twig" %}
{% block title %}Proveedores - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_ventas_homepage')}}">Logística</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_proveedores')}}">Proveedores</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Proveedores</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-registrar btn-round" alt="Registrar Proveedor"><i class="icon-plus"></i></a>
				<!-- a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a -->
			</div>
		</div>
		<div class="box-content">
		<table class="table table-striped table-bordered bootstrap-datatable datatable" id="proveedores_table">
			<thead>
				<tr>
					<th>RUC</th>
					<th>Razón Social</th>
					<th>Teléfono</th>
					<th>Email</th>
					<th>Página Web</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>   
			<tbody>
			</tbody>
		</table>
		{% include 'DicarsLogisticaBundle:Default:registrar_proveedor.html.twig' %}
		<div class="modal hide fade" id="modalEditarDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Editar Proveedor</h3>
			</div>
			<div class="modal-body">
				<form id="EditarProveedorForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_editar_proveedor') }}">
				</form>
			</div>
		</div>
		<div class="modal hide fade" id="modalVerDatos">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>Datos del Proveedor</h3>
			</div>
			<div class="modal-body">
				<div id="VerProveedor" class="form-horizontal">
				</div>
			</div>
		</div>      
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ asset('js/util/functiongen.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/util/datatable_plugins.js') }}"></script>

<script type="text/javascript">

var oTable;

var ReloadTableEditar;
var ReloadTableRegistrar;
var CargarBotones;

function cargarEditar(id){
	url = "{{ path('dicars_logistica_servicio_getproveedorbyid', {'id': ''}) }}/"+id;
	proveedor = getAjaxObject(url);			

	ArrayDatos = [	{'type':'hidden','value':proveedor.id,'name':'id'},
	          		{'label':'RUC','type':'input', 'typeinput':'text','value':proveedor.ruc,'name':'ruc'},
	              	{'label':'Razón Social','type':'input','typeinput':'text','value':proveedor.razonsocial,'name':'razonsocial'},
	              	{'label':'Cuenta Corriente','type':'input','typeinput':'text','value':proveedor.ccorriente,'name':'ccorriente'},
	              	{'label':'Dirección','type':'input','typeinput':'text','value':proveedor.direccion,'name':'direccion'},
	              	{'label':'Teléfono','type':'input','typeinput':'text','value':proveedor.telefono,'name':'telefono'},
	              	{'label':'Email','type':'input','typeinput':'text','value':proveedor.email,'name':'email'},
	              	{'label':'Página Web','type':'input','typeinput':'text','value':proveedor.sitioweb,'name':'paginaweb'},
					{'type':'actions'}];
		
	$("#EditarProveedorForm").html(crearElementosForm(ArrayDatos));
	docReady();
}

function cargarVer(id){
	url = "{{ path('dicars_logistica_servicio_getproveedorbyid', {'id': ''}) }}/"+id;
	proveedor = getAjaxObject(url);			

	ArrayDatos = [	{'label':'RUC','type':'span','value':proveedor.ruc},
	              	{'label':'Razón Social','type':'span','value':proveedor.razonsocial},
	              	{'label':'Cuenta Corriente','type':'span','value':proveedor.ccorriente},
	              	{'label':'Dirección','type':'span','value':proveedor.direccion},
	              	{'label':'Teléfono','type':'span','value':proveedor.telefono},
	              	{'label':'Email','type':'span','value':proveedor.email},
	              	{'label':'Página Web','type':'span','value':proveedor.sitioweb},
					{'type':'close'}];
		
	$("#VerProveedor").html(crearElementosForm(ArrayDatos));
}
//Init------------------------------------>
$(document).ready(function(){

	CargarBotones = function(){
		//mostrar Editar Cliente------------------------------------>
		$('.btn-editar').click(function(e){
			e.preventDefault();
			$('#modalEditarDatos').modal('show');
			id=$(this).attr("id-data");		
			cargarEditar(id);
		});
		
		//mostrar Ver Datos Cliente------------------------------------>
		$('.btn-datos').click(function(e){
			e.preventDefault();
			$('#modalVerDatos').modal('show');
			id=$(this).attr("id-data");		
			cargarVer(id);	
		});		
	};

	//mostrar Registrar Cliente------------------------------------>
	$('.btn-registrar').click(function(e){
		e.preventDefault();
		$('#modalRegistroProveedores').modal('show');
	});	

	UrlaDTable = '{{ path("dicars_logistica_servicio_gettablaproveedores") }}';
	FormatoDTable = [
		              { "sWidth": "12%","mDataProp": "ruc"},
		              { "sWidth": "12%","mDataProp": "razonsocial"},
		              { "sWidth": "12%","mDataProp": "telefono"},
		              { "sWidth": "12%","mDataProp": "email"},
		              { "sWidth": "12%","mDataProp": "sitioweb"},
		              { "sWidth": "13%","mDataProp": "ver_btn"},
		              { "sWidth": "13%","mDataProp": "edit_btn"},
		              { "sWidth": "14%","mDataProp": "elim_btn"}
		              ];
	oTable = createDataTable('proveedores_table',UrlaDTable,FormatoDTable,CargarBotones);

});

ReloadTableRegistrar = reloadclosemodal('modalRegistroProveedores', 'proveedores_table');
ReloadTableEditar = reloadclosemodal('modalEditarDatos', 'proveedores_table');

enviar('RegistrarProveedorForm', ReloadTableRegistrar);
enviar('EditarProveedorForm', ReloadTableEditar);

</script>
{% endblock %}