{% extends "::baseCharisma.html.twig" %}
{% block title %}Saldo Inicial - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a> <span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_saldoini')}}">Saldos</a>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>SALDOS</h2>
		</div>
		<div class="box-content">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active"><a href="#inicial">Saldos Iniciales</a></li>
				<li><a href="#actual">Saldos Actuales</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active" id="inicial">
					<h3>Saldos Iniciales</h3>
					<div class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<div class="controls">
									<input type="text" class="input-xlarge datepicker" id="date01" style="margin: 0 18px 0 0;">
									<button id="buscarfecha" type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
								</div>
							</div>
						</fieldset>
					</div>
					<table id="saldoini_table" class="table table-striped table-bordered bootstrap-datatable datatable">
					  <thead>
						  <tr>
							  <th>Año</th>
							  <th>Mes</th>
							  <th>Producto</th>
							  <th>Cantidad</th>
							  <th>Prec. Unitario s/.</th>
							  <th>Total s/.</th>
						  </tr>
					  </thead>   
					  <tbody>
					  </tbody>
				  </table>
				</div>
				<div class="tab-pane" id="actual">
					<h3>Saldos Actuales</h3>
					<div class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<div class="controls">
									<input type="text" class="input-xlarge datepicker" id="date02" style="margin: 0 18px 0 0;">
									<button id="buscarfecha2" type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
								</div>
							</div>
						</fieldset>
					</div>
					<table id="saldoactual_table" class="table table-striped table-bordered bootstrap-datatable datatable">
					  <thead>
						  <tr>
							  <th>Año</th>
							  <th>Mes</th>
							  <th>Producto</th>
							  <th>Cantidad</th>
							  <th>Prec. Unitario s/.</th>
							  <th>Total s/.</th>
						  </tr>
					  </thead>   
					  <tbody>
					  </tbody>
				  </table>
				</div>
			</div>       
		</div>
	</div><!--/span-->
</div><!--/row-->

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

var UrlaDTable;
var UrlaDTable2;

var saldoiniTable;
var saldoactualTable;

function getUrlRangoFecha(tipo){
	var Urlreturn = '';
	if(tipo == 1){ //saldos iniciales
		var date01 = $("#date01").val().split('/');
		var fecha = date01[2]+'-'+date01[1]+'-'+date01[0];
		Urlreturn = '{{ path("dicars_logistica_servicio_gettablasaldos",{"fecha":"fecha"}) }}';
		Urlreturn = Urlreturn.replace('fecha',fecha);
	}
	else{ //stock actual
		var date02 = $("#date02").val().split('/');
		var fecha = date02[2]+'-'+date02[1]+'-'+date02[0];
		Urlreturn = '{{ path("dicars_logistica_servicio_gettablasaldoactual",{"fecha":"fecha"}) }}';
		Urlreturn = Urlreturn.replace('fecha',fecha);
	}
	return Urlreturn;
}

$(document).ready(function(){
	
	$("#date01").val(fechaAhora());
	$("#date02").val(fechaAhora());
	
	$('#buscarfecha').click(function(e){
		e.preventDefault();
		UrlaDTable = getUrlRangoFecha(1);
		saldoiniTable.fnReloadAjax(UrlaDTable);
	});

	$('#buscarfecha2').click(function(e){
		e.preventDefault();
		UrlaDTable2 = getUrlRangoFecha(2);
		saldoactualTable.fnReloadAjax(UrlaDTable2);
	});
	
	UrlaDTable = getUrlRangoFecha(1);
	FormatoDTable = [
	              { "sWidth": "10%","mDataProp": "Anio"},
	              { "sWidth": "13%","mDataProp": "Mes"},
	              { "sWidth": "20%","mDataProp": "Producto"},
	              { "sWidth": "11%","mDataProp": "Stock"},
	              { "sWidth": "13%","mDataProp": "PrecUnit"},
	              { "sWidth": "11%","mDataProp": "PrecTotal"}
	              ];
	saldoiniTable = createDataTable('saldoini_table',UrlaDTable,FormatoDTable);

	UrlaDTable2 = getUrlRangoFecha(2);
	FormatoDTable2 = [
	              { "sWidth": "10%","mDataProp": "Anio"},
	              { "sWidth": "13%","mDataProp": "Mes"},
	              { "sWidth": "20%","mDataProp": "Producto"},
	              { "sWidth": "11%","mDataProp": "Stock"},
	              { "sWidth": "13%","mDataProp": "PrecUnit"},
	              { "sWidth": "11%","mDataProp": "PrecTot"}
	              ];
	saldoactualTable = createDataTable('saldoactual_table',UrlaDTable2,FormatoDTable2);
});
	
</script>
{% endblock %}