{% extends "::baseCharisma.html.twig" %}
{% block title %}Salida Productos: Registrar - Logística -{% endblock %}
{% block breadcrumb %}
<li>
	<a href="{{path('dicars_logistica_homepage')}}">Logística</a><span class="divider">/</span>
</li>
<li>
	<a href="{{path('dicars_logistica_reg_salidaproductos')}}">Salida Productos: Registrar</a>
</li>
</li>
{% endblock %}
{% block content %}
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>Salida Productos: Registrar</h2>
		</div>
		<div class="box-content">
			<form id="RegistrarSalidaForm" class="form-horizontal" method="post" action="{{ path('dicars_logistica_registrar_salida_producto') }}">
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="codigo">Código</label>
								<div class="controls">
									<input id="serie" name="serie" type="text" style="width:40px;" maxlength="4">
									-
									<input id="numero" name="numero" type="text" style="width:60px;" maxlength="8">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="registrador">Registrador</label>
								<div class="controls">
									<input class="input-xlarge focused" id="registrador" name="registrador" type="text" readonly>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="motivo">Motivo</label>
								<div class="controls">
									<select class="input-xlarge focused" id="motivo" name="motivo" required>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="tienda">Tienda</label>
								<div class="controls">
								  	<input class="input-xlarge focused" id="tienda" name="tienda" type="text" readonly>
								  	<input type="hidden" id="tiendaID" name="tiendaId">
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="control-group">
								<label class="control-label" for="fecha">Fecha</label>
								<div class="controls">
									<input class="input-xlarge datepicker" id="fecha" name="fecha" type="text" required>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="solicitante">Solicitante</label>
								<div class="controls">
									<input class="input-xlarge focused" id="solicitante" name="solicitante" type="text" readonly>
									<input class="input-xlarge focused" id="solicitante_id" name="solicitante_id" type="hidden">
									<button class="btn btn-info btn-solicitante" style="margin-left: 15px;"><i class="icon-user icon-white"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="observaciones">Observaciones</label>
						<div class="controls">
							<textarea id="observaciones" name="observaciones" class="input-xlarge"></textarea>
						</div>
					</div>
				</fieldset>
			</form>
			<form id="AgregarProductoForm" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="producto">Producto</label>
					<div class="controls">
						<input class="input-xlarge focused" id="producto" name="producto" type="text" readonly>
					  	<button type="button" class="btn btn-info btn-buscarp" style="margin: 0 18px;"><i class="icon-search icon-white"></i>Buscar</button>
						<label style="display:inline;" for="cantidad">Cantidad</label>
						<input id="cantidad" name="cantidad" type="number" style="margin: 0 18px 0 0;">
						<button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i>Agregar</button>
					</div>
				</div>
			</form>
			<hr>
			<h3>Productos a Salir</h3>
			<hr>
			<table id="salida_productos_table" name="salida_productos_table" class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					  <tr>
						  <th>Código</th>
						  <th>Nombre</th>
						  <th>Stock</th>
						  <th>Precio</th>
						  <th>Acciones</th>
					  </tr>
				</thead>   
				<tbody>
				</tbody>
			</table>
			<hr>
			<div class="form-horizontal">
				<div class="form-actions">
					<button class="btn" ><i class="icon-print"></i>Imprimir</button>
					<button id="enviar_salida_producto" type="button" class="btn btn-primary"><i class="icon icon-white icon-save"></i>Guardar</button>
				</div>
			</div>
			{% include 'DicarsVentasBundle:Default:buscarproducto.html.twig' %}
			{% include 'DicarsVentasBundle:Default:buscartrabajador.html.twig' %}
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/util/functiongen.js') }}"></script>
<script src="{{ asset('js/util/datatable_plugins.js') }}"></script>
<script type="text/javascript">

var BuscarProductosTable;
var BuscarTrabajadorTable;
var SelectProductosTable;

//Se almacena la data de la tabla de los productos seleccionados
var SelectProductosTableData =  new Array();
//Se almacena el producto/trabajador seleccionado
var SelectProductoData = new Array();

var SelectTrabajadorData = new Array();

var Attr = ['id','cantidad'];

var RowCallBackFunctionProducto = getSimpleSelectRowCallBack(SelectProductoData,"select_producto_table");
var RowCallBackFunctionTrabajador = getSimpleSelectRowCallBack(SelectTrabajadorData,"select_trabajador_table");

$(document).ready(function(){

	constantes = getAjaxObject("{{ path('dicars_admin_servicio_getoptionconstantes') }}");
	cargarSelectConstante('motivo', 'Motivo de Salida', constantes);

	//mostrar Buscar Cliente------------------------------------>
	$('.btn-solicitante').click(function(e){
		e.preventDefault();
		$('#modalBuscarTrabajador').modal('show');
	});
	//mostrar Buscar Producto------------------------------------>
	$('.btn-buscarp').click(function(e){
		e.preventDefault();
		$('#modalBuscarProducto').modal('show');
	});
	//mostrar Seleccionar Trabajador------------------------------------>
	$("#select_trabajador").click(function(e){
		e.preventDefault();
		var data = SelectTrabajadorData[0];
		$('#solicitante').val(data.nombres + " " + data.apellidos);
		$('#solicitante_id').val(data.id);
		$('#modalBuscarTrabajador').modal('hide');
	});
	$("#select_producto").click(function(e){
		e.preventDefault();
		var data = SelectProductoData[0];
		$('#producto').val(data.id+" - "+data.nombre);
		$('#modalBuscarProducto').modal('hide');
	});
	$("#agregar_producto").click(function(e){
		e.preventDefault();
		$(SelectProductosTable).dataTable().fnAddData(SelectProductoData);
		$('#producto').val("");
		SelectProductoData.pop();
	});

	$("#AgregarProductoForm").submit(function(e){
		e.preventDefault();
		if(SelectProductoData.length > 0){
			SelectProductoData[0].cantidad = $('#cantidad').val();
			SelectProductosTable.fnAddData(SelectProductoData);
			$('#producto').val("");
			$('#cantidad').val("");
			SelectProductoData.pop();
			Array2 = SelectProductosTable.fnGetData();
			CopyArray(SelectProductosTableData,Array2,false,Attr);
		}
	});

	$("#enviar_salida_producto").click(function(e){
		$("#RegistrarSalidaForm").submit();
	});
	
	UrlaDTableProductos = '{{ path("dicars_logistica_servicio_gettablaproductos") }}';
	FormatoDTableProductos = [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "pcontado"}
		              ];
	BuscarProductosTable = createDataTable('select_producto_table',UrlaDTableProductos,FormatoDTableProductos,null,RowCallBackFunctionProducto);

	SelectProductosTable = $("#salida_productos_table").dataTable({
		"aoColumns": [
		              { "sWidth": "12%","mDataProp": "id"},
		              { "sWidth": "12%","mDataProp": "nombre"},
		              { "sWidth": "12%","mDataProp": "stock"},
		              { "sWidth": "12%","mDataProp": "pcontado"},
		              { "sWidth": "12%","mDataProp": "elim_btn"}
		              ],
        "fnCreatedRow": function( nRow, aData, iDisplayIndex ) {
      			$(nRow).find('a').click(function(e){
      				e.preventDefault();
      				var index = $(SelectProductosTable.fnGetData()).getIndexObj(aData,'id');
      				SelectProductosTable.fnDeleteRow( index );
      				Array2 = SelectProductosTable.fnGetData();
      				CopyArray(SelectProductosTableData,Array2,false,Attr);
      			});
      	},
		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
		"sLengthMenu": "_MENU_ registros por pagina"
		}
	});
	
	UrlaDTableTrabajadores = '{{ path("dicars_ventas_servicio_gettablaempleados") }}';
	FormatoDTableTrabajadores = [
		              { "sWidth": "12%","mDataProp": "nombres"},
		              { "sWidth": "12%","mDataProp": "apellidos"},
		              { "sWidth": "12%","mDataProp": "dni"},
		              { "sWidth": "12%","mDataProp": "telefono"}
		              ];
	
	BuscarTrabajadorTable = createDataTable('select_trabajador_table',UrlaDTableTrabajadores,FormatoDTableTrabajadores,null,RowCallBackFunctionTrabajador);
	enviar("RegistrarSalidaForm",logdata,SelectProductosTableData);
});
</script>
{% endblock %}